<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:fragment="headFragment">

	<div class="d-flex justify-content-center">
		<div id="spinner" class="spinner-border" role="status">
			<span class="sr-only">Loading...</span>
		</div>
	</div>

	<nav class="navbar navbar-expand-sm navbar-light">
		<a style="font-size: 2rem;padding-right: 2rem;" class="navbar-brand" href="/main.com">Mo:mento</a>
		<div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/main.com}">Home <span class="sr-only">(current)</span>
					</a>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/imgup.com}">두피검사</a>
				</li>
			</ul>
		</div>
		<div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a th:if="${session.loginDto != null}" class="nav-link"
						th:utext="${session.loginDto.userNm +' 님 환영 합니다.'}" href="#" role="button">
						<span></span>
					</a>
				</li>
				<li class="nav-item">
					<a th:if="${session.loginDto == null}" class="nav-link" th:utext="로그인" th:href="@{/login.com}"
						role="button">
						<span></span>
					</a>
				</li>
				<li class="nav-item dropdown">
					<a th:if="${session.loginDto != null}" class="nav-link dropdown-toggle" href="http://example.com"
						id="dropdown08" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa-solid fa-bars"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="dropdown08">
						<a class="dropdown-item" th:href="@{/mypage.com}">My Page</a>
						<a class="dropdown-item" th:href="@{/logout.com}">로그아웃</a>
					</div>
				</li>
			</ul>
		</div>
	</nav>
	<hr>
	<!-- /.navbar -->
	<script>
  let spinner = document.getElementById('spinner');
  spinner.style.visibility = 'visible';
</script>  
</th:block>

</html>