<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:fragment="headFragment">
	<nav class="navbar navbar-expand navbar-white navbar-light">
		<!-- Left navbar links -->
		<ul class="navbar-nav">
			<li class="nav-item d-none d-sm-inline-block"><a href="/main.com" class="nav-link">Home</a></li>
		</ul>

		<!-- Right navbar links -->
		<ul th:if="${session.loginDto != null}" class="navbar-nav ml-auto">
			<!-- Notifications Dropdown Menu -->
			<li class="nav-item"><a class="nav-link" th:utext="${session.loginDto.userId +' 님 환영 합니다.'}" href="#" role="button">
					<span></span>
				</a></li>
			<li class="nav-item"><a th:text="로그아웃" class="nav-link" href="/std/login/out" role="button">
				</a>
			</li>
			<li class="nav-item"><a th:text="마이페이지" class="nav-link" href="/mypage.com" role="button"><i class="fas fa-sliders-h"></i>
				</a>
			</li>
			<li class="nav-item"><a class="nav-link" data-widget="fullscreen" href="#" role="button"> <i
						class="fas fa-expand-arrows-alt"></i>
				</a></li>
		</ul>
	</nav>
	<!-- /.navbar -->
</th:block>

</html>