<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<th:block th:fragment="leftFragment">
	<!-- Sidebar -->
	<aside class="main-sidebar sidebar-dark-primary elevation-4">
		<div class="sidebar">
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">
					<img style="width: 34px; height: 34px;" th:if="${session.loginDto.imgPath == null}"
						th:src="@{/img/headimg-2.jpg}" class="img-circle elevation-2" alt="User Image">
					<img style="width: 34px; height: 34px;" th:unless="${session.loginDto.imgPath == null}"
						th:src="'data:image/jpeg;base64,' + ${session.loginDto.imgPath}" class="img-circle elevation-2"
						alt="User Image">
				</div>
				<div class="info">
					<a th:utext="${session.loginDto.userId}" class="d-block"></a>
				</div>
			</div>
			<nav id="append" class="mt-2">
			</nav>
		</div>
	</aside>
	<!-- Sidebar Menu -->
	<script>
		function recursive(data, x, logo) {
			var str = '<ul class="nav nav-treeview">';
			$.each(data, function (i) {
				if (x == data[i].UPPER_MENU_NO) {
					str += '<li class="nav-item">'
						+ '<a href="' + data[i].PATH + '" class="nav-link" target="' + data[i].TARGET + '">'
						+ '<i class="far ' + logo + ' nav-icon"></i>'
						+ '<p>' + data[i].MENU_NAME + '</p></a>'
						+ recursive(data, data[i].PK_MENU_SEQ, 'fa-dat-circle')
						+ '</li>'
				}
			});
			str += '</ul>';
			if (str == '<ul class="nav nav-treeview"></ul>') {
				str = '';
			}
			return str
		}

		function getMenu() {
			$.ajax({
				type: "POST",
				url: "/getall.com",
				dataType: "json",
				success: function (data) {
					var educationName = "";
					var subjectList = data.subjectList;
					var menuList = data.menuList;
					str = '<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">'
						+ '<li class="nav-item">'
						+ '<a href="#" class="nav-link">'
						+ '<i class="nav-icon fas fa-th"></i>'
						+ '<p>교육</p>'
						+ '<i class="right fas fa-angle-left"></i></a>'
						+ '<ul class="nav nav-treeview">';
					$.each(subjectList, function (i) {
						if (educationName != subjectList[i].subjectState) {
							educationName = subjectList[i].subjectState
							if (i != 0) {
								str += '</ul></li>'
							}
							str += '<li class="nav-item">'
								+ '<a href="#" class="nav-link">'
								+ '<i class="far fa-circle nav-icon"></i>'
								+ '<p>' + subjectList[i].subjectState + '</p></a>'
								+ '<ul class="nav nav-treeview">'
						}
						str += '<li class="nav-item">'
							+ '<a href="/std/' + subjectList[i].pkSubjectSeq + '/subject/main" class="nav-link">'
							+ '<i class="far fa-dat-circle nav-icon"></i>'
							+ '<p>' + subjectList[i].subjectName + '</p></a></li>'
					});
					str += '</ul></li>'
					if (subjectList.length != 0) {
						str += '</ul></li>'
					}
					$.each(menuList, function (i) {
						if (0 == menuList[i].UPPER_MENU_NO) {
							str += '<li class="nav-item">'
								+ '<a href="' + menuList[i].PATH + '" class="nav-link">'
								+ '<i class="nav-icon fas fa-th"></i>'
								+ '<p>' + menuList[i].MENU_NAME + '</p>'
								+ '<i class="right fas fa-angle-left"></i></a>'
								+ recursive(menuList, menuList[i].PK_MENU_SEQ, 'fa-circle')
								+ '</li>';
						}
					});
					str += '</ul>';
					$("#append").append(str);
					$('a[href="/startgame.com"]').attr('onclick', 'window.open(this.href, \'\', \'width=976, height=700\'); return false;');

				},
				error: function (error) {
					console.log(error);
				}
			});
		};

	</script>
	<script>
		
		// 코드를 로드한 후 바로 실행
		getMenu();
		$(document).ready(function () {
			 
		});
	</script>
</th:block>

</html>