<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mng/mngDeshboardLayout}">
<!-- Wrapper -->
<th:block layout:fragment="content">
	<form th:action="@{${divn == 'create' ? '/mng/ai/question/create' : '/mng/ai/question/update'}}" method="post">
		<input id="pkQuestionSeq" name="pkQuestionSeq" type="hidden" class="form-control validate"
			th:if="${result != null}" th:value="${result.pkQuestionSeq}" />

		<div class="col-sm-9 p-3">
			<div class="form-group">
				<label>유형</label>
				<div class="form-group">
					<div class="row">
						<div class="col-2">
							<div class="custom-control custom-radio">
								<input class="custom-control-input" type="radio" id="customRadio1" name="type"
									th:if="${result != null}" value="기업과 협업" th:checked="${result.type == '기업과 협업'}">
								<input class="custom-control-input" type="radio" id="customRadio1" name="type"
									th:if="${result == null}" value="기업과 협업">
								<label for="customRadio1" class="custom-control-label">기업과 협업</label>
							</div>
						</div>
						<div class="col-2">
							<div class="custom-control custom-radio">
								<input class="custom-control-input" type="radio" id="customRadio2" name="type"
									th:if="${result != null}" value="디지털 디바이스와 IoT"
									th:checked="${result.type == '디지털 디바이스와 IoT'}">
								<input class="custom-control-input" type="radio" id="customRadio2" name="type"
									th:if="${result == null}" value="디지털 디바이스와 IoT">
								<label for="customRadio2" class="custom-control-label">디지털 디바이스와 IoT</label>
							</div>
						</div>
						<div class="col-2">
							<div class="custom-control custom-radio">
								<input class="custom-control-input" type="radio" id="customRadio3" name="type"
									th:if="${result != null}" value="미래기술과 혁신"
									th:checked="${result.type == '미래기술과 혁신'}">
								<input class="custom-control-input" type="radio" id="customRadio3" name="type"
									th:if="${result == null}" value="미래기술과 혁신">
								<label for="customRadio3" class="custom-control-label">미래기술과 혁신</label>
							</div>
						</div>
						<div class="col-2">
							<div class="custom-control custom-radio">
								<input class="custom-control-input" type="radio" id="customRadio4" name="type"
									th:if="${result != null}" value="보안 및 오픈소스"
									th:checked="${result.type == '보안 및 오픈소스'}">
								<input class="custom-control-input" type="radio" id="customRadio4" name="type"
									th:if="${result == null}" value="보안 및 오픈소스">
								<label for="customRadio4" class="custom-control-label">보안 및 오픈소스</label>
							</div>
						</div>
						<div class="col-2">
							<div class="custom-control custom-radio">
								<input class="custom-control-input" type="radio" id="customRadio5" name="type"
									th:if="${result != null}" value="컴퓨팅 기술" th:checked="${result.type == '컴퓨팅 기술'}">
								<input class="custom-control-input" type="radio" id="customRadio5" name="type"
									th:if="${result == null}" value="컴퓨팅 기술">
								<label for="customRadio5" class="custom-control-label">컴퓨팅 기술</label>
							</div>
						</div>
					</div>
				</div>

			</div>
			</button>
		</div>
		<div class="row p-3">
			<div class="col-sm-9 p-3">
				<div class="form-group">
					<label>제목</label>
					<textarea id="title" name="title" type="text" class="form-control validate"
						th:if="${result != null}" th:text="${result.title}" th:remove="tag"></textarea>
					<textarea id="title" name="title" type="text" class="form-control validate"
						th:if="${result == null}"></textarea>
				</div>
			</div>
			<div class="col-sm-9 p-3">
				<div class="form-group">
					<label>기사</label>
					<textarea id="passage" name="passage" type="text" class="form-control validate"
						th:if="${result != null}" th:text="${result.passage}" th:remove="tag"></textarea>
					<textarea id="passage" name="passage" type="text" class="form-control validate"
						th:if="${result == null}"></textarea>
				</div>
			</div>
			<div class="col-sm-9 p-3">
				<div class="form-group">
					<label>URL</label>
					<input id="url" name="url" type="text" class="form-control validate" th:if="${result != null}"
						th:value="${result.url}" />
					<input id="url" name="url" type="text" class="form-control validate" th:if="${result == null}" />
				</div>
				<div class="col-7" style="float: right;">
					<button type="submit" th:if="${divn == 'create'}" class="btn btn-primary modelBtn"
						onclick="validation(this)">
						<span>요약</span>
				</div>
				</button>
			</div>

		</div>
		<div class="col-sm-9 p-3">
			<div class="form-group">
				<label>문제</label>
				<textarea id="questionName" name="questionName" type="text" class="form-control validate"
					th:if="${result != null}" th:text="${result.questionName}"></textarea>
				<textarea id="questionName" name="questionName" type="text" class="form-control validate"
					th:if="${result == null}"></textarea>
			</div>
		</div>
		<div class="col-sm-9 p-3">
			<div class="form-group">
				<label>키워드</label>
				<textarea id="solution" name="solution" type="text" class="form-control validate"
					th:if="${result != null}" th:text="${result.solution}"></textarea>
				<textarea id="solution" name="solution" type="text" class="form-control validate"
					th:if="${result == null}"></textarea>
			</div>
			<div class="col-7" style="float: right;">
				<button type="submit" th:if="${divn == 'create'}" class="btn btn-primary modelBtn"
					onclick="validation(this)">
					<span>등록</span>
			</div>
		</div>


		<div class="modal-footer">
			<button type="submit" th:if="${divn == 'update'}" class="btn btn-info modelBtn" onclick="validation(this)">
				<span>수정</span>
			</button>
		</div>
	</form>
</th:block>

</html>