<!DOCTYPE html>
<html lang="ko">
	<head>
  	<meta charset="UTF-8">
  	<title>Gnjoy</title>
	<link rel="stylesheet" href="gameingteam.css">
	<link th:href="@{/css/dice.css}" rel="stylesheet"> 
	<link th:href="@{/css/adminlte.gameingteam.css}" rel="stylesheet">
	</head>
	<body>
		<div id="container">
      		<div id="header"></div>
			
			<!--side right -->
			    <div id="sidebar">
					<div class="gamequiz">
						<p>
							Time 15:00min<br>
							<span>7</span>번<br>
						</p>
					</div>
					<div class="quizbtn">
						<button>답변등록</button>
						<button>포기하기</button>
					</div>
					<div class="chat-veiw">
						<p class="fontp">
							<b class="fontb">>>게임이 시작됬습니다..</b><br>
							>>7번 문제 입니다. <br>
							>>시간안에 가장 빠르게 푸는 팀이 땅을 차지합니다.<br>
							>>채팅을 통해 상의가 가능합니다.
						</p>
					</div>
					<div class="chat-input">
						<from><input type="text" id="chat" size=19>
							<button class="btnchat" type="submit">등록</button>
						</from>
						
							
					</div>
					<button class="btn" type="button">시작</button>	
					<button class="btnlogout" type="button">나가기</button>		
				</div>
			
			<!--content game -->
      		<div id="content">
				<div class="user">
					<div class="team1">
						<div class="t1-user1"></div>
						<div class="t1-user1"></div>
						<div class="t1-user1"></div>
						<div class="t1-nouser"></div>						
					</div>
					<div class="team2">
						<div class="t2-user1"></div>
						<div class="t2-user1"></div>
						<div class="t2-user1"></div>
						<div class="t2-nouser"></div>
					</div>
					<div class="team3">
						<div class="t3-user1"></div>
						<div class="t3-user1"></div>
						<div class="t3-user1"></div>
						<div class="t3-nouser"></div>
					</div>
					<div class="team4">
						<div class="t4-user1"></div>
						<div class="t4-user1"></div>
						<div class="t4-user1"></div>
						<div class="t4-nouser"></div>
					</div>
				</div>
				<div class="dicearea">
					
				</div>
				<div class="quiz">
					<t

				</div>
			</div>
		</div>
	</body>
</html>