<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block>
    <th:block th:fragment="content">

        <div class="container">
            <div class="col-6">
                <h1>[[${room.roomName}]]</h1>
            </div>
            <div>
                <div id="msgArea" class="col"></div>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <input type="text" id="msg" class="form-control">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-send">전송</button>
                            <button class="btn btn-outline-secondary" type="button" id="system-test">방방봐.</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6"></div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        
    </th:block>
</th:block>
        <script th:inline="javascript">
            $(document).ready(function(){
		
                var roomName = /*[[${room.roomName}]]*/0;
                var roomId = /*[[${room.pkRoomSeq}]]*/0;
                var username = "333"

                console.log(roomName + ", " + roomId + ", " + username);

                var sockJs = new SockJS("/stomp/chat");
                //1. SockJS를 내부에 들고있는 stomp를 내어줌
                var stomp = Stomp.over(sockJs);

                //2. connection이 맺어지면 실행
                stomp.connect({}, function (){
                   console.log("STOMP Connection")

                   //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                   stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);
					   var chatContent = content.chatContent;
                       var writer = content.pkUserSeq;
                       var str = '';

                       
                       str = "<div class='col-6'>";
                       str += "<div class='alert alert-secondary'>";
                       str += "<b>" + writer + " : " + chatContent + "</b>";
                       str += "</div></div>";
                       $("#msgArea").append(str);  
                   });
                   stomp.subscribe("/sub/chat/system/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);
					   var chatContent = content.chatContent;
                       var writer = content.pkUserSeq;
                       var str = '';

                       str = "<div class='col-sys'>";
                       str += "<div class='alert alert-secondary'>";
                       str += "<b style='color:grey'>" + writer + " : " + chatContent + "</b>";
                       str += "</div></div>";
                       $("#msgArea").append(str);
					});
					
                   //3. send(path, header, message)로 메세지를 보낼 수 있음
                   stomp.send('/pub/chat/enter', {}, JSON.stringify({pkRoomSeq: roomId, pkUserSeq: username}))
                });
                
                $("#system-test").on("click", function(e){
					stomp.send('/pub/chat/system', {}, JSON.stringify({pkRoomSeq: roomId, pkUserSeq: "SYSTEM"}))
				})

                $("#button-send").on("click", function(e){
                    var msg = document.getElementById("msg");

                    console.log(username + ":" + msg.value);
                    stomp.send('/pub/chat/message', {}, JSON.stringify({pkRoomSeq: roomId, chatContent: msg.value, pkUserSeq: username}));
                    msg.value = '';
                });
            });
        </script>
</html>