<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<title>gameingteam</title>
	<link th:href="@{/css/dice.css}" rel="stylesheet">
	<link th:href="@{/css/gameingteam.css}" rel="stylesheet">
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	<link rel="stylesheet" href="./social-media-icons.css"> <!--글자 강조 홈페이지-->
	<script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>


</head>

<body>

	<div id="container">
		<div id="header"></div>

		<!--side right -->
		<div id="sidebar">
			<div class="gamequiz">
				<p class="pfont">
					Time : 15:00 min<br>
					유형 :<br>
					문제 <span>7</span>번<br>
					...
				</p>
			</div>
			<div class="quizbtn">
				<button class="answer" type="button">답변등록</button>
				<button class="discard" type="button">포기하기</button>
			</div>
			<div class="chat-veiw">
				<p class="fontp">
					<b class="fontb">>>게임을 시작합니다.</b><br>
					>>7번 문제 입니다. <br>
					>>시간안에 가장 빠르게 푸는 팀이 땅을 차지합니다.<br>
					>>채팅을 통해 상의가 가능합니다.
				</p>
			</div>
			<div class="chat-input">
				<from>
					<input type="text" id="chat" size=19>
					<button class="btnchat" type="submit">등록</button>
				</from>


			</div>
			<button class="btn" type="button">시작</button>
			<button class="btnlogout" type="button">나가기</button>
		</div>

		<!--content game -->
		<div id="content">
			<div class="user">
				<div class="team1">
					<div class="t1-user1"></div>
					<div class="t1-user1"></div>
					<div class="t1-user1"></div>
					<div class="t1-nouser"></div>
					<div class="t5-user2" style="background-color:rgb(128, 128, 255)" id="hover"></div>
				</div>
				<div class="team2">
					<div class="t2-user1"></div>
					<div class="t2-user1"></div>
					<div class="t2-user1"></div>
					<div class="t2-nouser"></div>
					<div class="t5-user2" style="background-color:rgb(0, 255, 128)"></div>
				</div>
				<div class="team3">
					<div class="t3-user1"></div>
					<div class="t3-user1"></div>
					<div class="t3-user1"></div>
					<div class="t3-nouser"></div>
					<div class="t5-user2" style="background-color:rgb(255, 128, 255)"></div>
				</div>
				<div class="team4">
					
					<div class="t4-user1"></div>
					<div class="t4-user1"></div>
					<div class="t4-user1"></div>
					<div class="t4-nouser"></div>
					<div class="t5-user2" style="background-color:gold"></div>
					
				</div>
			</div>
			<div class="dicearea">
				<div class="lottie-container">
					<div class="ricearea_col">
						<lottie-player class="rice1" src="https://assets4.lottiefiles.com/packages/lf20_VnhOCi.json"
							background="transparent" speed="1"></lottie-player>
						<!--loop autoplay-->
					</div>
					<div class="ricearea_row">
						<lottie-player class="rice2" src="https://assets4.lottiefiles.com/packages/lf20_VnhOCi.json"
							background="transparent" speed="1"></lottie-player>
					</div>
				</div>
			</div>
			<div class="quiz">
				<table class="table" id="board_table">
					<thead>
						<tr>
							<th></th>
							<th>1</th>
							<th>2</th>
							<th>3</th>
							<th>4</th>
							<th>5</th>
							<th>6</th>
						</tr>
					</thead>
					<tbody lass="tableborder">
						<tr>
							<th>1</th>
							<td class="hover_y">1</td>
							<td class="hover_y">2</td>
							<td class="hover_y">3</td>
							<td class="hover_y">4</td>
							<td class="hover_y">5</td>
							<td class="hover_y">6</td>
						</tr>
						<tr>
							<th>2</th>
							<td class="hover_y">7</td>
							<td class="hover_y">8</td>
							<td class="hover_y">9</td>
							<td class="hover_y">10</td>
							<td class="hover_y">11</td>
							<td class="hover_y">12</td>
						</tr>
						<tr>
							<th>3</th>
							<td class="hover_y">13</td>
							<td class="hover_y">14</td>
							<td class="hover_y">15</td>
							<td class="hover_y">16</td>
							<td class="hover_y">17</td>
							<td class="hover_y">18</td>
						</tr>
						<tr>
							<th>4</th>
							<td class="hover_y">19</td>
							<td class="hover_y">20</td>
							<td class="hover_y">21</td>
							<td class="hover_y">22</td>
							<td class="hover_y">23</td>
							<td class="hover_y">24</td>
						</tr>
						<tr>
							<th>5</th>
							<td class="hover_y">25</td>
							<td class="hover_y">26</td>
							<td class="hover_y">27</td>
							<td class="hover_y">28</td>
							<td class="hover_y">29</td>
							<td class="hover_y">30</td>
						</tr>
						<tr>
							<th>6</th>
							<td class="hover_y">31</td>
							<td class="hover_y">32</td>
							<td class="hover_y">33</td>
							<td class="hover_y">34</td>
							<td class="hover_y">35</td>
							<td class="hover_y">36</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
<script>
	
</script>
</html>