<!DOCTYPE html>
<html lang="ko">
	<head>
  	<meta charset="UTF-8">
  	<title>gameroom</title>
    <script src="https://kit.fontawesome.com/d1f64dfea6.js" crossorigin="anonymous"></script>
  	<link rel="stylesheet" href="gameroom.css">
  	<link rel="stylesheet" href="gameingteam.css">
	<link th:href="@{/css/dice.css}" rel="stylesheet"> 
	<link th:href="@{/css/gameWaiting.css}" rel="stylesheet">
	<style> </style>

	</head>
	<body>
		<div id="container">
      		<div id="header"></div>
			
			<!--side right -->
			    <div id="sidebar">
					<div class="side_User">
						<img src="profil.jpg" style="border-radius: 50px;" alt="exit" width="150px"height="150px">
						<div class="" style="font-weight:bold;">
							<span>ID : 보노보노</span><br><span> DCX기반 가산점</span>
						</div>
					</div>
				
					<button class="btnlogout" type="button">
						<img src="multi.png" padding="10px;" alt="exit" width="55px"height="55px">&nbsp;<span>같이하기</span>
					</button>	
					<button class="btnlogout" type="button">
						<img src="solo.png" padding="10px;" alt="exit" width="55px"height="55px">&nbsp;<span >혼자하기</span>
					</button>	
					<button class="btnlogout" type="button">
						<img src="out.png" padding="5px;" alt="exit" width="55px"height="55px">&nbsp;<span>나 가 기</span>
					 </button>		
				</div>
			
			<!--content game -->
      		<div id="content">
        		<div id="tabwrap">
                	<button class="menu1 on">전체</button>
                	<button class="menu2">팀</button>
					<button class="menu3">개인</button>

                	<div class="all">
						<div class="fillter">
							<button class="fbtn" type="button">빈방순▼</button>
                    		<button class="fbtn" type="button">난이도순▼</button>
							<button class="refresh" type="button">새로고침</button>
						</div>
						<div class="gameroom">
							<div class="M_gameroom_left">
								<div class="left">
									<from>
										<input class="startbtn" type="button" value="START">
									</from>
									
									<br>
									<span>Team_03  팀으로 겨뤼봐요</span>
									<br>
									<hr style="border: dotted 1px #FFC04D;">
									<br> <i class="fa-solid fa-users fa-xl"></i>&nbsp;1/4 
									<i class="fa-regular fa-circle-user fa-xl"></i>&nbsp;<span>2</span>&nbsp; &nbsp;&nbsp;&nbsp;<span>Easy</span>
								</div>
							</div>
							<div class="M_gameroom_right">
								<div class="right">
									<button class="startbtn" type="button"><img src="rock.png" padding="10px;" alt="exit" width="40px"height="40px"></button>
									<br> <span>Team_04  광주_자바페스티벌</span> <br><hr style="border: dotted 1px #FFC04D;"><br><i class="fa-solid fa-users fa-xl">
									</i>&nbsp;3/4 <i class="fa-regular fa-circle-user fa-xl"></i> <span>5</span> &nbsp;&nbsp;&nbsp;&nbsp;<span>Mid</span>
								</div>
							</div>
							<div class="S_gameroom_left">
								<div class="left">
									<button class="startbtn2" type="button"><img src="rock.png" padding="10px;" alt="exit" width="40px"height="40px"></i></button>
									<br><span>Solo_02 즐겁게 게임해요</span> <br><hr style="border: dotted 1px #0070c0;"><br><i class="fa-regular fa-circle-user fa-xl"></i> 
									<span>1/2</span> &nbsp; &nbsp;&nbsp;&nbsp;<span>Random</span>
								</div>
							</div>								
							<div class="S_gameroom_right">
								<div class="left">
									<button class="startbtn2" type="button">START</button>
									<br> <span>Solo_06 어려운 문제 도전</span><br><hr style="border: dotted 1px #0070c0;"><br> <i class="fa-regular fa-circle-user fa-xl"></i> 
									<span>2/3</span> &nbsp;&nbsp;&nbsp;&nbsp;<span>Hard</span>
								</div>							
							</div>							
							<div class="G_gameroom_left">
								<div class="left">
									<button class="ingbtn" type="button"><img src="gaming.png" padding="10px;" alt="exit" width="50px"height="50px"></button>
									<br> <span>Solo_01 즐겁게 게임해요</span>  <br><hr style="border: dotted 1px gray;"><br>
									</i><span></span> <i class="fa-regular fa-circle-user fa-xl"></i>&nbsp;<span>2/2</span>   &nbsp;&nbsp;&nbsp;&nbsp;<span>Random</span>
								</div>
							</div>
							<div class="G_gameroom_right">
								<div class="right">
									<button class="ingbtn" type="button"><img src="gaming.png" padding="10px;" alt="exit" width="50px"height="50px"></button>
									<br> <span>Team_04  가산_자바페스티벌</span><br><hr style="border: dotted 1px gray;"><br>
									<i class="fa-solid fa-users fa-xl"></i>&nbsp;4/4 &nbsp;<i class="fa-regular fa-circle-user fa-xl"></i>&nbsp;<span>4</span>  &nbsp;<span>Random</span>
								</div>	
							</div>
							<div class="binroom_left"></div>
							<div class="binroom_right"></div>
						</div>
						
                	</div>
					<!-- Solo team zip -->
                	<div class="team">
						<div class="fillter">
							<button class="fillterbtn" type="button"><p>빈방순▼</p></button>
                    		<button class="fillterbtn" type="button"><p>난이도순▼</p></button>
							<button class="refresh" type="button"><p>새로고침</p></button>
						</div>
						<div class="gameroom">
							<div class="M_gameroom_left">
								<div class="left">
									<button class="startbtn" type="button">START</button>
									<br> Team_03 | 팀전 <br><br> 3팀 | 2명 <br>
								</div>
							</div>
							<div class="M_gameroom_right">
								<div class="left">
									<button class="startbtn" type="button">START</button>
									<br> Team_04 | 팀전 <br><br> 2팀 | 4명 <br>
								</div>
							</div>
							<div class="G_gameroom_left">
								<div class="left">
									<button class="ingbtn" type="button">PLAY</button>
									<br> Team_02 | 팀전 <br><br> 3팀 | 2명 <br>
								</div>
							</div>
							<div class="binroom_right"></div>
							<div class="binroom_left"></div>
							<div class="binroom_right"></div>
							<div class="binroom_left"></div>
							<div class="binroom_right"></div>
                	</div>
					<!-- Solo game zip -->
				    <div class="solo">
						<div class="S_gameroom_left">
							<div class="left">
								<button class="startbtn2" type="button">START</button>
								<br> Solo_02 | 개인전<br><br> 4명 <br>
							</div>
						</div>								
						<div class="S_gameroom_right">
							<div class="left">
								<button class="startbtn2" type="button">START</button>
								<br> Solo_03 | 개인전<br><br> 2명 <br>
							</div>							
						</div>
							<div class="G_gameroom_left">
								<div class="right">
									<button class="startbtn3" type="button">PLAY</button>
									<br> Solo_01 | 개인전<br><br> 4명 <br>
								</div>	
							</div>
						<div class="binroom_right"></div>
						<div class="binroom_left"></div>
						<div class="binroom_right"></div>
						<div class="binroom_left"></div>
						<div class="binroom_right"></div>
                </div>		
			</div>
		</div>	
	</body>
</html>