<!-- Default Layout Import-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/emptyLayout}">
<th:block layout:fragment="content">

	<link rel="stylesheet" type="text/css" href="/css/game.css">
	<link th:href="@{/css/dice.css}" rel="stylesheet">
	<script th:src="@{/js/dice.js}"></script>
	<style>
		.chess-board {
			border-spacing: 0;
			border-collapse: collapse;
		}

		.chess-board th {
			padding: .5em;
			width: 10px;
		}

		.chess-board td {
			border: 1px solid;
			width: 5em;
			height: 5em;
			text-align: center;
		}

		.chess-board .light {
			background: #eee;
		}

		.chess-board .dark {
			background: #000;
		}
	</style>
	<div class="container-lg">
		<!-- Main content -->
		<section class="content pt-4">
			<div class="container-fluid">
				<div class="row">
					<div class="col-9">
						<div class="card">
							<table class="chess-board">
								<tbody>
									<!--<tr>
										<th></th>
										<th>1</th>
										<th>2</th>
										<th>3</th>
										<th>4</th>
										<th>5</th>
										<th>6</th>
									</tr>-->
									<tr class="light_black">
										<!--<th>1</th>-->
										<td class="light"><button type="button" class="btn btn-default"
												data-toggle="modal" data-target="#modal-xl">
												문제
											</button></td>
										<td class="dark"><button type="button" class="btn btn-default"
												data-toggle="modal" data-target="#modal-xl">
												문제
											</button></td>
										<!--<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
									</tr>
									<tr>
										<th>2</th>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
									</tr>
									<tr>
										<th>3</th>
										<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
									</tr>
									<tr>
										<th>4</th>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
									</tr>
									<tr>
										<th>5</th>
										<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
									</tr>
									<tr>
										<th>6</th>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
										<td class="dark"></td>
										<td class="light"></td>
									</tr>-->
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-3">
						<div class="sticky-top mb-3">
							<div class="card">
								<div class="card-header">
									<button class="btn btn-block btn-primary" onclick="roll()">ROLL
										THE DICE</button>
								</div>
								<div class="card-body">
									<!-- the events -->
									<div class="container">
										<div class="dice-wrapper">
											<img id="die-1" class="" th:src="@{/img/dice-06.svg} ">
											<img id="die-2" class="" th:src="@{/img/dice-04.svg}">
										</div>
										<!-- //<p id="total">Your roll is 10</p> -->

									</div>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
							<div class="card">
								<div class="card-header">
									<h3 class="card-title">Member</h3>
								</div>
								<div class="card-body">
									<div class="btn-group" style="width: 100%; margin-bottom: 10px;">
										<ul class="fc-color-picker" id="color-chooser">
											<li><a class="text-primary" href="#"><i class="fas fa-square"></i></a></li>
											<li><a class="text-warning" href="#"><i class="fas fa-square"></i></a></li>
											<li><a class="text-success" href="#"><i class="fas fa-square"></i></a></li>
											<li><a class="text-danger" href="#"><i class="fas fa-square"></i></a></li>
											<li><a class="text-muted" href="#"><i class="fas fa-square"></i></a></li>
										</ul>
									</div>
									<!-- /btn-group -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>

	<th:block th:each="question : ${questionList}">
		<div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 th:text="${ question.pkQuestionSeq } + '번째 문제'" class="modal-title"></h4>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="card card-outline card-info">
							<div class="card-header">
								<h3 th:text="${ question.questionName }" class="card-title"></h3>
							</div>
							<div class="card-body p-0">
								<p th:text="${ question.contents }"></p>
							</div>
							<div class="card-footer">
							</div>
						</div>
						<div class="card card-outline card-info">
							<div class="card-header">
								<h3 class="card-title">
									풀이 작성
								</h3>
							</div>

							<div class="card-body p-0">
								<textarea th:text="${ question.codeFormat }" id="codeMirrorDemo" class="p-3"
									style="display: none;"> </textarea>
							</div>
							<div class="card-footer">
							</div>
						</div>
					</div>
					<!-- 기존 코드 -->
					<div class="card card-outline card-info">
						<div class="card-header">
							<h3 class="card-title">
								풀이 작성
							</h3>
						</div>

						<div class="card-body p-0">
							<textarea th:text="${question.codeFormat}" id="codeMirrorDemo" class="p-3"
								style="display: none;"> </textarea>
						</div>
						<div class="card-footer">
						</div>
					</div>
					<!-- 기존 코드 끝-->
					<!-- 진상 코드-->
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary">Save changes</button>
					</div>
					<!-- 진상 코드 끝-->
				</div>

			</div>
		</div>

		<script>
			$(function () {
				// CodeMirror
				CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
					mode: "htmlmixed",
					theme: "monokai"
				});
			})
			console.log(1);
				var count = 25;

				// 생성된 템플릿을 타임리프 템플릿 영역에 추가
				
				var line_length = Math.sqrt(count);
				var gameroom_left_classes = document.getElementsByClassName('light_black');
				var all_rooms_length = 510;
				var one_room_length = all_rooms_length / line_length;
				console.log(all_rooms_length);
				console.log(one_room_length);
				for (var i = 0; i < gameroom_left_classes.length; i++) {
					gameroom_left_classes[i].style.width = one_room_length + "px";
				}

		</script>
	</th:block>

</html>