<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}">

<th:block layout:fragment="content">


	<style>

	</style>





	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content" style="background-color: aqua;height: 250px;">
			<div class="p-2">
				<div class="col -10">
					<div class="dropdown">
						<span>
							<h2>game type</h2>
						</span>
					</div>
				</div>
			</div>
		</section>




		<!-- 영상 1번째 줄(가로) 시작-->
		<div class="p-7">
			<div class="row">
				<div class="col-12 ">
					<div class="row">
						<div class="col-md-2 ">
							<div class="card card-primary" style="min-width: 100px;">
								<i style="height: 160px;"><img src="   https://cdn-icons-png.flaticon.com/512/4059/4059566.png " width="250" height="140"  class="img-small"></i>
								<span class="text-center"><a href="http://naver.com" target="_self">Array</a></span>
							</div>
						</div>
						<div class="col-md-2  " style="min-width: 250px;">
							<div class="card card-primary">
								<i style="height: 160px;"><img src="   https://cdn-icons-png.flaticon.com/512/4481/4481626.png " width="256" height="145" class="img-small"></i>
								<span class="text-center"><a href="http://naver.com" target="_self">Hash Table</a></span>
							</div>
						</div>
						<div class="col-md-2 ">
							<div class="card card-primary">
								<i style="height: 160px;"><img src="   https://cdn-icons-png.flaticon.com/512/73/73984.png " width="260" height="150"  class="img-small"></i>
								<span class="text-center"><a href="http://naver.com" target="_self">String </a></span>
							</div>
						</div>
						<div class="col-md-2 ">
							<div class="card card-primary">
								<img src="https://cdn-icons-png.flaticon.com/512/2070/2070847.png " width="270" height="160" class="img-small">
								<span class="text-center"><a href="http://naver.com" target="_self">Math</a></span>
							</div>
						</div>
						<div class="col-md-2  " style="min-width: 250px;">
							<div class="card card-primary">
								<i style="height: 160px;"><img src="   https://cdn-icons-png.flaticon.com/512/1536/1536475.png " width="250" height="150"  class="img-small"></i>
								<span class="text-center"><a href="http://naver.com" target="_self"> Two Pointers</a></span>
							</div>
						</div>
						<div class="col-md-2  " style="min-width: 250px;">
							<div class="card card-primary">
								<i style="height: 160px;"><img src="https://cdn-icons-png.flaticon.com/512/6012/6012441.png " width="256" height="150"  class="img-small"></i>
								<span class="text-center"><a href="http://naver.com" target="_self"> Divide and
										Conquer</a></span>
							</div>
						</div>
						<div class="col-md-2 ">
							<div class="card card-primary" style="min-width: 250px;">
								<i style="height: 160px;"><img src="   https://cdn-icons-png.flaticon.com/512/3844/3844843.png " width="256" height="150" alt="" title="" class="img-small"></i>
								<span class="text-center"><a href="http://naver.com" target="_self">Depth-First Search</a></span>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
		





</th:block>

</html>