<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}">

<th:block layout:fragment="content">


	<style>

	</style>





	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content" style="background-color: aqua;height: 250px;">
			<div class="p-2">
				<div class="col -10">
					<div class="dropdown">
						<span>
							<h2>game type</h2>
						</span>
					</div>
				</div>
			</div>
		</section>




		<!-- 영상 1번째 줄(가로) 시작-->
		<div class="p-3">
			<div class="row">
				<div class="col-12 ">
					<div class="row">
					<div class="col-md-3 ">
						<div class="card card-primary" style="min-width: 250px;">
							<i style="height: 160px;"><img src="C:\Users\anyware\Desktop\503191.jpg"
									alt="My Image"></i>
							<span class="text-center"><a href="http://naver.com"target="_self">수학</a></span>
						</div>
					</div>
					<div class="col-md-3  " style="min-width: 250px;">
						<div class="card card-primary">
							<i style="height: 160px;"><img src="C:\Users\anyware\Desktop\503191.jpg"
									alt="My Image"></i>
							<span class="text-center"><a href="http://naver.com"target="_self">알고리즘</a></span>
						</div>
					</div>
					<div class="col-md-3  " style="min-width: 250px;">
						<div class="card card-primary">
							<i style="height: 160px;"><img src="C:\Users\anyware\Desktop\503191.jpg"
									alt="My Image"></i>
							<span class="text-center"><a href="http://naver.com"target="_self">반복문 </a></span>
						</div>
					</div>
					<div class="col-md-3  ">
						<div class="card card-primary" style="min-width: 250px;">
							<i style="height: 160px;"><img src="C:\Users\anyware\Desktop\503191.jpg"
									alt="My Image"></i>
							<span class="text-center"><a href="http://naver.com"target="_self">문자열</a></span>
						</div>
					</div>
					</div>
				</div>
			</div>
          </div>
			<!-- 영상 2번째 줄(가로) 시작-->
		<div class="p-3">
			<div class="row">
				<div class="col-12 ">
					<div class="row">
					<div class="col-md-3 ">
						<div class="card card-primary" style="min-width: 250px;">
							<i style="height: 160px;"><img src="C:\Users\anyware\Desktop\503191.jpg"
									alt="My Image"></i>
							<span class="text-center"><a href="http://naver.com"target="_self">배열</a></span>
						</div>
					</div>
					<div class="col-md-3  " style="min-width: 250px;">
						<div class="card card-primary">
							<i style="height: 160px;"><img src="C:\Users\anyware\Desktop\503191.jpg"
									alt="My Image"></i>
							<span class="text-center"><a href="http://naver.com"target="_self"> 유형1</a></span>
						</div>
					</div>
					<div class="col-md-3  " style="min-width: 250px;">
						<div class="card card-primary">
							<i style="height: 160px;"><img src="C:\Users\anyware\Desktop\503191.jpg"
									alt="My Image"></i>
							<span class="text-center"><a href="http://naver.com"target="_self"> 유형2</a></span>
						</div>
					</div>
					<div class="col-md-3  ">
						<div class="card card-primary" style="min-width: 200px;">
							<i style="height: 160px;"><img src="C:\Users\anyware\Desktop\503191.jpg"
									alt="My Image"></i>
							<span class="text-center"><a href="http://naver.com"target="_self"> 유형3</a></span>
						</div>
					</div>
					</div>
				</div>
			</div>
			</div>
			<!-- 영상 3번째 줄(가로) 시작-->
		<div class="p-3">
			<div class="row">
				<div class="col-12 ">
					<div class="row">
					<div class="col-md-3 ">
						<div class="card card-primary" style="min-width: 250px;">
							<i style="height: 160px;"><img src="C:\Users\anyware\Desktop\503191.jpg"
									alt="My Image"></i>
							<span class="text-center"><a href="http://naver.com"target="_self"> 유형2</a></span>
						</div>
					</div>
					<div class="col-md-3  " style="min-width: 250px;">
						<div class="card card-primary">
							<i style="height: 160px;"><img src="C:\Users\anyware\Desktop\503191.jpg"
									alt="My Image"></i>
							<span class="text-center"><a href="http://naver.com"target="_self"> 유형3</a></span>
						</div>
					</div>
					</div>
					</div>
				</div>
			</div>
			
    

</th:block>

</html>