<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}">

<div layout:fragment="content">
	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content" style="background-color: aqua;height: 250px;">
			<div class="container">
				<div class="row" "mt-4">
					<div class="col-sm-">
					</div>
					<div class="col-sm-2">
						<span>QnA 폼페이지</span>
					</div>
				</div>
			</div>

		</section>

		



			<div class="card-body">
				<div class="form-group">
					<label for="inputName">Project Name</label>
					<input type="text" id="inputName" class="form-control" value="AdminLTE">
				</div>
				<div class="form-group">
					<label for="inputDescription">Project Description</label>
					<textarea id="inputDescription" class="form-control" rows="4"
						style="height: 216px;">Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terr.</textarea>
				</div>
				<div class="row">
					<div class="col"> 
							<label for="formFile" class="form-label ">
							<input class="form-control" type="file" id="formFile">	
						</label>
						
						<div class="row">
						<div class="col-12 justify-content-between"> 
						  <div class="col-1 mx-auto">
		                  <input class="btn btn-primary"  type="submit" value="등록하기">
						  </div>	
						</div>
					</div>
				</div>
			</div>
		</div>
      </div>
    </div>


		</th:block>

</html>