<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block>
    <th:block th:fragment="content">
        <div class="container">
            <div>
                <div th:each="room : ${list}">
                    <form th:action="@{/chat/room}" method="get">
	                    <!-- 방이름을 전송해주기위해 input hidden 사용 -->
	                    <input type="hidden" name="pkRoomSeq" th:value="${room.pkRoomSeq}"/>
	                    [[${room.roomName}]]
	                    <input type="submit">
                    </form>
                </div>
            </div>
        </div>
        <form th:action="@{/chat/room}" method="post">
            <input type="text" name="name" class="form-control">
            <button class="btn btn-secondary">개설하기</button>
        </form>
    </th:block>
</th:block>
<!--        <script th:inline="javascript">-->
<!--            $(document).ready(function(){-->

<!--                $(".btn-create").on("click", function (e){-->
<!--                    e.preventDefault();-->

<!--                    var name = $("input[name='name']").val();-->

<!--                    if(name == "")-->
<!--                        alert("Please write the name.")-->
<!--                    else-->
<!--                        $("form").submit();-->
<!--                });-->

<!--            });-->
<!--        </script>-->
</html>