<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/emptyLayout}">
    <th:block layout:fragment="content">
    <script th:inline="javascript">
		var size =/*[[${questionList.size}]]*/0;
	</script>
	<link rel="stylesheet" type="text/css" href="/css/game.css">
	<link th:href="@{/css/dice.css}" rel="stylesheet">
	<link th:href="@{/css/waitroom.css}" rel="stylesheet">
	<link th:href="@{/css/gamemultiroom.css}" rel="stylesheet">
	<script th:src="@{/js/dice.js}"></script>
	    
	    <!-- ------------------------ 대기방 ---------------------------- -->
        <div id="waitRoom" class="container" th:style="'background-image:url('+ @{/img/gameStart.png} +');'">
			<div id="header"></div>
			<!--side right -->
		    <div id="sidebar">
				<div class="gameinfo">
					<ul class="no_dot">
						<li>게임 유형 :</li>
						<li>난이도 : </li>
						<li>문제당 시간 : </li>
						<li>문제 개수 : </li>
					</ul>
				</div>
				<div>
					<button class="teamchange" type="button">팀 바꾸기</button>
				</div>
				<div class="chat-view" id="msgArea"></div>
				<div class="chat-input">
					<from>
						<input type="text" id="msg" class="form-control">
						<button class="btnchat" type="button" id="button-send">전송</button>
					</from>
				</div>
				<button class="btn" type="button" id="gamestart">시작</button>	
				<button class="btnlogout" type="button">나가기</button>		
			</div>
			<div id="content">
				<div class="team1" id="team1">
					<div class="t1-user1"></div>
					<div class="t1-user2"></div>
					<div class="t1-user3"></div>
					<div class="t1-user4"></div>
				</div>
				<div class="team2" id="team2">
					<div class="t2-user1"></div>
					<div class="t2-user2"></div>
					<div class="t2-user3"></div>
					<div class="t2-user4"></div>
				</div>
				<div class="team3" id="team3">
					<div class="t3-user1"></div>
					<div class="t3-user2"></div>
					<div class="t3-user3"></div>
					<div class="t3-user4"></div>
				</div>
				<div class="team4" id="team4">
					<div class="t4-user1"></div>
					<div class="t4-user2"></div>
					<div class="t4-user3"></div>
					<div class="t4-user4"></div>
				</div>
			</div>
        </div>
        
        <!-- ----------------------- 대기방 끝 --------------------------- -->
        
        <!-- ------------------------게임방------------------------------ -->
        
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
			<!-- 모달 내용 -->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="col ml-3 pl-2 modal-title text-center total_modal">점수표</h4>
					<button type="button" class="close pl-0 ml-0" data-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<div class="text-center">
						<div>
							<span>총 문제 : 36</span>
						</div>
						<div>
							<span>푼 문제 : 30</span>
						</div>
						<div>
							<span>포기 : 6</span>
						</div>
						<div>
							<span>수학 : 4/5</span>
						</div>
						<div>
							<span>구현 : 3/3</span>
						</div>
						<div>
							<span>자료구조 : 3/6</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="gameRoom" style="display:none;" class="container">
			<div id="header"></div>
	
			<!--side right -->
			<div id="sidebar">
				<div class="gamequiz">
					<p class="pfont">
						Time : 15:00 min<br>
						유형 :<br>
						문제 <span>7</span>번<br>
						...
					</p>
				</div>
				<div class="quizbtn">
					<button class="answer" type="button">답변등록</button>
					<button class="discard" type="button">포기하기</button>
				</div>
				<div class="chat-veiw">
					<p class="fontp">
						<b class="fontb">>>게임을 시작합니다.</b><br>
						>>7번 문제 입니다. <br>
						>>시간안에 가장 빠르게 푸는 팀이 땅을 차지합니다.<br>
						>>채팅을 통해 상의가 가능합니다.
					</p>
				</div>
				<div class="chat-input">
					<from>
						<input type="text" id="chat" size=19>
						<button class="btnchat" type="submit">등록</button>
					</from>
	
	
				</div>
				<button class="btn" type="button">시작</button>
				<button class="btnlogout" type="button">나가기</button>
			</div>
	
			<!--content game -->
			<div id="content">
				<div class="user">
					<div class="team1">
						<div class="t1-user1"></div>
						<div class="t1-user1"></div>
						<div class="t1-user1"></div>
						<div class="t1-nouser"></div>
						<div class="t5-user2" style="background-color:rgb(128, 128, 255)" id="hover"></div>
					</div>
					<div class="team2">
						<div class="t2-user1"></div>
						<div class="t2-user1"></div>
						<div class="t2-user1"></div>
						<div class="t2-nouser"></div>
						<div class="t5-user2" style="background-color:rgb(0, 255, 128)"></div>
					</div>
					<div class="team3">
						<div class="t3-user1"></div>
						<div class="t3-user1"></div>
						<div class="t3-user1"></div>
						<div class="t3-nouser"></div>
						<div class="t5-user2" style="background-color:rgb(255, 128, 255)"></div>
					</div>
					<div class="team4">
						
						<div class="t4-user1"></div>
						<div class="t4-user1"></div>
						<div class="t4-user1"></div>
						<div class="t4-nouser"></div>
						<div class="t5-user2" style="background-color:gold"></div>
						
					</div>
				</div>
				<div class="dicearea">
					<div class="lottie-container">
						<div class="ricearea_col">
							<lottie-player class="rice1" src="https://assets4.lottiefiles.com/packages/lf20_VnhOCi.json"
								background="transparent" speed="1"></lottie-player>
							<!--loop autoplay-->
						</div>
						<div class="ricearea_row">
							<lottie-player class="rice2" src="https://assets4.lottiefiles.com/packages/lf20_VnhOCi.json"
								background="transparent" speed="1"></lottie-player>
						</div>
					</div>
				</div>
				<div class="quiz">
					<table class="table" id="board_table">
						<thead>
							<tr>
								<th></th>
								<th>1</th>
								<th>2</th>
								<th>3</th>
								<th>4</th>
								<th>5</th>
								<th>6</th>
							</tr>
						</thead>
						<tbody lass="tableborder">
							<tr>
								<th>1</th>
								<td class="hover_y">1</td>
								<td class="hover_y">2</td>
								<td class="hover_y">3</td>
								<td class="hover_y">4</td>
								<td class="hover_y">5</td>
								<td class="hover_y">6</td>
							</tr>
							<tr>
								<th>2</th>
								<td class="hover_y">7</td>
								<td class="hover_y">8</td>
								<td class="hover_y">9</td>
								<td class="hover_y">10</td>
								<td class="hover_y">11</td>
								<td class="hover_y">12</td>
							</tr>
							<tr>
								<th>3</th>
								<td class="hover_y">13</td>
								<td class="hover_y">14</td>
								<td class="hover_y">15</td>
								<td class="hover_y">16</td>
								<td class="hover_y">17</td>
								<td class="hover_y">18</td>
							</tr>
							<tr>
								<th>4</th>
								<td class="hover_y">19</td>
								<td class="hover_y">20</td>
								<td class="hover_y">21</td>
								<td class="hover_y">22</td>
								<td class="hover_y">23</td>
								<td class="hover_y">24</td>
							</tr>
							<tr>
								<th>5</th>
								<td class="hover_y">25</td>
								<td class="hover_y">26</td>
								<td class="hover_y">27</td>
								<td class="hover_y">28</td>
								<td class="hover_y">29</td>
								<td class="hover_y">30</td>
							</tr>
							<tr>
								<th>6</th>
								<td class="hover_y">31</td>
								<td class="hover_y">32</td>
								<td class="hover_y">33</td>
								<td class="hover_y">34</td>
								<td class="hover_y">35</td>
								<td class="hover_y">36</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title"></h4>
					<input type="hidden" id="questionNo">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="card card-outline card-info">
						<div class="card-header">
							<h3 id="questionName" class="card-title"></h3>
							<input type="hidden" id="nameQuestion">

						</div>
						<div class="card card-outline card-info">
							<div class="card-header">
								<h3 class="card-title">
									풀이 작성
								</h3>
							</div>

							<div class="card-body p-0">
								<p id="questionContents"></p>
							</div>
							<div class="card-footer">
							</div>
						</div>
						<!-- 기존 코드 -->
						<div class="card card-outline card-info">
							<div class="card-header">
								<h3 class="card-title">
									풀이 작성
								</h3>
							</div>

							<div class="card-body p-0">
								<textarea id="Demo" class="p-3" style="width:100%; height: 500px"></textarea>
							</div>
							<div class="card-footer">
							</div>
						</div>
						<!-- 기존 코드 끝-->
						<!-- 진상 코드-->
						<form>
							<div class="modal-footer justify-content-between">
								<button id="giveup" type="button" class="btn btn-default"
									data-dismiss="modal">포기</button>
								<button id="Question_submit" data-dismiss="modal" type="submit"
									class="btn btn-primary">등록</button>
							</div>
						</form>
						<!-- 진상 코드 끝-->
					</div>
				</div>
			</div>
		</div>
	</div>
        
        <!-- ----------------------- 게임방 끝 ---------------------------- -->
        <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script th:inline="javascript">
            $(document).ready(function(){
				
                var roomName = /*[[${room.roomName}]]*/0;
                var roomId = /*[[${room.pkRoomSeq}]]*/0;
                var username = "334"

                console.log(roomName + ", " + roomId + ", " + username);

                var sockJs = new SockJS("/stomp/chat");
                //1. SockJS를 내부에 들고있는 stomp를 내어줌
                var stomp = Stomp.over(sockJs);

                //2. connection이 맺어지면 실행
                stomp.connect({}, function (){
                   console.log("STOMP Connection")

                   //4. subscribe(path, callback)으로 메세지를 받을 수 있음
                   stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);
					   var chatContent = content.chatContent;
                       var writer = content.pkUserSeq;
                       var str = '';
                       
                       str = "<div class='col-6'>";
                       str += "<b class='fontp'>" + writer + " : " + chatContent + "</b>";
                       str += "</div>";
                       $("#msgArea").append(str);  
                       $("#msgArea").scrollTop($("#msgArea")[0].scrollHeight);
                   });
                   
                   stomp.subscribe("/sub/chat/gamestart/" + roomId, function(chat) {
            			$('#gameRoom').css('display', 'block'); 
            			$('#waitRoom').css('display', 'none');
                   });
                   
                   stomp.subscribe("/sub/chat/system/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);
					   var chatContent = content.chatContent;
                       var writer = ">>SYSTEM";
                       var str = '';

                       str = "<div class='col-sys'>";
                       str += "<b class='fontb'>" + writer + " : " + chatContent + "</b>";
                       str += "</div></div>";
                       $("#msgArea").append(str);
					});
					
					stomp.subscribe("/sub/chat/List/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);
                       $.each(content, function(index, value){
						   if($("#team1").children("#" + index + "").length > 0){
	  						console.log("jquery : 해당 객체 존재함");
						   }else{
	    					str = "<div class='col-sys' id = '" + index + "'>";
                       		str += "<b class='fontp'>" + value + "</b>";
                       		str += "</div></div>";
                       		$("#" + index + "").remove();
                       		$("#team1").children(".t1-user1").append(str);
						   }
					   });
					});
					
					stomp.subscribe("/sub/chat/team1List/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);
                       $.each(content, function(index, value){
						   if($("#team2").children("#" + index + "").length > 0){
	  						console.log("jquery : 해당 객체 존재함");
						   }else{
	    					str = "<div class='col-sys' id = '" + index + "'>"
                       		str += "<b class='fontp'>" + value + "</b>";
                       		str += "</div></div>";
                       		$("#" + index + "").remove();
                       		$("#team2").children(".t2-user1").append(str);
						   }
					   });
					});
					
					stomp.subscribe("/sub/chat/team2List/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);
                       $.each(content, function(index, value){
						   if($("#team3").children("#" + index + "").length > 0){
	  						console.log("jquery : 해당 객체 존재함");
						   }else{
	    					str = "<div class='col-sys' id = '" + index + "'>";
                       		str += "<b class='fontp'>" + value + "</b>";
                       		str += "</div></div>";
                       		$("#" + index + "").remove();
                       		$("#team3").children(".t3-user1").append(str);
						   }
					   });
					});
					
					stomp.subscribe("/sub/chat/team3List/" + roomId, function (chat) {
                       var content = JSON.parse(chat.body);
                       $.each(content, function(index, value){
						   if($("#team4").children("#" + index + "").length > 0){
	  						console.log("jquery : 해당 객체 존재함");
						   }else{
	    					str = "<div class='col-sys' id = '" + index + "'>";
                       		str += "<b class='fontp'>" + value + "</b>";
                       		str += "</div></div>";
                       		$("#" + index + "").remove();
                       		$("#team4").children(".t4-user1").append(str);
						   }
					   });
					});
					
					stomp.subscribe("/sub/chat/rm/" + roomId, function (chat) {
                       var content = chat.body;
                       console.log(content);
                       $("#" + content + "").remove();
					});
					
                   //3. send(path, header, message)로 메세지를 보낼 수 있음
                   stomp.send('/pub/chat/enter', {}, JSON.stringify({pkRoomSeq: roomId, pkUserSeq: username}))
                });
                
                $("#team1").on("click", function(e){
					stomp.send('/pub/chat/TeamChange', {}, JSON.stringify({pkRoomSeq: roomId}))
					$("#content").css("pointer-events", "none")
					$("#content").css("opacity", "100%")
				})
				
				$("#team2").on("click", function(e){
					stomp.send('/pub/chat/Team1Change', {}, JSON.stringify({pkRoomSeq: roomId}))
					$("#content").css("pointer-events", "none")
					$("#content").css("opacity", "100%")
				})
				
				$("#team3").on("click", function(e){
					stomp.send('/pub/chat/Team2Change', {}, JSON.stringify({pkRoomSeq: roomId}))
					$("#content").css("pointer-events", "none")
					$("#content").css("opacity", "100%")
				})
				
				$("#team4").on("click", function(e){
					stomp.send('/pub/chat/Team3Change', {}, JSON.stringify({pkRoomSeq: roomId}))
					$("#content").css("pointer-events", "none")
					$("#content").css("opacity", "100%")
				})
                
                $("#system-test").on("click", function(e){
					stomp.send('/pub/chat/system', {}, JSON.stringify({pkRoomSeq: roomId}))
				})

                $("#button-send").on("click", function(e){
                    var msg = document.getElementById("msg");

                    console.log(username + ":" + msg.value);
                    stomp.send('/pub/chat/message', {}, JSON.stringify({pkRoomSeq: roomId, chatContent: msg.value, pkUserSeq: username}));
                    msg.value = '';
                });
                
                $(".teamchange").on("click", function(e){
					console.log("test");
					$("#content").css("pointer-events", "all")
					$("#content").css("opacity", "80%")
				});
				
				$("#msg").keyup(function() {
					if (event.keyCode == 13) {
						var msg = document.getElementById("msg");
                    	stomp.send('/pub/chat/message', {}, JSON.stringify({pkRoomSeq: roomId, chatContent: msg.value, pkUserSeq: username}));
                    	msg.value = '';
					}
				});
				
	    		$("#gamestart").on("click", function() {
	    			stomp.send('/pub/chat/gamestart', {}, JSON.stringify({pkRoomSeq: roomId}));
	    		});
            }); 


        </script>
        
 	<script>
		$(function () {
			// CodeMirror
			CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
				mode: "htmlmixed",
				theme: "monokai"
			});
		})
	</script>
	<script th:inline="javascript">
		//보드 판 테스트
		var temp_elem;
		/*<![CDATA[*/
		function loadQuestion(elem, question) {
			console.log("test");
			title = question.pkQuestionSeq + "번째 문제";
			name = question.questionName;
			contents = question.contents;
			codeFormat = question.codeFormat;
			console.log(title);
			console.log(name);
			console.log(contents);
			console.log(codeFormat);
			$('.modal-title').text(title);
			$('#questionNo').val(question.pkQuestionSeq);
			$('#questionName').text(name);
			$('#nameQuestion').val(question.className);
			$('#questionContents').text(contents);
			$('#Demo').html(codeFormat);
			temp_elem = elem;
		}
    /*]]>*/
	</script>
	<!-- 진상 script -->
	<script>
		$(function () {
			// CodeMirror
			CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
				mode: "htmlmixed",
				theme: "monokai"
			});
		})
		var count = size;

		// 생성된 템플릿을 타임리프 템플릿 영역에 추가

		var line_length = Math.sqrt(count);
		var gameroom_left_classes = document.getElementsByClassName('question_col');
		var all_rooms_length = 490;
		var one_room_length = all_rooms_length / line_length;
		for (var i = 0; i < gameroom_left_classes.length; i++) {
			gameroom_left_classes[i].style.width = one_room_length + "px";
		}
		$("#total_modal").click(function () {
			$(".total_modal").text("점수표");
		});
		$('#giveup').click(function () {
			temp_elem.disabled = true;
			$(temp_elem).css("background-color", "gray");
			$(temp_elem).css("color", "darkgray");
		})
		$('#Question_submit').click(function () {
			var obj = {
				format : $("#Demo").val(),
				name : $("#nameQuestion").val(),
				number : $("#questionNo").val()
			}
			$.ajax({
				type: "POST",
				url: "sendAnswer",
				data: obj,
				success: function (data) {
					console.log("test");
				},
				error: function () {
				}
			});
			temp_elem.disabled = true;
			$(temp_elem).css("background-color", "#00b0f0");
			$(temp_elem).css("color", "blue");
		})
	</script>
    </th:block>
        
</html>