<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/emptyLayout}">
<th:block layout:fragment="content">
	<link rel="stylesheet" type="text/css" href="/css/game.css">
	<link th:href="@{/css/dice.css}" rel="stylesheet">
	<link th:href="@{/css/waitroom.css}" rel="stylesheet">	
	<link th:href="@{/css/gameingteam.css}" rel="stylesheet">
	<link th:href="@{/css/gameingmulti.css}" rel="stylesheet">
	<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
	<!--<link th:href="@{/css/gamemultiroom.css}" rel="stylesheet">-->
	<script th:src="@{/js/dice.js}"></script>

	<!-- ------------------------ 대기방 ---------------------------- -->
	<div id="waitRoom" class="container" th:style="'background-image:url('+ @{/img/gameStart.png} +');'">
		<div class="waiting_room_header" id="header"></div>
		<!--side right -->
		<div class="waiting_room_sidebar" id="sidebar">
			<div class="waiting_room_gameinfo">
				<ul class="waiting_room_no_dot">
					<li>게임 유형 :</li>
					<li>난이도 : </li>
					<li>문제당 시간 : </li>
					<li>문제 개수 : </li>
				</ul>
			</div>
			<div>
				<button class="teamchange" type="button">팀 바꾸기</button>
			</div>
			<div class="waiting_room_chat-view" id="msgArea"></div>
			<div class="waiting_room_chat-input">
				<from>
					<input type="text" id="msg" class="form-control">
					<button class="waiting_room_btnchat" type="button" id="button-send">전송</button>
				</from>
			</div>
			<button class="waiting_room_btn" type="button" id="gamestart">시작</button>
			<button class="waiting_room_btnlogout" type="button">나가기</button>
		</div>
		<div class="waiting_room_content" id="content">
			<div class="waiting_room_team1" id="team1">
				<input type="hidden" id="team1Count">
			</div>
			<div class="waiting_room_team2" id="team2">
				<input type="hidden" id="team2Count">
				<div class="waiting_room_t2-user1"></div>
				<div class="waiting_room_t2-user2"></div>
				<div class="waiting_room_t2-user3"></div>
				<div class="waiting_room_t2-user4"></div>
			</div>
			<div class="waiting_room_team3" id="team3">
				<input type="hidden" id="team3Count">
				<div class="waiting_room_t3-user1"></div>
				<div class="waiting_room_t3-user2"></div>
				<div class="waiting_room_t3-user3"></div>
				<div class="waiting_room_t3-user4"></div>
			</div>
			<div class="waiting_room_team4" id="team4">
				<input type="hidden" id="team4Count">
				<div class="waiting_room_t4-user1"></div>
				<div class="waiting_room_t4-user2"></div>
				<div class="waiting_room_t4-user3"></div>
				<div class="waiting_room_t4-user4"></div>
			</div>
		</div>
	</div>

	<!-- ----------------------- 대기방 끝 --------------------------- -->

	<!-- ------------------------게임방------------------------------ -->
	<div id="gameRoom" style="display:none;">
		<div class="container">
      		<div id="header"></div>
			
			<!--side right -->
			<div id="sidebar">
				<div class="gamequiz">
					<p class="pfont">
						Time : 15:00 min<br>
						유형 :<br> 
						문제 <span>7</span>번<br>
						...
					</p>
				</div>

				<div class="chat-veiw">
					<p class="fontp">
						<b class="fontb">>>게임을 시작합니다.</b><br>
						>>7번 문제 입니다. <br>
						>>시간안에 가장 빠르게 푸는 팀이 땅을 차지합니다.<br>
						>>채팅을 통해 상의가 가능합니다.
					</p>
				</div>
				<div class="chat-input">
					<form>
						<input type="text" id="chat" size=19>
						<button class="btnchat" type="submit">등록</button>
					</form>
				</div>
			</div>
			
			<!--content game -->
      		<div id="content">
				<div class="user">
					<div class="team1">
						<div class="score" style="background-color:#BF9039" id="hover"><span id="score1">0</span></div>
					</div>
					<div class="team2">
						<div class="score" style="background-color:#BF4C1F"><span id="score2">0</span></div>
					</div>
					<div class="team3">
						<div class="score" style="background-color:#1454C2"><span id="score3">0</span></div>
					</div>
					<div class="team4">
						<div class="score" style="background-color:#6F9C4C"><span id="score4">0</span></div>
					</div>
				</div>
				<div class="dicearea">
					<div class="lottie-container">
						<div class="ricearea_col">
							<lottie-player class="rice1" src="https://assets4.lottiefiles.com/packages/lf20_VnhOCi.json" 
										background="transparent" speed="1" loop autoplay></lottie-player><!--loop autoplay-->
						</div>
						<div class="ricearea_row">
							<lottie-player class="rice2" src="https://assets4.lottiefiles.com/packages/lf20_VnhOCi.json" 
									background="transparent" speed="1" loop autoplay></lottie-player>  
						</div>
					</div>
				</div>
				<div class="quiz">
					<table class="table">
						<thead class="tableborder">
							<tr>
								<th></th>
								<th class="hover_y">1</th>
								<th class="hover_y">2</th>
								<th class="hover_y">3</th>
								<th class="hover_y">4</th>
								<th class="hover_y">5</th>
								<th class="hover_y">6</th>
							</tr>
						</thead>
						<tbody lass="tableborder">
							<tr>
								<th>1</th>
								<td class="hover_y" id="q1">1</td>
								<td class="hover_y" id="q2">2</td>
								<td class="hover_y" id="q3">3</td>
								<td class="hover_y" id="q4">4</td>
								<td class="hover_y" id="q5">5</td>
								<td class="hover_y" id="q6">6</td>
							</tr>
							<tr>
								<th>2</th>
								<td class="hover_y" id="q7">7</td>
								<td class="hover_y" id="q8">8</td>
								<td class="hover_y" id="q9">9</td>
								<td class="hover_y" id="q10">10</td>
								<td class="hover_y" id="q1">11</td>
								<td class="hover_y" id="q12">12</td>
							</tr>
							<tr>
								<th>3</th>
								<td class="hover_y" id="q13">13</td>
								<td class="hover_y" id="q14">14</td>
								<td class="hover_y" id="q15">15</td>
								<td class="hover_y" id="q16">16</td>
								<td class="hover_y" id="q17">17</td>
								<td class="hover_y" id="q18">18</td>
							</tr>
							<tr>
								<th>4</th>
								<td class="hover_y" id="q19">19</td>
								<td class="hover_y" id="q20">20</td>
								<td class="hover_y" id="q21">21</td>
								<td class="hover_y" id="q22">22</td>
								<td class="hover_y" id="q23">23</td>
								<td class="hover_y" id="q24">24</td>
							</tr>
							<tr>
								<th>5</th>
								<td class="hover_y" id="q25">25</td>
								<td class="hover_y" id="q26">26</td>
								<td class="hover_y" id="q27">27</td>
								<td class="hover_y" id="q28">28</td>
								<td class="hover_y" id="q29">29</td>
								<td class="hover_y" id="q30">30</td>
							</tr>
							<tr>
								<th>6</th>
								<td class="hover_y" id="q31">31</td>
								<td class="hover_y" id="q32">32</td>
								<td class="hover_y" id="q33">33</td>
								<td class="hover_y" id="q34">34</td>
								<td class="hover_y" id="q35">35</td>
								<td class="hover_y" id="q36">36</td>
							</tr>							
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- 문제 풀이 창 -->
		<div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title"></h4>
						<input type="hidden" id="questionNo">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="card card-outline card-info">
							<div class="card-header">
								<h3 id="questionName" class="card-title"></h3>
								<input type="hidden" id="nameQuestion">
	
							</div>
							<div class="card card-outline card-info">
								<div class="card-header">
									<h3 class="card-title">
										문제
									</h3>
								</div>
	
								<div class="card-body p-0">
									<input type="hidden" id="questionType">
									<p id="questionContents"></p>
								</div>
								<div class="card-footer">
								</div>
							</div>
							<!-- 기존 코드 -->
							<div class="card card-outline card-info">
								<div class="card-header">
									<h3 class="card-title">
										풀이 작성
									</h3>
								</div>
	
								<div class="card-body p-0">
									<textarea id="Demo" class="p-3" style="width:100%; height: 500px"></textarea>
								</div>
								<div class="card-footer">
								</div>
							</div>
							<!-- 기존 코드 끝-->
							<!-- 진상 코드-->
							<form>
								<div class="modal-footer justify-content-between">
									<button id="giveup" type="button" class="btn btn-default"
										onclick="modalClose()">포기</button>
									<button id="Question_submit" data-dismiss="modal" type="submit"
										class="btn btn-primary">등록</button>
								</div>
							</form>
							<!-- 진상 코드 끝-->
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="test">
			<button onclick="get_index_and_prob()">임시 테스트</button>
			<div id="test_value"></div>
		</div>
	</div>

	<!-- ----------------------- 게임방 끝 ---------------------------- -->
	<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

	<!-- stomp script -->
	<script th:inline="javascript">
		var questionList =  /*[[${questionList}]]*/0;
		var shuffleNo =  /*[[${room.shuffleNo}]]*/0;
		var roomName = /*[[${room.roomName}]]*/0;
		var roomId = /*[[${room.pkRoomSeq}]]*/0;
		$(document).ready(function () {
			var username = "334"

			var sockJs = new SockJS("/stomp/chat");
			//1. SockJS를 내부에 들고있는 stomp를 내어줌
			var stomp = Stomp.over(sockJs);

			//2. connection이 맺어지면 실행
			stomp.connect({}, function () {
				console.log("STOMP Connection")

				stomp.subscribe("/sub/chat/gamestart/" + roomId, function(chat) {
            			$('#gameRoom').css('display', 'block'); 
            			$('#waitRoom').css('display', 'none');
                   });

				//4. subscribe(path, callback)으로 메세지를 받을 수 있음
				stomp.subscribe("/sub/chat/room/" + roomId, function (chat) {
					var content = JSON.parse(chat.body);
					var chatContent = content.chatContent;
					var writer = content.pkUserSeq;
					var str = '';

					str = "<div class='col-6'>";
					str += "<b class='fontp'>" + writer + " : " + chatContent + "</b>";
					str += "</div>";
					$("#msgArea").append(str);
					$("#msgArea").scrollTop($("#msgArea")[0].scrollHeight);
				});

				stomp.subscribe("/sub/chat/system/" + roomId, function (chat) {
					var content = JSON.parse(chat.body);
					var chatContent = content.chatContent;
					var writer = ">>SYSTEM";
					var str = '';

					str = "<div class='col-sys'>";
					str += "<b class='fontb'>" + writer + " : " + chatContent + "</b>";
					str += "</div></div>";
					$("#msgArea").append(str);
				});
				stomp.subscribe("/sub/chat/team1List/" + roomId, function (chat) {
					var content = JSON.parse(chat.body);
					$.each(content, function (index, value) {
						if ($("#team1").children("#" + index + "").length > 0) {
							console.log("jquery : 해당 객체 존재함");
						} else {
							str = "<div class='waiting_room_t1-user1' id = '" + index + "'>";
							str += "<div class='col-sys'>";
							str += "<b class='fontp'>" + value + "</b>";
							str += "</div></div>";
							$("#team1Count").val(Object.keys(content).length);
							$("#" + index + "").remove();
							
							$("#team1").append(str);
						}
					});
				});

				stomp.subscribe("/sub/chat/team2List/" + roomId, function (chat) {
					var content = JSON.parse(chat.body);
					$.each(content, function (index, value) {
						if ($("#team2").children("#" + index + "").length > 0) {
							console.log("jquery : 해당 객체 존재함");
						} else {
							str = "<div class='col-sys' id = '" + index + "'>"
							str += "<b class='fontp'>" + value + "</b>";
							str += "</div></div>";
							$("#team2Count").val(Object.keys(content).length);
							$("#" + index + "").remove();
							$("#team2").children(".waiting_room_t2-user1").append(str);
						}
					});
				});

				stomp.subscribe("/sub/chat/team3List/" + roomId, function (chat) {
					var content = JSON.parse(chat.body);
					$.each(content, function (index, value) {
						if ($("#team3").children("#" + index + "").length > 0) {
							console.log("jquery : 해당 객체 존재함");
						} else {
							str = "<div class='col-sys' id = '" + index + "'>";
							str += "<b class='fontp'>" + value + "</b>";
							str += "</div></div>";
							$("#team3Count").val(Object.keys(content).length);
							$("#" + index + "").remove();
							$("#team3").children(".waiting_room_t3-user1").append(str);
						}
					});
				});

				stomp.subscribe("/sub/chat/team4List/" + roomId, function (chat) {
					var content = JSON.parse(chat.body);
					$.each(content, function (index, value) {
						if ($("#team4").children("#" + index + "").length > 0) {
							console.log("jquery : 해당 객체 존재함");
						} else {
							str = "<div class='col-sys' id = '" + index + "'>";
							str += "<b class='fontp'>" + value + "</b>";
							str += "</div></div>";
							$("#team4Count").val(Object.keys(content).length);
							$("#" + index + "").remove();
							$("#team4").children(".waiting_room_t4-user1").append(str);
						}
					});
				});

				stomp.subscribe("/sub/chat/rm/" + roomId, function (chat) {
					var content = chat.body;
					console.log(content);
					$("#" + content + "").remove();
				});

				//3. send(path, header, message)로 메세지를 보낼 수 있음
				stomp.send('/pub/chat/enter', {}, JSON.stringify({pkRoomSeq: roomId, pkUserSeq: username}))
			});

			$("#team1").on("click", function (e) {
				if($("#team1Count").val() >= /*[[${room.teamNumber}]]*/0){
					alert("팀이 꽉 찼습니다.");
				}
				else
				{
					stomp.send('/pub/chat/Team1Change', {}, JSON.stringify({pkRoomSeq: roomId}))
				}
				$("#content").css("pointer-events", "none")
				$("#content").css("opacity", "100%")
			})

			$("#team2").on("click", function (e) {
				if($("#team2Count").val() >= /*[[${room.teamNumber}]]*/0){
					alert("팀이 꽉 찼습니다.");
				}
				else
				{
					stomp.send('/pub/chat/Team2Change', {}, JSON.stringify({pkRoomSeq: roomId}))
				}
				$("#content").css("pointer-events", "none")
				$("#content").css("opacity", "100%")
			})

			$("#team3").on("click", function (e) {
				if($("#team3Count").val() >= /*[[${room.teamNumber}]]*/0){
					alert("팀이 꽉 찼습니다.");
				}
				else
				{
					stomp.send('/pub/chat/Team3Change', {}, JSON.stringify({pkRoomSeq: roomId}))
				}
				$("#content").css("pointer-events", "none")
				$("#content").css("opacity", "100%")
			})

			$("#team4").on("click", function (e) {
				if($("#team4Count").val() >= /*[[${room.teamNumber}]]*/0){
					alert("팀이 꽉 찼습니다.");
				}
				else
				{
					stomp.send('/pub/chat/Team4Change', {}, JSON.stringify({pkRoomSeq: roomId}))
				}
				$("#content").css("pointer-events", "none")
				$("#content").css("opacity", "100%")
			})

			$("#system-test").on("click", function (e) {
				stomp.send('/pub/chat/system', {}, JSON.stringify({pkRoomSeq: roomId}))
			})

			$("#button-send").on("click", function (e) {
				var msg = document.getElementById("msg");

				console.log(username + ":" + msg.value);
				stomp.send('/pub/chat/message', {}, JSON.stringify({pkRoomSeq: roomId, chatContent: msg.value, pkUserSeq: username}));
				msg.value = '';
			});

			$(".teamchange").on("click", function (e) {
				$("#content").css("pointer-events", "all")
				$("#content").css("opacity", "80%")
			});

			$("#msg").keyup(function () {
				if (event.keyCode == 13) {
					var msg = document.getElementById("msg");
					stomp.send('/pub/chat/message', {}, JSON.stringify({pkRoomSeq: roomId, chatContent: msg.value, pkUserSeq: username}));
					msg.value = '';
				}
			});

			$("#gamestart").on("click", function() {
	    			stomp.send('/pub/chat/gamestart', {}, JSON.stringify({pkRoomSeq: roomId}));
			});
		}); 
	</script>

	<script>
		$(function () {
			// CodeMirror
			CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
				mode: "htmlmixed",
				theme: "monokai"
			});
		})
	</script>
	<script th:inline="javascript">
		//보드 판 테스트
		var temp_elem;
		/*<![CDATA[*/
		function loadQuestion(elem, question) {
			console.log("test");
			title = question.pkQuestionSeq + "번째 문제";
			name = question.questionName;
			contents = question.contents;
			codeFormat = question.codeFormat;
			console.log(title);
			console.log(name);
			console.log(contents);
			console.log(codeFormat);
			$('.modal-title').text(title);
			$('#questionNo').val(question.pkQuestionSeq);
			$('#questionName').text(name);
			$('#nameQuestion').val(question.className);
			$('#questionContents').text(contents);
			$('#Demo').html(codeFormat);
			temp_elem = elem;
		}
    /*]]>*/
	</script>
	<!-- 진상 script -->
	<script>
		$(function () {
			// CodeMirror
			CodeMirror.fromTextArea(document.getElementById("codeMirrorDemo"), {
				mode: "htmlmixed",
				theme: "monokai"
			});
		})
		var count = size;

		// 생성된 템플릿을 타임리프 템플릿 영역에 추가

		var line_length = Math.sqrt(count);
		var gameroom_left_classes = document.getElementsByClassName('question_col');
		var all_rooms_length = 490;
		var one_room_length = all_rooms_length / line_length;
		for (var i = 0; i < gameroom_left_classes.length; i++) {
			gameroom_left_classes[i].style.width = one_room_length + "px";
		}
		$("#total_modal").click(function () {
			$(".total_modal").text("점수표");
		});
		$('#giveup').click(function () {
			temp_elem.disabled = true;
			$(temp_elem).css("background-color", "gray");
			$(temp_elem).css("color", "darkgray");
		})
		$('#Question_submit').click(function () {
			var obj = {
				format: $("#Demo").val(),
				name: $("#nameQuestion").val(),
				number: $("#questionNo").val()
			}
			$.ajax({
				type: "POST",
				url: "sendAnswer",
				data: obj,
				success: function (data) {
					console.log("test");
				},
				error: function () {
				}
			});
			temp_elem.disabled = true;
			$(temp_elem).css("background-color", "#00b0f0");
			$(temp_elem).css("color", "blue");
		})
	</script>
	<script>
		var resultMap = new Map();
		// 문제를 포기하거나 맞췄을때 타입과 결과를 저장하는 함수
		function resultSave(key, result)
		{
			if (resultMap.get(key) === undefined)
			{
				resultMap.set(key, [0,0]);
				console.log(resultMap.get(key));
			}
			if (result == -1)
			{
				resultMap.get(key)[1] += 1;
			}
			if (result == 0)
			{
				resultMap.get(key)[0] += 1;
				resultMap.get(key)[1] += 1;
			}
		}
		// 결과값을 연산해주는 함수
		function resultCalc()
		{
			var total = 0;
			var solve = 0;
			var str;
			$("#type_result_area").empty();
			
			for (const [key, value] of resultMap.entries()) {
				console.log(`Key: ${key}, Value: ${value}`);
				str = '';
				str = "<div>";
				str += "<span>" + key + " : " + value[0] + "/" + value[1] + "</span>";
				str += "</div>";
				$("#type_result_area").append(str);
				total += value[1];
				solve += value[0];
			}
	
			$("#total_count").text(total);
			$("#solve_count").text(solve);
			$("#giveup_count").text(total-solve);
		}
		var nowNo = 0;
		var dice1 = 0;
		var dice2 = 0;
		function get_index_and_prob()
		{
			dice1 = Math.floor((shuffleNo[nowNo]-1)/6+1);
			dice2 = ((shuffleNo[nowNo])%6==0?6:(shuffleNo[nowNo])%6);
			// 임시 테스트용 코드
			str = '';
			str = "questionNo : " + questionList[nowNo].pkQuestionSeq + "  suffleNo : " + shuffleNo[nowNo] + "  dice1: " + dice1 + "  dice2: " + dice2;
			$("#test_value").text(str);
			// //////////////////////////////
			$('.modal').modal('show');
			loadQuestion(questionList[nowNo]);
			nowNo += 1;
		}
		
		function modalClose()
		{
			$('.modal').modal('hide');
			resultFillColor(1);
		}
		
		function resultFillColor(teamNo)
		{
			tagId = "#q"+shuffleNo[nowNo];
			if(teamNo == 0)	// all giveup
			{
				$(tagId).css("background-color", "gray");
				// resultSave($("#questionType").val(), -1);			
			}
			else if(teamNo == 1)
			{
				$(tagId).css("background-color", "yellow");
				// resultSave($("#questionType").val(), -1);	
			}
			else if(teamNo == 2)
			{
				$(tagId).css("background-color", "red");
				// resultSave($("#questionType").val(), -1);	
			}
			else if(teamNo == 3)
			{
				$(tagId).css("background-color", "blue");
				// resultSave($("#questionType").val(), -1);	
			}
			else if(teamNo == 4)
			{
				$(tagId).css("background-color", "green");
				// resultSave($("#questionType").val(), -1);	
			}
			if(teamNo != 0)
			{
				tagId="#score"+teamNo;
				var value = $(tagId).text();
				$(tagId).text(1+parseInt(value, 10));
			}
		}
		
		function loadQuestion(question) {
			console.log("test");
			title = question.pkQuestionSeq + "번째 문제";
			name = question.questionName;
			contents = question.contents;
			codeFormat = question.codeFormat;
			type = question.type;
			console.log(title);
			console.log(name);
			console.log(contents);
			console.log(codeFormat);
			$('.modal-title').text(title);
			$('#questionNo').val(question.pkQuestionSeq);
			$('#questionName').text(name);
			$('#nameQuestion').val(question.className);
			$('#questionType').val(type);
			$('#questionContents').text(contents);
			$('#Demo').html(codeFormat);
		}
	</script>
</th:block>

</html>