<!DOCTYPE html>
<!-- Default Layout Import-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}">

<th:block layout:fragment="content">
	<th:block th:each ${item : userList}>
		<ul class="list-group">
			<li class="list-group-item">
				<input class="form-check-input me-1" type="checkbox" value="" aria-label="...">
				<span class="form-check-input-name">${item.userId}</span>
				<span class="form-check-input-id">${item.name}</span>
				<span class="form-check-input-date">${item.registDt}</span>
			</li>
			<form action="">
				<button class="form-sign-accept">수락</button>
				<button class="form-sign-flase">거절</button>
			</form>
		</ul>
		
		<div class="col-12">
			<nav aria-label="Page navigation example" style="padding: 50px;">
				<ul class="pagination justify-content-center">
					<li class="page-item previous th-disabled" th:classappend="${paging.prev == false} ? 'disabled'">
						<a th:href="@{/chart.com(page=${paging.startPage - 1})}" tabindex="0"
							class="page-link">Previous</a>
					</li>
					<div th:each="pNo: ${#numbers.sequence(paging.startPage, paging.endPage)}">
						<li class="page-item" th:classappend="${paging.cri.page == pNo} ? 'active'">
							<a th:href="@{/chart.com(page=${pNo})}" tabindex="0" aria-controls="dataTable"
								class="page-link" th:text="${pNo}"></a>
						</li>
					</div>
					<li class="page-item next th-disabled" th:classappend="${paging.next == false} ? 'disabled'">
						<a th:href="@{/chart.com(page=${paging.endPage + 1})}" tabindex="0" aria-controls="dataTable"
							class="page-link">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</th:block>
</th:block>

</html>