<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content" style="background-color: aqua;height: 250px;">
			<div class="container">
				<div class="row" "mt-4">
					<div class="col-sm-10"></div>
					<div class="col-sm-2">
						<div class="dropdown">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2"
								data-bs-toggle="dropdown" aria-expanded="false">
								Dropdown
							</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
								<li><button class="dropdown-item" type="button">Action</button></li>
								<li><button class="dropdown-item" type="button">Another action</button></li>
								<li><button class="dropdown-item" type="button">Something else here</button></li>
							</ul>

						</div>
					</div>
				</div>

		</section>
		<section class="content">

			<div class="p-3">
				<div class="col -9">
					<input class="btn btn-primary" type="submit" value="Submit">
					<input class="btn btn-primary" type="submit" value="Submit">
					<input class="btn btn-primary" type="submit" value="Submit">
					<input class="btn btn-primary" type="submit" value="Submit">
				</div>
		</section>

		<section class="content">
			<div class="p-5">
				<div class="row-cols-1  row-cols-lg-5">

					<p>강의시간- 09:00~ 16:00</p>
				</div>
				<div>
					<p>과제 시간 16:00~ 18:00</p>
				</div>
		</section>
		<div class="content">

			<div class="row-cols-1">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">날짜</th>
							<th scope="col">과목명</th>
							<th scope="col">강좌명</th>
							<th scope="col">강의자료</th>
							<th scope="col">과제제출</th>

						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td><span>2023.03.03</span></td>
							<td><span>HTML</span></td>
							<td><span>1</span></td>
							<td><i class="fas fa-download"></i></td>
							<td><button type="button" class="btn btn-primary">첨부</button></td>


						</tr>
						<tr>
							<th scope="row">2</th>
							<td><span>2023.03.03</span></td>
							<td><span>HTML</span></td>
							<td><span>2</span></td>
							<td><i class="fas fa-download"></i></td>
							<td><button type="button" class="btn btn-primary">첨부</button></td>


						</tr>
						<tr>
							<th scope="row">3</th>
							<td><span>2023.03.03</span></td>
							<td><span>HTML</span></td>
							<td><span>3</span></td>
							<td><i class="fas fa-download"></i></td>
							<td><button type="button" class="btn btn-primary">첨부</button></td>

						</tr>
						<tr>
							<th scope="row">4</th>
							<td><span>2023.03.03</span></td>
							<td><span>Java</span></td>
							<td><span>4</span></td>
							<td><i class="fas fa-download"></i></td>
							<td><button type="button" class="btn btn-primary">첨부</button></td>
						</tr>


					</tbody>
				</table>
			</div>


			<script>
				<!--드롭앤다운-->
				var dropdownElementList = [].slice.call(document.querySelectorAll('.dropdown-toggle'))
				var dropdownList = dropdownElementList.map(function (dropdownToggleEl) {
					return new bootstrap.Dropdown(dropdownToggleEl)
				})



			</script>
</th:block>

</html>