<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/subjectLayout}">

<th:block layout:fragment="content">
	<!-- Main content -->




	<div class="content p-5">
		<div class="row">
			<div class="col-9">
				<h3>공지사항</h3>
			</div>
			<div class="col-3">
				<h3>과제제출</h3>
			</div>
		</div>
	</div>

	<div class="content p-5">
		<div class="row">
			<table class="table">
				<thead>
					<tr>
						<th scope="col"></th>
						<th scope="col">날짜</th>
						<th scope="col">과목명</th>
						<th scope="col">강좌명</th>
						<th scope="col">강의자료</th>
						<th scope="col">과제제출</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td><button type="button" class="btn btn-link">2023-05-30</button>
						</td>
						<td><span>HTML</span></td>
						<td><span>1</span></td>
						<td><i class="fas fa-download"></i></td>
						<td><button type="button" class="btn btn-primary">첨부</button>
						</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td><button type="button" class="btn btn-link">2023-05-30</button>
						</td>
						<td><span>HTML</span></td>
						<td><span>2</span></td>
						<td><i class="fas fa-download"></i></td>
						<td><button type="button" class="btn btn-primary">첨부</button>
						</td>


					</tr>
					<tr>
						<th scope="row">3</th>
						<td><button type="button" class="btn btn-link">2023-05-30</button>
						</td>
						<td><span>HTML</span></td>
						<td><span>3</span></td>
						<td><i class="fas fa-download"></i></td>
						<td><button type="button" class="btn btn-primary">첨부</button>
						</td>
					</tr>
					<tr>
						<th scope="row">4</th>
						<td><button type="button" class="btn btn-link">날짜 링크 연결</button>
						</td>
						<td><span>Java</span></td>
						<td><span>4</span></td>
						<td><i class="fas fa-download"></i></td>
						<td><button type="button" class="btn btn-primary">첨부</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="row">
			<div class="col-9"></div>
			<div class="col-3"><span>강의시간 - 09:00~16:00</span></div>
		</div>
		<div class="row">
			<div class="col-9"></div>
			<div class="col-3"><span>과제 시간- 16:00~18:00</span></div>
		</div>
	</div>

</th:block>

</html>