<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/defaultLayout}">

<th:block layout:fragment="content">
	<div class="content-wrapper">
		<!-- Main content -->
		<section class="content" style="background-color: aqua;height: 250px;">
			<div class="p-2">
				<div class="col -10">
					<div class="dropdown">
						<span>
							<h2>과목</h2>
						</span>
					</div>
				</div>
			</div>
		</section>

		<div class="row ">
			<ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
				<li class="nav-item">
					<a class="nav-link " id="custom-tabs-one-home-tab" data-toggle="pill" href="#custom-tabs-one-home"
						role="tab" aria-controls="custom-tabs-one-home" aria-selected="false">Client</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
						href="#custom-tabs-one-profile" role="tab" aria-controls="custom-tabs-one-profile"
						aria-selected="false">Server</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill"
						href="#custom-tabs-one-messages" role="tab" aria-controls="custom-tabs-one-messages"
						aria-selected="false">Algorithrm</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="custom-tabs-one-settings-tab" data-toggle="pill"
						href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings"
						aria-selected="true">웹 프레임웍</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active" id="custom-tabs-one-settings-tab" data-toggle="pill"
						href="#custom-tabs-one-settings" role="tab" aria-controls="custom-tabs-one-settings"
						aria-selected="true">프로젝트</a>
				</li>
			</ul>
		</div>

		<div class="p-5">
			<div class="col-7">
				<input class="btn btn-primary m-1" type="submit" value="강의일정">
				<input class="btn btn-primary m-1" type="submit" value="복습영상">
				<input class="btn btn-primary m-1" type="submit" value="테스트">
				<input class="btn btn-primary m-1" type="submit" value="강의평가">
			</div>
		</div>

          <!-- 영상 1번째 줄(가로) 시작-->
		<div class="p-5">
			<div class="row">
				<div class="col p-3">
					<div class="card card-row card-primary mr-3">
						 <div class="card-header ">
							<h5 class="card-title col-8">2023.05.11</h5>
							<input class="btn btn-primary col-4" style="background-color:rgb(128, 128, 255); border-radius:9px" type="submit" value="수강하기">
						 </div>
						   <div class="card card-primary card-outline">
							 <div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="//www.youtube.com/embed/E_c1ouE2X5E"
									frameborder="0" allowfullscreen></iframe>
							 </div>
						  </div>
					</div>
				</div>
				<div class="col p-3">
					<div class="card card-row card-primary mr-3">
						<div class="card-header ">
							<h5 class="card-title col-8">2023.05.31</h5>
							<input class="btn btn-primary col-4"style="background-color:rgb(128, 128, 255); border-radius:9px" type="submit" value="수강하기">
						</div>
						   <div class="card card-primary card-outline">
							 <div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="//www.youtube.com/embed/E_c1ouE2X5E"
									frameborder="0" allowfullscreen></iframe>
							 </div>
						  </div>
					</div>
				</div>
				<div class="col p-3">
					<div class="card card-row card-primary mr-3">
						   <div class="card-header">
							<h5 class="card-title col-8">2023.05.5</h5>
							<input class="btn btn-primary col-4" style="background-color:rgb(128, 128, 255);border-radius:9px" type="submit" value="수강하기">
						   </div>
						  <div class="card card-primary card-outline">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="//www.youtube.com/embed/E_c1ouE2X5E"
									frameborder="0" allowfullscreen></iframe>
							</div>
						 </div>
					</div>
				</div>
			</div>
			
			<!-- 영상 2번째 줄(가로) 시작-->
			<div class="row">
				<div class="col p-3">
					<div class="card card-row card-primary mr-3">
						  <div class="card-header ">
							<h5 class="card-title col-8">2023.05.11</h5>
							<input class="btn btn-primary col-4" style="background-color:rgb(128, 128, 255); border-radius:9px" type="submit" value="수강하기">
						  </div>
						<div class="card card-primary card-outline">
							 <div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="//www.youtube.com/embed/E_c1ouE2X5E"
									frameborder="0" allowfullscreen></iframe>
							 </div>
						</div>
					</div>
				</div>
				<div class="col p-3">
					<div class="card card-row card-primary mr-3">
						 <div class="card-header">
							<h5 class="card-title col-8">2023.05.31</h5>
							<input class="btn btn-primary col-4" style="background-color:rgb(128, 128, 255); border-radius:9px" type="submit" value="수강하기">
						  </div>
						<div class="card card-primary card-outline">
							 <div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="//www.youtube.com/embed/E_c1ouE2X5E"
									frameborder="0" allowfullscreen></iframe>
							 </div>
						</div>
					</div>
				</div>
				<div class="col p-3">
					<div class="card card-row card-primary mr-3">
					  <div class="card-header">
							<h5 class="card-title col-8">2023.05.5</h5>
							<input class="btn btn-primary col-4" style="background-color:rgb(128, 128, 255); border-radius:9px" type="submit" value="수강하기">
					 </div>
						<div class="card card-primary card-outline">
							 <div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" src="//www.youtube.com/embed/E_c1ouE2X5E"
									frameborder="0" allowfullscreen></iframe>
							 </div>

						</div>
					</div>
				</div>

			</div>
		</div>

	</div>

</th:block>

</html>