<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/std/stdAiLayout}">

<div layout:fragment="content">
	<div class="row">
		<div class="col-12 p-5">
			<div class="row">
				<div class="col-6">
					<h2>용어사전</h2>
				</div>
			</div>
			<section class="post">
				<header class="major">
					<h1>article_name</h1>
				</header>
				<h3>caterory : <label>컴퓨팅 기술</label></h3>
				<h3>article : </h3>
				<p>기사 입력내용</p>
				<h3>summary : </h3>
				<p>요약된 내용</p>
				<hr />
				<h3>keyword : </h3>
				<span>(1)keyword</span>
				<p>삼성에서 (1)을 출시했다.</p>
				<ul class="actions special">
					<li><button type="submit" class="btn btn-primary">수정</button></li>
				</ul>
			</section>
		</div>
	</div>
</div>


</html>