<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/std/stdAiLayout}">

<div layout:fragment="content">
	<div class="row">
		<div class="col-12 p-5">
			<div class="row">
				<div class="col-6">
					<h2>용어사전</h2>
				</div>
			</div>
			<section class="post">
				<header class="major">
					<h1>제목 : <input text><br /></h1>
				</header>
				<h3>caterory : </h3>
				<label><input type="radio" name="IT" value="컴퓨팅 기술"> 컴퓨팅 기술</label>
				<label><input type="radio" name="IT" value="디지털 디바이스와 IoT"> 디지털 디바이스와 IoT</label>
				<label><input type="radio" name="IT" value="미래 기술과 혁신"> 미래 기술과 혁신</label>
				<label><input type="radio" name="IT" value="보안과 개인 정보 보호"> 보안과 개인 정보 보호</label>
				<label><input type="radio" name="IT" value="기업과 협업"> 기업과 협업</label>
				<h3>article : </h3>
				<p><textarea cols="50" rows="10" placeholder="write..."></textarea></p>
				<ul class="actions special">
					<li><input type="button" value="요약"></li>
				</ul>
				<h3>summary : </h3>
				<p><textarea cols="50" rows="3" placeholder="요약된 내용"></textarea></p>
				<hr />
				<h3>keyword : </h3>
				<span>(1)keyword</span>
				<p><textarea cols="50" rows="3" placeholder="ex: 삼성에서 (1)를 출시했다."></textarea></p>
				<ul class="actions special">
					<li><button type="submit" class="btn btn-primary">저장</button></li>
				</ul>
			</section>
		</div>
	</div>
</div>

</html>