<!doctype html>
<html>
	<head>
		<title>vocabulary</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">	
		<script type="text/javascript">
			// 단어 뜻 열고 닫기 
			var bDisplay = true;
			function doDisplay(){
				var con = document.getElementById("hide");
				if(con.style.display=='none'){
					con.style.display = 'block';
				}else{
					con.style.display = 'none';
				}
			}
			// 삭제
			function deleteRow(ths){
			var ths = $(ths);

			ths.parents("tr").remove();
			}
		</script>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
			<!-- Main -->
				<div id="main">
					<!-- Featured Post -->
						<article class="post featured">
							<header class="major">
								<h2>vocabulary</h2>
								<p><a href="article_index.html">article</a></p>
							</header>
						</article>

					<!-- Table -->
					<!-- container -->
						<div class="container">
							<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>No.</th>
											<th>Name</th>
											<th>Date</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td><a href="javascript:doDisplay();">삼성 키오스크</a>
											<div id="hide" style="display:none;">
												<p>본인이 쓴 뜻</p>
												<a href="keyword.html"><p>원문 보러가기</p></a>
											</div></td>
											<td>2023.06.05</td>
											<td><i class="bi bi-file-excel-fill" onclick="deleteRow(this);"></i></td>
										</tr>
										<tr>
											<td>2</td>
											<td><a href="#">윈도 OS</a></td>
											<td>2023.06.05</td>
											<td><i class="bi bi-file-excel-fill" onclick="deleteRow(this);"></i></td>
										</tr>
										<tr>
											<td>3</td>
											<td><a href="#">올인원(All-in-one)</a></td>
											<td>2023.06.05</td>
											<td><i class="bi bi-file-excel-fill" onclick="deleteRow(this);"></i></td>
										</tr>
									</tbody>
								</table>
								</div>
							</div>
		
				<!-- pagination -->
					<footer>
						<div class="pagination">
							<!--<a href="#" class="previous">Prev</a>-->
							<a href="#" class="page active">1</a>
							<a href="#" class="page">2</a>
							<a href="#" class="page">3</a>
							<span class="extra">&hellip;</span>
							<a href="#" class="page">8</a>
							<a href="#" class="page">9</a>
							<a href="#" class="page">10</a>
						</div>
					</footer>
					
			</div>
		</div>
	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	</body>
</html>