<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mng/mngDeshboardLayout}">
<!-- Main content -->
<style>
</style>
<th:block layout:fragment="content">
	<div class="row">
		<div class="col-12 p-5">
			<div class="row">
				<div class="col-6">
					<h2>교육목록</h2>
				</div>
				<div class="card-tools col-6 text-right">
					<button data-toggle="modal" data-target="#modal-xl" type="button" class="btn btn-primary btn-sm">
						<span>등록</span>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<table class="table">
				<thead>
					<tr>
						<th scope="col">No.</th>
						<th scope="col">교육명</th>
						<th scope="col">선생님</th>
						<th scope="col">기간</th>
						<th scope="col">진행상태</th>
						<th scope="col">수정</th>
					</tr>
				</thead>
				<tbody>
					<!-- 여기에 동적으로 생성되는 내용을 반복하여 추가할 수 있습니다 -->
					<tr th:each="item, index : ${educationList}">
						<td th:text="${index.index + 1}"></td>
						<td th:text="${item.educationName}"></td>
						<td th:text="${item.name}"></td>
						<td th:text="${item.educationDt}"></td>
						<td th:text="${item.educationState}"></td>
						<td>
							<button data-toggle="modal" data-target="#modal-xl"
								th:attr="pkEducationSeq=${item.pkEducationSeq}" type="button"
								class="btn btn-info updateBtn">
								<span>수정</span>
							</button>
						</td>
					</tr>
				</tbody>
			</table>

			<!-- /.card-body -->
			<div class="card-footer">
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-12">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item previous th-disabled" th:classappend="${paging.prev == false} ? 'disabled'">
						<a th:href="@{/mng/education/main(page=${paging.startPage - 1})}" tabindex="0"
							class="page-link">Previous</a>
					</li>
					<div th:each="pNo: ${#numbers.sequence(paging.startPage, paging.endPage)}">
						<li class="page-item" th:classappend="${paging.cri.page == pNo} ? 'active'">
							<a th:href="@{/mng/education/main(page=${pNo})}" tabindex="0" aria-controls="dataTable"
								class="page-link" th:text="${pNo}"></a>
						</li>
					</div>
					<li class="page-item next th-disabled" th:classappend="${paging.next == false} ? 'disabled'">
						<a th:href="@{/mng/education/main(page=${paging.endPage + 1})}" tabindex="0"
							aria-controls="dataTable" class="page-link">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
		<form action="/mng/education/create" name="educationInfo" method="post" onsubmit="return validation()">
			<div class="modal-dialog modal-dialog-cented modal-xl">
				<div class="modal-content">
					<div class="col-12 modal-header">
						<h4 class="col-12 modal-title text-center">교육 등록</h4>
						<input type="hidden">
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label>교육명</label>
										<input id="educationName" name="educationName" type="text" class="form-control">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label>교육 일정</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">
													<i class="far fa-calendar-alt"></i>
												</span>
											</div>
											<input id="educationDt" name="educationDt" type="text"
												class="form-control float-right dateFormat">
										</div>

									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>담당자</label>
										<select id="pkManagerSeq" name="pkManagerSeq" class="form-control select2bs4"
											style="width: 100%;" tabindex="-1" aria-hidden="true">
										</select>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>학생정보</label>
										<select id="pkUserSeq" name="pkUserSeq" multiple="multiple" class="form-control"
											style="width: 100%;">
											<option th:each="user : ${userList}" th:value="${user.pkUserSeq}"
												th:text="${'이름: ' + user.name + ' 생년월일: ' + user.birthday}">
											</option>
										</select>

									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">

										<div class="row">
											<div class="col-6">
												<label>과목 정보</label>
											</div>
											<div class="card-tools col-6 text-right">
												<button onclick="javascript:rowAdd();" type="button"
													class="btn btn-primary btn-sm">
													<span>추가</span>
												</button>
											</div>
										</div>
										<table class="table">
											<thead>
												<tr>
													<th scope="col">과목</th>
													<th scope="col">기간</th>
													<th scope="col">강사</th>
													<th scope="col">삭제</th>
												</tr>
											</thead>
											<tbody id="lectTbody">
											</tbody>
										</table>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">
							<span>등록</span>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<script>
		var MANAGER_ARRAY = [];
		var SUBJECT_ARRAY = [];
		var EDUCATION_ARRAY = [];
		var educateManagerBox;
		var educateUserBox;
		function validation() {
			var formData = $('.duallistbox').val();
			console.log(formData)
			document.educationInfo.pkUserSeqArray.value = formData
			if (!document.educationInfo.educationName.value) {
				alert("교육명을 입력하세요.");
				return false;
			}

			if (!document.educationInfo.educationDt.value) {
				alert("교육일정을 입력하세요.");
				return false;
			}
			if (!document.educationInfo.pkManagerSeq.value) {
				alert("담당자를 선택하세요.");
				return false;
			}
			if (!document.educationInfo.lectureName.value) {
				alert("과목를 입력하세요.");
				return false;
			}
			if (!document.educationInfo.lectureDt.value) {
				alert("기간을 선택하세요.");
				return false;
			}
			if (!document.educationInfo.pkManagerSeqArray.value) {
				alert("강사를 선택하세요.");
				return false;
			}
			if (!document.educationInfo.pkUserSeqArray.value) {
				alert("교육에 참여할 학생을 선택하세요.");
				return false;
			}

			document.educationInfo.submit();
		}


		function rowDel(button) {
			SUBJECT_ARRAY.splice($(button).attr('index'), 1);
			arrayInit();
		}
		function rowAdd() {
			SUBJECT_ARRAY.push({})
			arrayInit();
		}
		function option() {
			var options = "";
			$.each(MANAGER_ARRAY, function (index, item) {
				options += "<option value=\"" + item.pkManagerSeq + "\">" + item.name + "</option>";
			});
			console.log(options)
			return options;
		}
		function arrayInit() {
			// 오름 차순 정렬
			$("#lectTbody").empty();
			$('#pkUserSeq').val(null).trigger('change');
			SUBJECT_ARRAY = SUBJECT_ARRAY.slice().sort(function (a, b) {
				return a - b;
			});

			$.each(EDUCATION_ARRAY, function (index, item) {
				var pkUserSeqArray = item.pkUserSeqArray;
				var pkUserSeqArraySplit = pkUserSeqArray.split(",");
				var pkUserSeqList = [];
				for (var i = 0; i < pkUserSeqArraySplit.length; i++) {
					var pkUserSeqInt = parseInt(pkUserSeqArraySplit[i]);
					pkUserSeqList.push(pkUserSeqInt);
				}
				$("#educationName").val(item.educationName);
				$("#educationDt").val(item.educationDt);
				educateManagerBox.val(item.pkManagerSeq).trigger("change");
				educateUserBox.val(pkUserSeqList).trigger("change");
			});


			$.each(SUBJECT_ARRAY, function (index, item) {
				console.log(item.subjectName)
				$("#lectTbody").append(
					"<tr>" +
					"<td>" +
					"<input name=\"subjectName\" type=\"text\" class=\"form-control\" value=\"" + (item.subjectName === undefined ? "" : item.subjectName) + "\">" +
					"</td>" +
					"<td>" +
					"<input name=\"subjectDt\" type=\"text\" class=\"form-control subjectDt dateFormat\">" +
					"</td>" +
					"<td>" +
					"<select name=\"pkManagerSeqArray\" class=\"form-control managerSelect\" style=\"width: 100%;\">" +
					option() +
					"</select>" +
					"</td>" +
					"<td>" +
					"<button index=\"" + index + "\" onclick=\"javascript:rowDel(this);\" type=\"button\" class=\"btn btn-danger btn-sm\">" +
					"<span>삭제</span>" +
					"</button>" +
					"</td>" +
					"</tr>"
				);

				var rangeDate = $('.subjectDt').daterangepicker({
					linkedCalendars: false,
					drops: 'up',
					"locale": {
						"format": "YYYY-MM-DD",
						"separator": " ~ ",
						"applyLabel": "적용",
						"cancelLabel": "취소",
						"fromLabel": "From",
						"toLabel": "To",
						"customRangeLabel": "Custom",
						"daysOfWeek": ["일", "월", "화", "수", "목", "금", "토"],
						"monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"]
					}
				}, function (start, end, label) {
					console.log('선택된 날짜: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
				}).last();
				console.log(item.pkManagerSeq)
				rangeDate.data('daterangepicker').setStartDate(item.subStartDt);
				rangeDate.data('daterangepicker').setEndDate(item.subEndDt);

				var managerSelect = $('.managerSelect').last();

				managerSelect.val(item.pkManagerSeq).trigger("change");
				console.log(item.pkManagerSeq == "" ? null : item.pkManagerSeq)
			});
		}
		$(document).ready(function () {

			$.ajax({
				url: '/getUserList',
				type: 'POST',
				dataType: 'json',
				success: function (data) {

					MANAGER_ARRAY = data.managerList;
					USER_ARRAY = data.userList;

					educateManagerBox = $('#pkManagerSeq').select2({
						data: MANAGER_ARRAY,
						dropdownParent: $('#modal-xl'),
						theme: 'bootstrap4'
					});
					educateUserBox = $('#pkUserSeq').select2({
						dropdownParent: $('#modal-xl'),
						theme: 'bootstrap4'
					});
				},
				error: function (xhr, status, error) {
					console.log(error); // 에러 처리
				}
			});

			$('#educationDt').daterangepicker({
				linkedCalendars: false,
				drops: 'down',
				"locale": {
					"format": "YYYY-MM-DD",
					"separator": " ~ ",
					"applyLabel": "적용",
					"cancelLabel": "취소",
					"fromLabel": "From",
					"toLabel": "To",
					"customRangeLabel": "Custom",
					"daysOfWeek": ["일", "월", "화", "수", "목", "금", "토"],
					"monthNames": ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"]
				}
			}, function (start, end, label) {
				console.log('선택된 날짜: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
			})
			$('.modal').on('shown.bs.modal', function (e) {
				// 테이블 초기화
				//$(this).find('#lectTbody').empty();
			});

			$('.modal').on('hidden.bs.modal', function (e) {
				// 모달이 닫힐 때 실행되는 코드
				$(this).find('form')[0].reset(); // 입력 필드 초기화
				// 테이블 초기화
				//$(this).find('#lectTbody').empty();
				SUBJECT_ARRAY = [];
				EDUCATION_ARRAY = [];
				arrayInit();
			});

			$('.dateFormat').on('cancel.daterangepicker', function (ev, picker) {
				$(this).val('');
			});

			$('.updateBtn').click(function () {
				// AJAX 호출
				$.ajax({
					url: '/getsubjectList',
					type: 'POST',
					data: {
						pkEducationSeq: $(this).attr('pkEducationSeq')
					},
					dataType: 'json',
					success: function (data) {
						SUBJECT_ARRAY = [];
						EDUCATION_ARRAY = [];
						SUBJECT_ARRAY = data.subjectList;
						EDUCATION_ARRAY = data.educationList;

						arrayInit();
					},
					error: function (xhr, status, error) {
						console.log(error); // 에러 처리
					}
				});
			});

		})

	</script>
</th:block>

</html>