<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/std/stdDeshboardLayout}">
<!-- Main content -->

<th:block layout:fragment="content">
	<!--성장 그래프 상세보기 모달창-->
	<div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-cented modal-xl">
			<div class="modal-content">
				<div class="col-12 modal-header">
					<h4 class="col-12 modal-title text-center">역량</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-6">
							<div class="card">
								<div class="chart">
									<canvas id="gameChart"
										style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 406px;"
										width="812" height="500" class="chartjs-render-monitor gameChart"></canvas>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="card">
								<div class="chart">
									<canvas id="aiChart"
										style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 406px;"
										width="812" height="500" class="chartjs-render-monitor gameChart"></canvas>
								</div>
							</div>
						</div>

					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<div class="col-12">
						<div class="col-1 mx-auto">
							<button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--마이페이지-->
	<!-- Main content -->
	<section class="content">
		<div class="p-2">
			<div class="col-10">
				<div>
					<span>
						<h2>마이페이지</h2>
					</span>
				</div>
			</div>
		</div>
	</section>

	<div class="content">
		<div class="row">
			<!--캘린더-->
			<div class="col-6">
				<div class="card card-primary card-outline">
					<div class="card-body">
						<div id="calendar"></div>
					</div>

				</div>
			</div>
			<div class="col-6">
				<div class="card card-primary card-outline">
					<div class="card-header">
						<div class="row">
							<div class="col-6">
								<h4>학생분석</h4>
							</div>
							<div class="card-tools col-6 text-right">
								<button data-toggle="modal" data-target="#modal-xl" type="button"
									class="btn btn-primary btn-sm chartModalBtn"
									th:data-pkUserSeq="${session.loginDto.pkUserSeq}">
									<span>보기</span>
								</button>

							</div>
						</div>
					</div>
					<div class="card-body ">
						<div class="info-box" style="height: 15rem;">
							<span class="info-box-icon bg-info elevation-1" style="height: 100px; width: 100px;"><i
									class="fas fa-cog"></i></span>
							<div class="info-box-content" style="display: inline;">
								<span class="info-box-text" th:utext="${session.loginDto.name}"></span>
								<span class="info-box-number">
									10
									<small>%</small>
								</span>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!--차트-->
		</div>
		<!--1번 row-->
		<!--출결관리-->
		<div class="row">
			<div class="col-12">
				<div class="card card-primary card-outline">
					<div class="card-header">
						<div class="row">
							<div class="col-6">
								<h4>학생정보</h4>
							</div>
						</div>
					</div>
					<div class="card-body table-responsive">
						<table class="table table-hover text-nowrap text-center">
							<thead>
								<tr>
									<th>No.</th>
									<th>교육명</th>
									<th>이름</th>
									<th>생년월일</th>
									<th>전화번호</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item, index : ${list}">
									<td th:text="${index.index + 1}"></td>
									<td th:text="${item.educationName}"></td>
									<td th:text="${item.name}"></td>
									<td th:text="${item.birthday}"></td>
									<td th:text="${item.phone}"></td>
								</tr>

							</tbody>
						</table>
					</div>
					<!--미구현-->
				</div>
			</div>

		</div>
	</div>
	<script>
		var CALENDAR_ARRAY = [];
		var GAME_CHART_DATA = '';
		var AI_CHART_DATA = '';
		// 랜덤 색상 생성 함수
		function getRandomColor() {
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
				color += letters[Math.floor(Math.random() * 16)];
			}
			return color;
		}
		$(document).ready(function () {

			/* initialize the calendar
			-----------------------------------------------------------------*/
			//Date for the calendar events (dummy data)
			var Calendar = FullCalendar.Calendar;
			var Draggable = FullCalendar.Draggable;

			var calendarEl = document.getElementById('calendar');

			var calendar = new FullCalendar.Calendar(calendarEl, {
				headerToolbar: {
					left: 'prev,next today',
					center: 'title',
					right: 'dayGridMonth,timeGridWeek,timeGridDay'
				},
				themeSystem: 'bootstrap',
				locale: 'ko',
				buttonText: {
					today: '오늘',
					month: '월간',
					week: '주간',
					day: '일간'
				},
				// Random default events
				events: CALENDAR_ARRAY,
				editable: false,
				droppable: false, // this allows things to be dropped onto the calendar !!!
				eventRender: function (info) {
					info.el.style.backgroundColor = info.event.backgroundColor;
					info.el.style.borderColor = info.event.borderColor;
				}
			});

			calendar.render();


			$.ajax({
				url: '/calendar/list',
				type: 'POST',
				dataType: 'json',
				success: function (data) {
					// 이벤트 리스트를 배열로 변환
					var CALENDAR_ARRAY = data.map(function (event) {
						return {
							id: event.pkSubjectSeq,
							title: event.subjectName,
							start: event.subStartDt, // 이벤트 시작 일자
							end: event.subEndDt, // 이벤트 종료 일자
							// 필요한 다른 이벤트 속성들...
							backgroundColor: getRandomColor(), // 랜덤 색상
							borderColor: getRandomColor() // 랜덤 색상
						};
					});

					// FullCalendar에 이벤트 배열 설정
					calendar.setOption('events', CALENDAR_ARRAY);
				},
				error: function (xhr, status, error) {
					console.log(error);
				}
			});



			$('.chartModalBtn').click(function () {
				var pkUserSeq = $(this).attr('data-pkuserseq');
				var url = '/chart/list/' + pkUserSeq;
				// AJAX 호출
				$.ajax({
					url: url,
					type: 'POST',
					dataType: 'json',
					success: function (data) {
						GAME_CHART_DATA = '';
						AI_CHART_DATA = '';
						GAME_CHART_DATA = data.aiResult;
						AI_CHART_DATA = data.gameResult;


						var data = {
							datasets: [{
								data: [
									GAME_CHART_DATA.minVal,
									GAME_CHART_DATA.avgVal,
									GAME_CHART_DATA.userVal,
									GAME_CHART_DATA.maxVal
								],
								backgroundColor: [
									`rgba(60, 141, 188, 0.5)`,
									`rgba(0, 0, 255, 0.5)`,
									`rgba(255, 255, 0, 0.5)`,
									`rgba(0, 128, 0, 0.5)`
								],
								label: 'Game 역량', // for legend
							}],
							labels: [
								"최소",
								"평균",
								"나의위치",
								"최대",
							],
						};
						var ctx = $("#gameChart");
						new Chart(ctx, {
							data: data,
							type: 'polarArea',
							options: {
							}
						});


						/* ChartJS
						 * -------
						 * Here we will create a few charts using ChartJS
						 */

						var aiChartData = {
							labels: ['Ai 역량'],
							datasets: [
								{
									label: '최저',
									backgroundColor: 'rgba(210, 214, 222, 1)',
									borderColor: 'rgba(210, 214, 222, 1)',
									pointRadius: false,
									pointColor: 'rgba(210, 214, 222, 1)',
									pointStrokeColor: '#c1c7d1',
									pointHighlightFill: '#fff',
									pointHighlightStroke: 'rgba(220,220,220,1)',
									data: [AI_CHART_DATA.minVal]
								},
								{
									label: '평균',
									backgroundColor: 'rgba(210, 214, 222, 1)',
									borderColor: 'rgba(210, 214, 222, 1)',
									pointRadius: false,
									pointColor: 'rgba(210, 214, 222, 1)',
									pointStrokeColor: '#c1c7d1',
									pointHighlightFill: '#fff',
									pointHighlightStroke: 'rgba(220,220,220,1)',
									data: [AI_CHART_DATA.avgVal]
								},
								{
									label: '나의 위치',
									backgroundColor: 'rgba(60,141,188,0.9)',
									borderColor: 'rgba(60,141,188,0.8)',
									pointRadius: false,
									pointColor: '#3b8bba',
									pointStrokeColor: 'rgba(60,141,188,1)',
									pointHighlightFill: '#fff',
									pointHighlightStroke: 'rgba(60,141,188,1)',
									data: [AI_CHART_DATA.userVal]
								},
								{
									label: '최고',
									backgroundColor: 'rgba(210, 214, 222, 1)',
									borderColor: 'rgba(210, 214, 222, 1)',
									pointRadius: false,
									pointColor: 'rgba(210, 214, 222, 1)',
									pointStrokeColor: '#c1c7d1',
									pointHighlightFill: '#fff',
									pointHighlightStroke: 'rgba(220,220,220,1)',
									data: [AI_CHART_DATA.maxVal]
								},
							]
						}

						var aiChartOptions = {
							maintainAspectRatio: false,
							responsive: true,
							legend: {
								display: false
							},
							scales: {
								xAxes: [{
									gridLines: {
										display: false,
									}
								}],
								yAxes: [{
									gridLines: {
										display: false,
									}
								}]
							}
						}

						//-------------
						//- BAR CHART -
						//-------------
						var aiChartCanvas = $('#aiChart').get(0).getContext('2d')
						var aiChartData = $.extend(true, {}, aiChartData)
						var temp0 = aiChartData.datasets[0]
						var temp1 = aiChartData.datasets[1]
						aiChartData.datasets[0] = temp1
						aiChartData.datasets[1] = temp0

						var aiChartOptions = {
							responsive: true,
							maintainAspectRatio: false,
							datasetFill: false
						}

						new Chart(aiChartCanvas, {
							type: 'bar',
							data: aiChartData,
							options: aiChartOptions
						})
					},
					error: function (xhr, status, error) {
						console.log(error); // 에러 처리
					}
				});
			});




		});
	</script>
</th:block>

</html>