<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mng/mngDeshboardLayout}">
<!-- Main content -->

<th:block layout:fragment="content">
	<!-- 출석 사유 모달창-->
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog" style="overflow: hidden;">
			<!-- 모달 내용 -->
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">사유 등록</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				<form id="faqForm">
					<div class="modal-body">
						<div class="form-group">
							<label for="message">사유:</label>
							<textarea class="form-control" id="message" placeholder="내용을 입력하세요" required></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-default">등록</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--성장 그래프 상세보기 모달창-->
	<div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-dialog-cented modal-xl">
			<div class="modal-content">
				<div class="col-12 modal-header">
					<h4 class="col-12 modal-title text-center">학생 성장그래프</h4>
				</div>
				<div class="modal-body">
					<div class="chart">
						<div class="chartjs-size-monitor">
							<div class="chartjs-size-monitor-expand">
								<div class=""></div>
							</div>
							<div class="chartjs-size-monitor-shrink">
								<div class=""></div>
							</div>
						</div>
						<canvas id="lineChart"
							style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 406px;"
							width="812" height="500" class="chartjs-render-monitor"></canvas>
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<div class="col-12">
						<div class="col-1 mx-auto">
							<button type="button" class="btn btn-primary" data-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--마이페이지-->
	<!-- Main content -->
	<section class="content">
		<div class="p-2">
			<div class="col-10">
				<div>
					<span>
						<h2>마이페이지</h2>
					</span>
				</div>
			</div>
		</div>
	</section>

	<div class="content">
		<div class="row">
			<!--캘린더-->
			<div class="col-6">
				<div class="card card-primary card-outline">
					<div class="card-body">
						<div id="calendar"></div>
					</div>

				</div>
			</div>
			<div class="col-6">
				<div class="card card-primary card-outline">
					<div class="card-header">
						<div class="row">
							<div class="col-6">
								<h4>학생분석</h4>
							</div>
							<div class="card-tools col-6 text-right">
								<button data-toggle="modal" data-target="#modal-xl" type="button"
									class="btn btn-primary btn-sm" data-action="create"
									onclick="changeButtonAction(this)">
									<span>등록</span>
								</button>
							</div>
						</div>
					</div>
					<div class="card-body ">
						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">No.</th>
									<th scope="col">이름</th>
									<th scope="col">출석일자</th>
									<th scope="col">성장그래프</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span>1</span></td>
									<td><span>이름</span></td>
									<td><span>1</span></td>
									<td>
										<button type="button" class="btn btn-default" data-toggle="modal"
											data-target="#modal-xl">
											상세보기
										</button>

									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--차트-->
		</div>
		<!--1번 row-->
		<!--출결관리-->
		<div class="row">
			<div class="col-12">
				<div class="card card-primary card-outline">
					<div class="card-header">
						<div class="row">
							<div class="col-6">
								<h4>학생정보</h4>
							</div>
						</div>
					</div>
					<div class="card-body table-responsive">
						<table class="table table-hover text-nowrap text-center">
							<thead>
								<tr>
									<th>No.</th>
									<th>교육명</th>
									<th>이름</th>
									<th>생년월일</th>
									<th>전화번호</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item, index : ${list}">
									<td th:text="${index.index + 1}"></td>
									<td th:text="${item.educationName}"></td>
									<td th:text="${item.name}"></td>
									<td th:text="${item.birthday}"></td>
									<td th:text="${item.phone}"></td>
								</tr>

							</tbody>
						</table>
					</div>
					<!--미구현-->
				</div>
			</div>

		</div>
	</div>
	<script>
		var CALENDAR_ARRAY = [];
		// 랜덤 색상 생성 함수
		function getRandomColor() {
			var letters = '0123456789ABCDEF';
			var color = '#';
			for (var i = 0; i < 6; i++) {
				color += letters[Math.floor(Math.random() * 16)];
			}
			return color;
		}
		$(document).ready(function () {

			/* initialize the calendar
			-----------------------------------------------------------------*/
			//Date for the calendar events (dummy data)
			var Calendar = FullCalendar.Calendar;
			var Draggable = FullCalendar.Draggable;

			var calendarEl = document.getElementById('calendar');

			var calendar = new FullCalendar.Calendar(calendarEl, {
				headerToolbar: {
					left: 'prev,next today',
					center: 'title',
					right: 'dayGridMonth,timeGridWeek,timeGridDay'
				},
				themeSystem: 'bootstrap',
				locale: 'ko',
				buttonText: {
					today: '오늘',
					month: '월간',
					week: '주간',
					day: '일간'
				},
				// Random default events
				events: CALENDAR_ARRAY,
				editable: false,
				droppable: false, // this allows things to be dropped onto the calendar !!!
				eventRender: function (info) {
					info.el.style.backgroundColor = info.event.backgroundColor;
					info.el.style.borderColor = info.event.borderColor;
				}
			});

			calendar.render();


			$.ajax({
				url: '/calendar/list',
				type: 'POST',
				dataType: 'json',
				success: function (data) {
					// 이벤트 리스트를 배열로 변환
					var CALENDAR_ARRAY = data.map(function (event) {
						return {
							id: event.pkSubjectSeq,
							title: event.subjectName,
							start: event.subStartDt, // 이벤트 시작 일자
							end: event.subEndDt, // 이벤트 종료 일자
							// 필요한 다른 이벤트 속성들...
							backgroundColor: getRandomColor(), // 랜덤 색상
							borderColor: getRandomColor() // 랜덤 색상
						};
					});

					// FullCalendar에 이벤트 배열 설정
					calendar.setOption('events', CALENDAR_ARRAY);
				},
				error: function (xhr, status, error) {
					console.log(error);
				}
			});

		});
	</script>
</th:block>

</html>