.dice-wrapper{
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0%{
        transform: rotate(2deg);
    }
    50%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(10deg);
    }
}