	    @font-face {
			font-family: 'DungGeunMo';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
		@font-face {
			font-family: 'GmarketSansMedium';
			src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
			font-weight: normal;
			font-style: normal;
		}
				
		#container {
			width: 976px;
			height: 700px;
			background-size : auto ;
			display: flex;

		}
		#header {
        	padding: 10px;
			height : 70px;
      	}		
	    #content {
	        width: 665px;
			height: 560px;
	        padding: 10px;
	        float: left;
			margin : 70px auto;
			background: repeating-linear-gradient(-90deg, #005255, #282A46 2px);
			border-radius: 10px;
			display: flex;
			
			
	     }
	     #sidebar {
	        width: 250px;
			height: 560px;
	        padding: 5px;
	        float: right;
			margin : 70px auto;
			background: repeating-linear-gradient(-90deg, #005255, #282A46 2px);
			position: relative;
			border-radius: 10px;
	      	}
		.fontp{
			font-family : 'DungGeunMo';
			font-size : 12px;
			color : white;
			line-height : 150%;
		}
		.fontb{
			font-family : 'DungGeunMo';
			font-size : 13px;
			color : yellow;
			line-height : 150%;
		}
		.btnlogout{
			width: 220px;
			height: 50px;
			padding: 5px;
			text-align: center;
			margin: 0px 5px 5px 10px;
			/*border-top-left-radius: 5px;*/
			border-radius: 5px;
			background-color : gray;
			font-size: 20px;
			font-family: 'DungGeunMo';
			color : 'Darkgary';
			}
					      			
		.chess-board {
			width: 500px;
    		height: 500px;
			border : hidden;
			margin : auto;
			font-family: 'GmarketSansMedium'
			
		}

		.chess-board th {
			padding: .5em;
			width: auto;
		}

		.chess-board div {
			border: 2px solid #005255;
			width: 5em;
			height: 5em;
			float: left;
			text-align: center;
		}

		.chess-board .light {
			background: #eee;
		}

		.chess-board .dark {
			background: #000;
		}

		.giveup {
			background: red;
		}
		.side_User{
        	width: 220px;
			height: 200px;
        	padding: 10px;
        	float: center;
			text-align: center;
            justify-content: center;
			margin : 10px auto; 
			/*border-top-left-radius: 5px;*/
   			border-radius: 5px;
			background-color : #c55a11;
			font-family : 'DungGeunMo';
			line-height : 150%;
		}
		.chat-veiw{
	       	width: 220px;
			height: 250px;
	       	padding: 5px;
	       	float: center;
			margin : 15px auto;
			border : 3px solid white;
		}			