@font-face {
	font-family: 'DungGeunMo';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

#container {
	width: 976px;
	height: 700px;
	background-image: url('gameStart.png');
	background-size: auto;
}

#header {
	padding: 10px;
	height: 70px;
}

.waiting_room_content {
	width: 665px;
	height: 560px;
	padding: 10px;
	float: left;
	margin-right: 5px;
	margin-left: 10px;
	background: repeating-linear-gradient(-90deg, #005255, #282A46 2px);
	border-radius: 10px;
}

.fontp {
	font-family: 'DungGeunMo';
	font-size: 12px;
	color: white;
	line-height: 150%;
}

.fontb {
	font-family: 'DungGeunMo';
	font-size: 13px;
	color: yellow;
	line-height: 150%;
}

/*content*/
/*Tab*/
.team1 {
	border-radius: 10px;
	/*테두리 둥글게*/
	width: 300px;
	height: 260px;
	float: left;
	vertical-align: center;
	border: 3px solid #FFC04D;
	padding: 5px;
	margin: 0px 5px 2px 8px;
	/*position: absolute;
			  	top: 22%;
			 	left: 10%;
				margin: -50px 0 0 -50px;
				padding: 5px; */
	font-family: 'DungGeunMo';
}

.t1-user1 {
	background: #FFC04D;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.t1-change {
	background: #BF9039;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.team2 {
	border-radius: 10px;
	/*테두리 둥글게*/
	width: 300px;
	height: 260px;
	float: left;
	vertical-align: center;
	border: 3px solid #FF652A;
	/* position: absolute;
			  	top: 22%;
			 	left: 10%;
				margin: -50px 0 0 -50px; */
	margin: 0px 0px 2px 5px;
	padding: 5px;
	font-family: 'DungGeunMo';
}

.t2-user1 {
	background: #FF652A;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.t2-change {
	background: #BF4C1F;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.team3 {
	border-radius: 10px;
	/*테두리 둥글게*/
	width: 300px;
	height: 260px;
	float: left;
	vertical-align: center;
	border: 3px solid #1F71C2;
	margin: 2px 5px 0px 8px;
	padding: 5px;
	/* position: absolute;
			  	top: 47%;
			 	left: 25%;
				margin: -50px 0 0 -50px;
				padding: 5px; */
	font-family: 'DungGeunMo';
}

.t3-user1 {
	background: #4C6ED4;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.t3-change {
	background: #1454C2;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.team4 {
	border-radius: 10px;
	/*테두리 둥글게*/
	width: 300px;
	height: 260px;
	float: left;
	vertical-align: center;
	border: 3px solid #9BDB6B;
	padding: 5px;
	margin: 2px 0px 0px 5px;
	/* position: absolute;
			  	top: 47%;
			 	left: 5%;
				margin: -50px 0 0 -50px;
				padding: 5px; */
	font-family: 'DungGeunMo';
}

.t4-user1 {
	background: #9BDB6B;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.t4-change {
	background: #6F9C4C;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

/*side*/
.gameing_quizbtn {
	width: 220px;
	height: 30px;
	margin: 5px;
	border: 3px solid white;
}

.gameing_answer {
	width: 80px;
	height: 28px;
	text-align: center;
	float: left;
	background-color: #4C6ED4;
	font-size: 13px;
	font-family: 'DungGeunMo';
	color: white;
	margin: auto 1px;
	border-color: #1454C2;
}

.gameing_discard {
	width: 80px;
	height: 28px;
	text-align: center;
	float: right;
	background-color: gray;
	font-size: 13px;
	font-family: 'DungGeunMo';
	color: red;
}

.chat-veiw {
	width: 220px;
	height: 180px;
	padding: 5px;
	float: center;
	margin: 5px;
	border: 3px solid white;
}

.gameinfo {
	width: 220px;
	height: 120px;
	padding: 5px;
	float: center;
	margin: 5px;
	background-color: white;
	border: 3px solid white;
}

.chat-view {
	width: 220px;
	height: 200px;
	padding: 5px;
	float: center;
	margin: 5px;
	border: 3px solid white;
	overflow: scroll;
}

.chat-input {
	width: 220px;
	height: 23px;
	padding: 5px;
	float: center;
	margin: 5px;
	border: 3px solid white;
}

.write {
	width: 170px;
	height: 20px;
	float: left;
	border: 1.5px solid white;
}

.no_dot {
	font-family: 'DungGeunMo';
	font-size: 15px;
	line-height: 150%;
	list-style-type: none;
}

/*button icon*/
.btnchat {
	width: 40px;
	height: 25px;
	text-align: center;
	float: right;
	background-color: white;
	font-size: 12px;
	font-family: 'DungGeunMo';
	color: #005255;
}

.teamchange {
	width: 220px;
	height: 35px;
	padding: 5px;
	text-align: center;
	margin: 1px 5px 1px 10px;
	/*border-top-left-radius: 5px;*/
	border-radius: 5px;
	background-color: #32c864;
	font-size: 20px;
	font-family: 'DungGeunMo';
}

.btn {
	width: 220px;
	height: 50px;
	padding: 5px;
	text-align: center;
	margin: 3px 5px 5px 10px;
	/*border-top-left-radius: 5px;*/
	border-radius: 5px;
	background-color: #FFC04D;
	font-size: 20px;
	font-family: 'DungGeunMo';
	color: #c55a11;
}

.btnlogout {
	width: 220px;
	height: 50px;
	padding: 5px;
	text-align: center;
	margin: 3px 5px 5px 10px;
	/*border-top-left-radius: 5px;*/
	border-radius: 5px;
	background-color: gray;
	font-size: 20px;
	font-family: 'DungGeunMo';
	color: 'Darkgary';
}

.gameing_btnlogout {
	width: 228px;
	height: 50px;
	padding: 5px;
	text-align: center;
	margin: 3px 5px 5px 12px;
	/*border-top-left-radius: 5px;*/
	border-radius: 5px;
	background-color: gray;
	font-size: 20px;
	font-family: 'DungGeunMo';
	color: 'Darkgary';
}

/* Wait Room */

#waitRoom {
	width: 976px;
	height: 700px;
	background-size: auto;
}

.waiting_room_header {
	padding: 10px;
	height: 70px;
}

.waiting_room_container {
	width: 648px;
	height: 560px;
	padding: 10px;
	float: left;
	margin-right: 5px;
	margin-left: 10px;
	background: repeating-linear-gradient(-45deg, #005255, #282A46 2px);
	border-radius: 10px;
}

.waiting_room_sidebar {
	width: 250px;
	height: 560px;
	padding: 5px;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	background: repeating-linear-gradient(-45deg, #005255, #282A46 2px);
	position: relative;
	border-radius: 10px;
}

.waiting_room_gameinfo {
	width: 220px;
	height: 150px;
	padding: 5px;
	float: center;
	margin: 3px 10px;
	background-color: white;
	border: 3px solid white;
}

.waiting_room_no_dot {
	font-family: 'DungGeunMo';
	font-size: 15px;
	line-height: 150%;
	list-style-type: none;
}

.waiting_room_chat-view {
	width: 220px;
	height: 200px;
	padding: 5px;
	float: center;
	margin: 5px 10px;
	border: 3px solid white;
	overflow: scroll;
}

.waiting_room_chat-input {
	width: 220px;
	height: 34px;
	padding: 1px 5px 1px 5px;
	float: center;
	margin: 5px 10px;
	border: 3px solid white;
}

.waiting_room_btnchat {
	width: 40px;
	height: 25px;
	text-align: center;
	float: right;
	background-color: white;
	font-size: 12px;
	font-family: 'DungGeunMo';
	color: #005255;
}

#msg {
	height: 25px;
}

.gameing_msg {
	height: 25px;
}

.waiting_room_btn {
	width: 220px;
	height: 50px;
	padding: 5px;
	text-align: center;
	margin: 0px 5px 5px 10px;
	/*border-top-left-radius: 5px;*/
	border-radius: 5px;
	background-color: #FFC04D;
	font-size: 20px;
	font-family: 'DungGeunMo';
	color: #c55a11;
}

.waiting_room_btnlogout {
	width: 220px;
	height: 50px;
	padding: 5px;
	text-align: center;
	margin: 0px 5px 5px 10px;
	/*border-top-left-radius: 5px;*/
	border-radius: 5px;
	background-color: gray;
	font-size: 20px;
	font-family: 'DungGeunMo';
	color: 'Darkgary';
}

.waiting_room_team1 {
	border-radius: 10px;
	/*테두리 둥글게*/
	width: 300px;
	height: 260px;
	float: left;
	vertical-align: center;
	border: 3px solid #FFC04D;
	padding: 5px;
	margin: 0px 5px 2px 8px;
	/*position: absolute;
			  	top: 22%;
			 	left: 10%;
				margin: -50px 0 0 -50px;
				padding: 5px; */
	font-family: 'DungGeunMo';
}

.waiting_room_t1-user1 {
	background: #FFC04D;
	/*background-image: url(/img/player1.png);*/
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_t1-user2 {
	background: #FFC04D;
	/*background-image: url(/img/player2.png);*/
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_t1-user3 {
	background: #FFC04D;
	/*background-image: url(/img/player3.png);*/
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
	
}

.waiting_room_t1-user4 {
	background: #FFC04D;
	border-radius: 10px;
	background-image: url(/img/player4.png);
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_team2 {
	border-radius: 10px;
	/*테두리 둥글게*/
	width: 300px;
	height: 260px;
	float: left;
	vertical-align: center;
	border: 3px solid #FF652A;
	/* position: absolute;
			  	top: 22%;
			 	left: 10%;
				margin: -50px 0 0 -50px; */
	margin: 0px 0px 2px 5px;
	padding: 5px;
	font-family: 'DungGeunMo';
}

.waiting_room_t2-user1 {
	background: #FF652A;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_t2-user2 {
	background: #FF652A;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	padding: 5px;
	margin: 5px;
	float: left;
}

.waiting_room_t2-user3 {
	background: #FF652A;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	padding: 5px;
	margin: 5px;
	float: left;
}

.waiting_room_t2-user4 {
	background: #FF652A;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	padding: 5px;
	margin: 5px;
	float: left;
}

.waiting_room_team3 {
	border-radius: 10px;
	/*테두리 둥글게*/
	width: 300px;
	height: 260px;
	float: left;
	vertical-align: center;
	border: 3px solid #1F71C2;
	margin: 2px 5px 0px 8px;
	padding: 5px;
	/* position: absolute;
			  	top: 47%;
			 	left: 25%;
				margin: -50px 0 0 -50px;
				padding: 5px; */
	font-family: 'DungGeunMo';
}

.waiting_room_t3-user1 {
	background: #4C6ED4;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_t3-user2 {
	background: #4C6ED4;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_t3-user3 {
	background: #4C6ED4;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_t3-user4 {
	background: #4C6ED4;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_team4 {
	border-radius: 10px;
	/*테두리 둥글게*/
	width: 300px;
	height: 260px;
	float: left;
	vertical-align: center;
	border: 3px solid #9BDB6B;
	padding: 5px;
	margin: 2px 0px 0px 5px;
	/* position: absolute;
			  	top: 47%;
			 	left: 5%;
				margin: -50px 0 0 -50px;
				padding: 5px; */
	font-family: 'DungGeunMo';
}

.waiting_room_t4-user1 {
	background: #9BDB6B;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_t4-user2 {
	background: #9BDB6B;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_t4-user3 {
	background: #9BDB6B;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

.waiting_room_t4-user4 {
	background: #9BDB6B;
	border-radius: 10px;
	width: 130px;
	height: 110px;
	margin: 5px;
	padding: 5px;
	float: left;
}

/*gameroom*/

.gameing_container {
	width: 976px;
	height: 700px;
	background-image: url('gameStart.png');
	background-size: auto;
}

.gameing_header {
	padding: 10px;
	height: 70px;
}

.gameing_content {
	width: 685px;
	height: 580px;
	padding: 10px;
	float: left;
	margin-right: 5px;
	margin-left: 10px;
	background: repeating-linear-gradient(-90deg, #005255, #282A46 2px);
	border-radius: 10px;
}

.gameing_sidebar {
	width: 260px;
	height: 580px;
	padding: 5px;
	float: right;
	margin-left: 5px;
	margin-right: 5px;
	background: repeating-linear-gradient(-90deg, #005255, #282A46 2px);
	position: relative;
	border-radius: 10px;
}

/*side*/
.gameing_gamequiz {
	width: 236px;
	height: 141px;
	padding: 5px 7px;
	float: center;
	margin: 5px;
	background-color: white;
	border: 3px solid white;
}

.gameing_quizbtn {
	width: 220px;
	height: 35px;
	margin: 5px;
	border: 3px solid white;
}

.gameing_answer {
	width: 80px;
	height: 28px;
	text-align: center;
	float: left;
	background-color: #4C6ED4;
	font-size: 13px;
	font-family: 'DungGeunMo';
	color: white;
	margin: auto 1px;
	border-color: #1454C2;
}

.gameing_discard {
	width: 80px;
	height: 28px;
	text-align: center;
	float: right;
	background-color: gray;
	font-size: 13px;
	font-family: 'DungGeunMo';
	color: red;
}

.gameing_chat-veiw {
	width: 236px;
	height: 260px;
	padding: 5px;
	float: center;
	margin: 7px;
	border: 3px solid white;
}

.gameing_quizread {
	width: 240px;
	height: 35px;
	padding: 5px;
	text-align: center;
	margin: 1px 5px 1px 5px;
	/*border-top-left-radius: 5px;*/
	border-radius: 5px;
	background-color: #32c864;
	font-size: 20px;
	font-family: 'DungGeunMo';
}

.gameing_chat-input {
	width: 236px;
	height: 39px;
	padding: 2px;
	float: center;
	margin: 5px 7px;
	border: 3px solid white;
}

.gameing_room_btn {
	width: 220px;
	height: 50px;
	padding: 5px;
	text-align: center;
	margin: 0px 5px 5px 5px;
	/*border-top-left-radius: 5px;*/
	border-radius: 5px;
	background-color: #FFC04D;
	font-size: 20px;
	font-family: 'DungGeunMo';
	color: #c55a11;
}

.gameing_room_btnchat {
	width: 40px;
	height: 25px;
	text-align: center;
	float: right;
	background-color: white;
	font-size: 12px;
	font-family: 'DungGeunMo';
	color: #005255;
}

.gameing_out {
	width: 220px;
	height: 50px;
	padding: 5px;
	text-align: center;
	margin: 5px 5px 5px 5px;
	/*border-top-left-radius: 5px;*/
	border-radius: 5px;
	background-color: gray;
	font-size: 20px;
	font-family: 'DungGeunMo';
	color: 'Darkgary';
}

/*gameroom*/
/*contant*/
.gameing_user {
	border-radius: 5px;
	/*테두리 둥글게*/
	width: 156px;
	height: 546px;
	float: left;
	vertical-align: center;
	border: 3px solid white;
	margin: 2px;
	font-family: 'DungGeunMo';
}

.gameing_score {
	position: relative;
	border: 2px solid white;
	border-radius: 50px;
	width: 39px;
	height: 39px;
	margin: 35px 45px;

}

.gameing_scorenum {
	position: relative;
	top: -65px;
	left: 12px;
	font-family: 'GmarketSansMedium';
	font-size: 16px;
	color: white;
}

/*content dice*/
.gameing_dicearea {
	border-radius: 5px;
	/*테두리 둥글게*/
	width: 480px;
	height: 135px;
	float: left;
	vertical-align: center;
	border: hidden;
	margin: 2px 0px 2px 7px;
	font-family: 'DungGeunMo';
}

.gameing_lottie-container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.gameing_ricearea_col {
	width: 135px;
	height: 135px;
	background: #92d050;
	border: 5px solid #6F9C4C;
	border-radius: 10px;
	margin: 0px 20px 0px 0px;
}

.gameing_ricearea_row {
	width: 135px;
	height: 135px;
	background: #0070c0;
	border: 5px solid #1454C2;
	border-radius: 10px;
	margin: 0px 0px 0px 0px;
}

.gameing_rice1 {
	width: 220px;
	height: 220px;
	align-items: center;
	position: absolute;
	top: 35px;
	left: 240px;
	color: #0070c0;
}

.gameing_rice2 {
	width: 220px;
	height: 220px;
	align-items: center;
	position: absolute;
	top: 35px;
	left: 395px;
}

.gameing_quiz {
	border-radius: 5px;
	/*테두리 둥글게*/
	width: 490px;
	height: 387px;
	float: left;
	vertical-align: center;
	border: hidden;
	margin: 10px 0px 2px 7px;
	font-family: 'DungGeunMo';
}

.gameing_team1 {
	background: #FFC04D;
	border-radius: 10px;
	width: 140px;
	height: 120px;
	margin: 10px 5px 6px 5px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

.gameing_t1-user1 {
	background: #FFC04D;
	border: 2px solid white;
	border-radius: 5px;
	width: 59px;
	height: 49px;
	margin: 3px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

.gameing_t1-nouser {
	background: #BF9039;
	border: 2px solid #BF9039;
	border-radius: 5px;
	width: 59px;
	height: 49px;
	margin: 3px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

.gameing_team2 {
	background: #FF652A;
	border-radius: 10px;
	width: 140px;
	height: 120px;
	margin: 6px 5px 6px 5px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

.gameing_t2-user1 {
	background: #FF652A;
	border: 2px solid white;
	border-radius: 5px;
	width: 59px;
	height: 49px;
	margin: 3px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

.gameing_t2-nouser {
	background: #BF4C1F;
	border: 2px solid #BF4C1F;
	border-radius: 5px;
	width: 59px;
	height: 49px;
	margin: 3px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

.gameing_team3 {
	background: #4C6ED4;
	border-radius: 10px;
	width: 140px;
	height: 120px;
	margin: 6px 5px 6px 5px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

.gameing_t3-user1 {
	background: #4C6ED4;
	border: 2px solid white;
	border-radius: 5px;
	width: 59px;
	height: 49px;
	margin: 3px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

.gameing_t3-nouser {
	background: #1454C2;
	border: 2px solid #1454C2;
	border-radius: 5px;
	width: 59px;
	height: 49px;
	margin: 3px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

.gameing_team4 {
	background: #9BDB6B;
	border-radius: 10px;
	width: 140px;
	height: 120px;
	margin: 6px 5px 6px 5px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

.gameing_t4-user1 {
	background: #9BDB6B;
	border: 2px solid white;
	border-radius: 5px;
	width: 59px;
	height: 49px;
	margin: 3px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo'
}

.gameing_t4-nouser {
	background: #6F9C4C;
	border: 2px solid #6F9C4C;
	border-radius: 5px;
	width: 59px;
	height: 49px;
	margin: 3px;
	padding: 5px;
	float: left;
	font-family: 'DungGeunMo';
}

/*table*/
.gameing_table {
	border-spacing: 1;
	border-collapse: collapse;
	background: white;
	border: 2px solid white;
	/* border-radius:6px; */
	/* overflow:hidden; */
	width: 380px;
	height: 380px;
	margin: 3px auto;
	text-align: center;
	font-size: 12px;
	table-layout: fixed;
	/*동일 너비*/
	font-family: 'GmarketSansMedium';

}

table td,
th {
	border: 2px solid #282A46;
}

thead tr th {
	background: #0070c0;
	font-size: 22px;
	height: 54.28px;
	color: white;

}

tbody tr th {
	background: #92d050;
	font-size: 22px;
	color: white;
}

.hover_y:hover {
	position: absolute;
	transform: translate(10%, -10%);
	background-color: rgb(255, 255, 255);
	box-shadow: 1px 5px 5px 1px rgb(0, 0, 0);
	width: 50px;
	border: 1px;
	font-size: 20px;
	line-height: 50px;
}

.stop_dice_style {
	width: 80px;
    position: absolute;
    top: 108px;
    left: 308px;
}

.stop_dice_style2 {
	width: 80px;
    position: absolute;
    top: 108px;
    left: 465px;
}