@font-face {
				 font-family: 'DungGeunMo';
				 src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
				 font-weight: normal;
				 font-style: normal;
			}

			#container {
				width: 976px;
				height: 700px;
				background-image : url('gameStart.png');
				background-size : auto ;
			}
			#header {
        		padding: 10px;
				height : 70px;
      		}
	      	#content {
	        	width: 665px;
				height: 560px;
	        	padding: 10px;
	        	float: left;
				margin-right : 5px;
				margin-left : 10px;
				background: repeating-linear-gradient(-45deg, #005255, #282A46 2px);
				border-radius: 10px;
				pointer-events: none;
				opacity: 100%;
	      	}
	      	#sidebar {
	        	width: 250px;
				height: 570px;
	        	padding: 5px;
	        	float: right;
				margin-left : 5px;
				margin-right : 5px;
				background: repeating-linear-gradient(-45deg, #005255, #282A46 2px);
				position: relative;
				border-radius: 10px;
	      	}
			 .fontp{
				 font-family : 'DungGeunMo';
				 font-size : 12px;
				 color : white;
				 line-height : 150%;
			 }
			 .fontb{
				 font-family : 'DungGeunMo';
				 font-size : 13px;
				 color : yellow;
				 line-height : 150%;
			 }
			 
			/*content*/
			/*Tab*/ 
			.team1{
				border-radius: 10px; 				/*테두리 둥글게*/ 
				width: 300px;
				height : 260px;
				float : left;
				vertical-align : center;
				border : 3px solid #FFC04D;
				padding: 5px;
				margin : 0px 5px 2px 8px; 
			  	/*position: absolute;
			  	top: 22%;
			 	left: 10%;
				margin: -50px 0 0 -50px;
				padding: 5px; */
				font-family: 'DungGeunMo';
			}
			.t1-user1{
				background : #FFC04D;
				border-radius: 10px; 
				width: 130px;
				height : 110px;
				margin : 5px ; 
				padding : 5px;
				float : left;	
			 }
			.t1-change{
				background : #BF9039;
				border-radius: 10px; 
				width: 130px;
				height : 110px;
				margin : 5px ; 
				padding : 5px;
				float : left;	
			 }			 
			 
			.team2{
				border-radius: 10px; 				/*테두리 둥글게*/ 
				width: 300px;
				height : 260px;
				float : left;
				vertical-align : center;
				border : 3px solid #FF652A;
			  	/* position: absolute;
			  	top: 22%;
			 	left: 10%;
				margin: -50px 0 0 -50px; */
				margin : 0px 0px 2px 5px; 
				padding: 5px;
				font-family: 'DungGeunMo';
			}
			.t2-user1{
				background : #FF652A;
				border-radius: 10px; 
				width: 130px;
				height : 110px;
				margin : 5px ; 
				padding : 5px;
				float : left;
			 }
			.t2-change{
				background : #BF4C1F;
				border-radius: 10px; 
				width: 130px;
				height : 110px;
				margin : 5px ; 
				padding : 5px;
				float : left;	
			 }		
			.team3{
				border-radius: 10px; 				/*테두리 둥글게*/ 
				width: 300px;
				height : 260px;
				float : left;
				vertical-align : center;				
				border : 3px solid #1F71C2;
				margin : 2px 5px 0px 8px; 
				padding: 5px;			
			  	/* position: absolute;
			  	top: 47%;
			 	left: 25%;
				margin: -50px 0 0 -50px;
				padding: 5px; */
				font-family: 'DungGeunMo';
			}
			.t3-user1{
				background : #4C6ED4;
				border-radius: 10px; 
				width: 130px;
				height : 110px;
				margin : 5px ; 
				padding : 5px;
				float : left;
			 }
			.t3-change{
				background :#1454C2;
				border-radius: 10px; 
				width: 130px;
				height : 110px;
				margin : 5px ; 
				padding : 5px;
				float : left;	
			 }
			.team4{
				border-radius: 10px; 				/*테두리 둥글게*/ 
				width: 300px;
				height : 260px;
				float : left;
				vertical-align : center;
				border : 3px solid #9BDB6B;
				padding: 5px;
				margin : 2px 0px 0px 5px; 
			  	/* position: absolute;
			  	top: 47%;
			 	left: 5%;
				margin: -50px 0 0 -50px;
				padding: 5px; */
				font-family: 'DungGeunMo';
			}
			.t4-user1{
				background : #9BDB6B;
				border-radius: 10px; 
				width: 130px;
				height : 110px;
				margin : 5px ; 
				padding : 5px;
				float : left;
			 }
			.t4-change{
				background :#6F9C4C;
				border-radius: 10px; 
				width: 130px;
				height : 110px;
				margin : 5px ; 
				padding : 5px;
				float : left;	
			 }				 
			/*side*/
			.gameinfo{
				width: 220px;
				height: 120px;
	        	padding: 5px;
	        	float: center;
				margin : 5px;
				background-color : white;
				border : 3px solid white;
			 }
			 
			.chat-view{
	        	width: 220px;
				height: 200px;
	        	padding: 5px;
	        	float: center;
				margin : 5px;
				border : 3px solid white;
				overflow:scroll;
			}
			.chat-input{
				width: 220px;
				height: 23px;
				padding: 5px;
	        	float: center;
				margin : 5px;
				border : 3px solid white;
			 }
			.write{
				 width : 170px;
				 height : 20px;
				 float : left;
				 border : 1.5px solid white;
			 }
			.no_dot {
				font-family : 'DungGeunMo';
				font-size : 15px;
				line-height : 150%;
				list-style-type: none;
			}

			/*button icon*/
			.btnchat{
				width: 40px;
				height: 25px;
				text-align: center;
				float: right;
				background-color : white;
				font-size: 12px;
				font-family: 'DungGeunMo';
				color : #005255;
			}
			.teamchange{
				width: 235px;
				height: 35px;
				padding: 5px;
				text-align: center;
				margin: 1px 5px 1px 5px;
				/*border-top-left-radius: 5px;*/
				border-radius: 5px;
				background-color : #32c864;
				font-size: 20px;
				font-family: 'DungGeunMo';
			} 
			.btn{
				width: 220px;
				height: 50px;
				padding: 5px;
				text-align: center;
				margin: 3px 5px 5px 10px;
				/*border-top-left-radius: 5px;*/
				border-radius: 5px;
				background-color : #FFC04D;
				font-size: 20px;
				font-family: 'DungGeunMo';
				color : #c55a11;
			}			 
			.btnlogout{
				width: 220px;
				height: 50px;
				padding: 5px;
				text-align: center;
				margin: 3px 5px 5px 10px;
				/*border-top-left-radius: 5px;*/
				border-radius: 5px;
				background-color : gray;
				font-size: 20px;
				font-family: 'DungGeunMo';
				color : 'Darkgary';
			}