<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mng/mngSubjectLayout}">

<th:block layout:fragment="content">
	<div class="row">
		<div class="col-12 p-5">
			<div class="row">
				<div class="col-6">
					<h2 class="p-2">공지사항</h2>
				</div>
				<div class="card-tools col-6 text-right">
					<button data-toggle="modal" data-target="#modal-create-notice" type="button"
						class="mt-3 mr-3 btn btn-primary btn-sm" onclick="openCreateModal()">
						<span>등록</span>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<table class="table">
				<thead>
					<tr>
						<th style="width: 5%;">No.</th>
						<th style="width: 70%;">제목</th>
						<th style="width: 10%;">등록자</th>
						<th style="width: 10%;">등록일자</th>
						<th style="width: 5%;"></th>
					</tr>
					<th:block th:if="${noticeList != null}">
						<tr th:each="notice, noticeStat : ${noticeList}">
							<td th:text="${noticeStat.count}">no</td>
							<td th:if="${#strings.length(notice.title) <= 40}" th:text="${notice.title}">title</td>
							<td th:unless="${#strings.length(notice.title) <= 40}"
								th:text="${#strings.append(#strings.substring(notice.title,0,40),'...')}">title</td>
							<td th:text="${notice.registId}">registId</td>
							<td th:text="${notice.registDt}">registDt</td>
							<td>
								<button data-toggle="modal" data-target="#modal-open-notice" type="button"
									th:value="${notice.pkNoticeSeq}" th:onclick="openNotice(this, [[${session.loginDto.userId}]])"
									class="btn btn-success btn-sm">
									<span>열기</span>
								</button>
							</td>
						</tr>
					</th:block>
				</thead>
				<tbody>
				</tbody>
			</table>
			<!-- /.card-body -->
			<div th:unless="${noticeList != null}" class="card-footer">
			</div>
		</div>
		<div class="col-12 p-5">
			<div class="row">
				<div class="col-6">
					<h2 class="p-2">강의정보</h2>
				</div>
				<div class="card-tools col-6 text-right">
					<button data-toggle="modal" data-target="#modal-open-class" type="button"
						class="mt-3 mr-3 btn btn-primary btn-sm" onclick="openCreateClassModal()">
						<span>등록</span>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<table class="table">
				<thead>
					<tr>
						<th style="width: 5%;">No.</th>
						<th style="width: 50%;">강좌명</th>
						<th style="width: 20%;">과목명</th>
						<th style="width: 10%;">날짜</th>
						<th style="width: 7.5%;">강의자료</th>
						<th style="width: 7.5%;">과제답안</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td><button type="button" class="btn btn-link">2023-05-30</button>
						</td>
						<td><span>Client</span></td>
						<td><span>1</span></td>
						<td><i class="fas fa-download"></i>
						</td>
						<td><i class="fas fa-download"></i>
						</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td><button type="button" class="btn btn-link">2023-05-30</button>
						</td>
						<td><span>Client</span></td>
						<td><span>2</span></td>
						<td><i class="fas fa-download"></i>
						</td>
						<td><i class="fas fa-download"></i>
						</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td><button type="button" class="btn btn-link">2023-05-30</button>
						</td>
						<td><span>Client</span></td>
						<td><span>3</span></td>
						<td><i class="fas fa-download"></i>
						</td>
						<td><i class="fas fa-download"></i>
						</td>
					</tr>
					<tr>
						<th scope="row">4</th>
						<td><button type="button" class="btn btn-link">날짜 링크연결</button>
						</td>
						<td><span>Client</span></td>
						<td><span>4</span></td>
						<td><i class="fas fa-download"></i>
						</td>
						<td><i class="fas fa-download"></i>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- /.card-body -->
			<div class="card-footer">
			</div>
		</div>
	</div>
	<!-- Modal-create-notice -->
	<div class="modal fade" id="modal-create-notice" style="display: none;" aria-hidden="true">
		<form action="/mng/notice/create" method="post">
			<div class="modal-dialog modal-dialog-cented modal-xl">
				<div class="modal-content">
					<div class="col-12 modal-header">
						<h4 class="col-12 modal-title text-center">공지사항</h4>
						<input type="hidden" name="pkEducationSeq" th:value="${session.subjectDto.pkEducationSeq}">
						<input type="hidden" name="registId" th:value="${session.loginDto.userId}">
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label>제목</label>
										<input name="title" type="text" class="form-control">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label>내용</label>
										<textarea name="contents" class="form-control summernote-in-subject"
											rows="6"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">
							<span>등록</span>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Modal-open-notice -->
	<div class="modal fade" id="modal-open-notice" style="display: none;" aria-hidden="true">
		<form action="/mng/notice/update" method="post">
			<div class="modal-dialog modal-dialog-cented modal-xl">
				<div class="modal-content">
					<div class="col-12 modal-header">
						<h4 class="col-12 modal-title text-center">공지사항</h4>
						<input class="pkNoticeSeq" type="hidden" name="pkNoticeSeq">
						<input type="hidden" name="updateId" th:value="${session.loginDto.userId}">
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label>제목</label>
										<div class="title-append">
											<input id="title_notice" name="title" type="text" class="form-control">
										</div>
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label>내용</label>
										<div>
											<textarea class="summernote-open-modal form-control summernote-in-subject"
												rows="6" name="contents"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<div>
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						</div>
						<div class="check-regist-is-me">
							<button type="submit" class="btn btn-primary">
								<span>공지수정</span>
							</button>
							<button type="button" class="btn btn-danger pkNoticeSeq" onclick="deleteNotice(this)">
								<span>공지삭제</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Modal-open-class -->
	<div class="modal fade" id="modal-open-class" style="display: none;" aria-hidden="true">
		<form action="/mng/notice/create" method="post">
			<div class="modal-dialog modal-dialog-cented modal-xl">
				<div class="modal-content">
					<div class="col-12 modal-header">
						<h4 class="col-12 modal-title text-center">강의정보</h4>
						<input type="hidden" name="pkEducationSeq" th:value="${session.subjectDto.pkEducationSeq}">
						<input type="hidden" name="registId" th:value="${session.loginDto.userId}">
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label>제목</label>
										<input name="title" type="text" class="form-control">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label>내용</label>
										<textarea name="contents" class="form-control summernote-in-subject"
											rows="6"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">
							<span>등록</span>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script th:inline="javascript">
		var SUBJECT_ARRAY = [];
		$(document).ready(function () {
			// Summernote
			$('.summernote-in-subject').summernote({
				tabsize: 2,
				height: 300
			});
			$('.modal').on('shown.bs.modal', function (e) {
				// 모달이 열릴 때 실행되는 코드
				// $(this).find('form')[0].reset(); // 입력 필드 초기화
			});

			$('.modal').on('hidden.bs.modal', function (e) {
				// 모달이 닫힐 때 실행되는 코드
				// $(this).find('form')[0].reset(); // 입력 필드 초기화
				// $('#summernote').summernote('code', ''); // 에디터 초기화
			});
			//$.ajax({
			//	type: "POST",
			//	url: "/getSubjectList",
			//	dataType: "json",
			//	success: function (data) {
			//		$.each(data, function (index, item) {
			//			SUBJECT_ARRAY.push(
			//				{
			//					"id": item.pkSubjectSeq,
			//					"text": item.subjectName
			//				}
			//			);
			//		});
			//		$('.select2').select2({
			//			data: SUBJECT_ARRAY
			//		})
			//	},
			//	error: function () {
			//	}
			//});
		})

		function openCreateModal() {
			$('.modal').on('hidden.bs.modal', function (e) {
				// 모달이 닫힐 때 실행되는 코드
				$(this).find('form')[0].reset(); // 입력 필드 초기화
				$('.summernote-in-subject').summernote('code', ''); // 에디터 초기화
			});
		}

		function openCreateClassModal() {
			$('.modal').on('hidden.bs.modal', function (e) {
				// 모달이 닫힐 때 실행되는 코드
				$(this).find('form')[0].reset(); // 입력 필드 초기화
				$('.summernote-in-subject').summernote('code', ''); // 에디터 초기화
			});
		}

		function openNotice(arg0, userId) {
			var buttonValue = arg0.value;
			var form = {
				pkNoticeSeq: buttonValue
			};
			$.ajax({
				type: "POST",
				url: "/openNotice",
				data: JSON.stringify(form),
				contentType: "application/json",
				dataType: "json",
				success: function (data) {
					$(".pkNoticeSeq").val(data.pkNoticeSeq);
					$("#title_notice").val(data.title);
					$(".summernote-open-modal").summernote('code', data.contents);
					if (data.registId == userId) {
						$(".check-regist-is-me").css("display", "block");
					} else {
						$(".check-regist-is-me").css("display", "none");
					}
				},
				error: function (request, status, error) {
					alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
				}
			});
		}

		function deleteNotice(arg0) {
            var buttonValue = arg0.value;
            var form = {
               pkNoticeSeq: buttonValue
            };
            $.ajax({
               type: "POST",
               url: "/deleteNotice",
               data: JSON.stringify(form),
               contentType: "application/json",
               success: function (data) {
               },
               error: function (request, status, error) {
                  alert("code:" + request.status + "\n" + "message:" + request.responseText + "\n" + "error:" + error);
               }
            });
            location.reload();
         }

	</script>
</th:block>

</html>