<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mng/mngDeshboardLayout}">
<!-- Main content -->
<style>
	.select2-selection__rendered {
		line-height: 31px !important;
	}

	.select2-container .select2-selection--single {
		height: 35px !important;
	}

	.select2-selection__arrow {
		height: 34px !important;
	}
</style>
<th:block layout:fragment="content">
	<div class="row">
		<div class="col-12 p-5">
			<div class="row">
				<div class="col-6">
					<h2>교육목록</h2>
				</div>
				<div class="card-tools col-6 text-right">
					<button data-toggle="modal" data-target="#modal-xl" type="button" class="btn btn-primary btn-sm">
						<span>등록</span>
					</button>
				</div>
			</div>
			<!-- /.card-header -->
			<table class="table">
				<thead>
					<tr>
						<th scope="col">번호</th>
						<th scope="col">제목</th>
						<th scope="col">작성자</th>
						<th scope="col">날짜</th>
						<th scope="col">조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td><span>시험 언제 보죠?</span></td>
						<td><span>HTML</span></td>
						<td><span>2023.05.20</span></td>
						<td><span>1</span></td>
					</tr>
					<tr>
						<th scope="row"></th>
						<td><span>└> 뎃글 구현 해주세요 승주님</span></td>
						<td><span>css</span></td>
						<td><span>2023.05.20</span></td>
						<td><span>1</span></td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td><span>질문있습니다</span></td>
						<td><span>빅데이터</span></td>
						<td><span>2023.05.30</span></td>
						<td><span>1</span></td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td><span>물어볼것 있어요</span></td>
						<td><span>HTML</span></td>
						<td><span>2023.05.30</span></td>
						<td><span>1</span></td>
					</tr>
					<tr>
						<th scope="row">4</th>
						<td><span>프로젝트</span></td>
						<td><span>Java</span></td>
						<td><span>2023.05.30</span></td>
						<td><span>1</span></td>
					</tr>
				</tbody>
			</table>
			<!-- /.card-body -->
			<div class="card-footer">
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-12">
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-item previous th-disabled" th:classappend="${paging.prev == false} ? 'disabled'">
						<a th:href="@{/chart.com(page=${paging.startPage - 1})}" tabindex="0"
							class="page-link">Previous</a>
					</li>
					<div th:each="pNo: ${#numbers.sequence(paging.startPage, paging.endPage)}">
						<li class="page-item" th:classappend="${paging.cri.page == pNo} ? 'active'">
							<a th:href="@{/chart.com(page=${pNo})}" tabindex="0" aria-controls="dataTable"
								class="page-link" th:text="${pNo}"></a>
						</li>
					</div>
					<li class="page-item next th-disabled" th:classappend="${paging.next == false} ? 'disabled'">
						<a th:href="@{/chart.com(page=${paging.endPage + 1})}" tabindex="0" aria-controls="dataTable"
							class="page-link">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="modal-xl" style="display: none;" aria-hidden="true">
		<form action="/mng/subject/create" method="post">
			<div class="modal-dialog modal-dialog-cented modal-xl">
				<div class="modal-content">
					<div class="col-12 modal-header">
						<h4 class="col-12 modal-title text-center">교육 등록</h4>
						<input type="hidden">
					</div>
					<div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label>교육명</label>
										<input name="subjectName" type="text" class="form-control">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<label>교육 일정</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text">
													<i class="far fa-calendar-alt"></i>
												</span>
											</div>
											<input name="subjectDt" type="text"
												class="form-control float-right reservation" id="reservation">
										</div>

									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>담당자</label>
										<select id="pkManagerSeq" name="pkManagerSeq" class="form-control select2bs4"
											style="width: 100%;" tabindex="-1" aria-hidden="true">
										</select>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">

										<div class="row">
											<div class="col-6">
												<label>과목 정보</label>
											</div>
											<div class="card-tools col-6 text-right">
												<button onclick="javascript:rowAdd();" type="button"
													class="btn btn-primary btn-sm">
													<span>추가</span>
												</button>
											</div>
										</div>
										<table class="table">
											<thead>
												<tr>
													<th scope="col">과목</th>
													<th scope="col">기간</th>
													<th scope="col">강사</th>
													<th scope="col">삭제</th>
												</tr>
											</thead>
											<tbody id="lectTbody">
											</tbody>
										</table>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<label>학생 정보</label>
										<select id="pkUserSeqArray" name="pkUserSeqArray"
											class="duallistbox form-control" multiple="multiple"
											th:field="*{resultList}" style="width: 100%;">
											<option th:each="user : ${resultList}" th:value="${user.pkUserSeq}"
												th:text="${user.name}"></option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer justify-content-between">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">
							<span>등록</span>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
	<script>
		var MANAGER_ARRAY = [];

		function rowDel(button) {
			$(button).closest("tr").remove();
		}
		function rowAdd() {
			$("#lectTbody").append(
				"<tr>" +
				"<td>" +
				"<input name=\"lectureName\" type=\"text\" class=\"form-control\">" +
				"</td>" +
				"<td>" +
				"<input name=\"lectureDt\" type=\"text\" class=\"form-control reservation\">" +
				"</td>" +
				"<td>" +
				"<select name=\"pkManagerSeqArray\" class=\"form-control select2\" style=\"width: 100%;\">" +
				"</select>" +
				"</td>" +
				"<td>" +
				"<button onclick=\"javascript:rowDel(this);\" type=\"button\" class=\"btn btn-danger btn-sm\">" +
				"<span>삭제</span>" +
				"</button>" +
				"</td>" +
				"</tr>"
			);
			$('.select2').select2({
				data: MANAGER_ARRAY,
				theme: 'bootstrap4'
			})
			$('.reservation').daterangepicker()
		}

		$(document).ready(function () {

			$.ajax({
				type: "POST",
				url: "/getManagerList",
				dataType: "json",
				success: function (data) {
					$.each(data, function (index, item) {
						MANAGER_ARRAY.push(
							{
								"id": item.pkManagerSeq,
								"text": item.name
							}
						);
					});
					$('#pkManagerSeq').select2({
						data: MANAGER_ARRAY,
						theme: 'bootstrap4'
					})
				},
				error: function () {
				}
			});

			$('.reservation').daterangepicker();

			// 이중 목록 상자 인스턴스 생성
			var dualListbox = $('.duallistbox').bootstrapDualListbox();
			
			$('#your-dual-listbox-form').submit(function () {
				var formData = $('.duallistbox').val(); //this will get as a string values from the right side Your dual listbox
				$(function () {
					$('#setState').val(formData); //this will change value of input id="setState"
				});
				$('#your-dual-listbox-form').submit(); //and here submit your form
				return false;
			});
			
			
			// setHelperSelectNamePostfix 함수 호출
			dualListbox.bootstrapDualListbox('setHelperSelectNamePostfix', 'pkUserSeqArray', true);

			$('.modal').on('shown.bs.modal', function (e) {
				// 모달이 열릴 때 실행되는 코드
				$(this).find('form')[0].reset(); // 입력 필드 초기화
				// 테이블 초기화
				$(this).find('#lectTbody').empty();
			});

			$('.modal').on('hidden.bs.modal', function (e) {
				// 모달이 닫힐 때 실행되는 코드
				$(this).find('form')[0].reset(); // 입력 필드 초기화
				// 테이블 초기화
				$(this).find('#lectTbody').empty();
			});
			//Bootstrap Duallistbox



		})

	</script>
</th:block>

</html>