<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.momento.ai.mapper.AiMapper">
	<!-- xml파일을 사용할 mapper가 있는 경로 -->
	<!-- Heidisql연결후 입력 저장-->
	<select id="selectQuestionResultList" parameterType="project.momento.question.dto.QuestionDto" resultType="project.momento.question.dto.QuestionDto">
		SELECT
			A.PK_QUESTION_SEQ				AS pkQuestionSeq
			, A.TYPE						AS type
			, A.LEVEL						AS level
			, A.QUESTION					AS questionName
			, A.SOLUTION					AS solution
			, A.SUMMARY						AS summary
			, A.TITLE						AS title
			, A.PASSAGE						AS passage
			, A.URL							AS url
			, A.REGIST_ID					AS registId
			, A.UPDATE_ID					AS updateId
			, A.UPDATE_DT					AS updateDt
			, B.PK_QUESTION_RESULT_SEQ		AS pkQuestionResultSeq
			, B.PK_USER_SEQ					AS pkUserSeq
		FROM AI_QUESTION A
		INNER JOIN AI_QUESTION_RESULT B
		ON A.PK_QUESTION_SEQ = B.PK_QUESTION_SEQ
		WHERE B.PK_USER_SEQ = #{pkUserSeq}
	</select>
	<select id="selectQuestionList" parameterType="hashmap" resultType="project.momento.question.dto.QuestionDto">
		SELECT
			A.PK_QUESTION_SEQ				AS pkQuestionSeq
			, A.TYPE						AS type
			, A.QUESTION					AS questionName
			, A.SOLUTION					AS solution
			, A.SUMMARY						AS summary
			, A.TITLE						AS title
			, A.PASSAGE						AS passage
			, A.URL							AS url
			, A.SOLUTION					AS solution
			, A.REGIST_ID					AS registId
			, DATE_FORMAT(A.REGIST_DT, '%Y-%m-%d')					AS registDt
			, A.UPDATE_ID					AS updateId
			, A.UPDATE_DT					AS updateDt
		FROM AI_QUESTION A
		WHERE 1=1
		ORDER BY A.PK_QUESTION_SEQ ASC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	<select id="selectQuestionListCount" resultType="int">
		SELECT
			COUNT(*)
		FROM AI_QUESTION A
	</select>
	<select id="selectQuestion" parameterType="project.momento.question.dto.QuestionDto" resultType="project.momento.question.dto.QuestionDto">
		SELECT
			A.PK_QUESTION_SEQ				AS pkQuestionSeq
			, A.TYPE						AS type
			, A.QUESTION					AS questionName
			, A.SOLUTION					AS solution
			, A.SUMMARY						AS summary
			, A.TITLE						AS title
			, A.PASSAGE						AS passage
			, A.URL							AS url
			, A.SOLUTION					AS solution
			, A.REGIST_ID					AS registId
			, DATE_FORMAT(A.REGIST_DT, '%Y-%m-%d')					AS registDt
			, A.UPDATE_ID					AS updateId
			, A.UPDATE_DT					AS updateDt
		FROM AI_QUESTION A
		WHERE 1=1
		AND A.PK_QUESTION_SEQ = #{pkQuestionSeq}
		ORDER BY A.PK_QUESTION_SEQ ASC
	</select>
	<insert id="insertAiQuestion" parameterType="project.momento.question.dto.QuestionDto">
	    INSERT INTO AI_QUESTION (
    		TYPE
    		, LEVEL
    		, QUESTION
    		, SOLUTION
    		, SUMMARY
    		, TITLE
    		, PASSAGE
    		, URL
    		, REGIST_ID
    		, REGIST_DT
  		) VALUES (
    		#{type}
    		, #{level}
    		, #{questionName}
    		, #{solution}
    		, #{summary}
    		, #{title}
    		, #{passage}
    		, #{url}
    		, #{registId}
    		, SYSDATE()
  		)
	</insert>
	
	
	<insert id="insertQuestionResult" parameterType="project.momento.question.dto.QuestionDto">
	    INSERT INTO AI_QUESTION_RESULT (
    		PK_QUESTION_SEQ
    		, PK_USER_SEQ
    		, ANSWER
    		, QUESTION_NUM
    		, ANSWER_NUM
    		, REGIST_ID
    		, REGIST_DT
  		) VALUES (
    		#{pkQuestionSeq}
    		, #{pkUserSeq}
    		, #{answer}
    		, #{questionNum}
    		, #{answerNum}
    		, #{registId}
    		, SYSDATE()
  		)
	</insert>
	<update id="updateAiQuestion" parameterType="project.momento.question.dto.QuestionDto">
		UPDATE AI_QUESTION
		SET TYPE = #{type}
		    , LEVEL = #{level}
		    , QUESTION = #{questionName}
		    , SOLUTION = #{solution}
		    , SUMMARY = #{summary}
		    , TITLE = #{title}
		    , PASSAGE = #{passage}
		    , URL = #{url}
		    , UPDATE_ID = #{registId}
		    , UPDATE_DT = SYSDATE()
		WHERE PK_QUESTION_SEQ = #{pkQuestionSeq}

	</update>
	<delete id="deleteAiQuestion" parameterType="project.momento.question.dto.QuestionDto">
		DELETE FROM AI_QUESTION
  		WHERE PK_QUESTION_SEQ = #{pkQuestionSeq}
	</delete>
	
</mapper>