<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.momento.answer.mapper.AnswerMapper">	<!-- xml파일을 사용할 mapper가 있는 경로 -->
<!-- Heidisql연결후 입력 저장-->
	<!-- INSERT문 --> 
	<!-- 모든 커리 넣어줄것 자동생성 제외 -->
	<insert id="insertAnswer" parameterType="project.momento.answer.dto.AnswerDto">
		<![CDATA[
			INSERT INTO ANSWER
			(
				PK_QUESTION_SEQ,
				PK_USER_SEQ,
				ANSWER_USER,
				ANSWER_OX,
				REGIST_DT
			) 
			VALUES
			(
				#{pkQuesTionSeq},
				#{pkUserSeq},
				#{answerUser},
				#{answerOX},
				#{registDt}
			)
			
		]]>
	</insert>
	
	<!-- SELECT문 -->             <!-- 정보내려주기 -->                               <!-- 정보 받아오기 -->
	<!-- SELECT에 다 넣기 -->
	<select id="selectAnswer" resultType="project.momento.answer.dto.AnswerDto" parameterType="int">
		<![CDATA[
			SELECT
				PK_ANSWER_SEQ 		AS PkAnswerSeq,
				PK_QUESTION_SEQ		AS pkQuesTionSeq,
				PK_USER_SEQ			AS pkUserSeq,
				ANSWER_USER			AS answerUser,
				ANSWER_OX 			AS answerOx,
				REGIST_DT 			AS registDt
			FROM 
				ANSWER
			WHERE
				PK_USER_SEQ = #{pkUserSeq}
		]]>
	</select>
	

	
	<!-- DELETE문 -->
	<delete id="deleteAnswer" parameterType="project.momento.answer.dto.AnswerDto">
		<![CDATA[
			DELETE FROM 
				ANSWER
			WHERE
				PK_ANSWER_SEQ = #{pkAnswerSeq}
		]]>
	</delete>
	
	<!-- UPDATE문 --> 
	<update id="updateAnswer" parameterType="project.momento.answer.dto.AnswerDto">
		<![CDATA[
			UPDATE
				ANSWER
			SET
				ANSWER_OX = #{answerOX}
			WHERE
				PK_ANSWER_SEQ = #{pkAnswerSeq}
		]]>
	</update>
	
</mapper>