<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.momento.classes.mapper.ClassesMapper">

	<insert id="insertClasses" parameterType="project.momento.classes.dto.ClassesDto">
		INSERT INTO CLASS
		(
			PK_SUBJECT_SEQ,
			PK_FILE_CLASS_SEQ,
			PK_FILE_HOMEWORK_SEQ,
			CLASS_NAME,
			CLASS_DT,
			REGIST_ID, 
			REGIST_DT
		)
	  	VALUES
	  	(
	  		#{pkSubjectSeq},
			#{pkFileClassSeq},
			#{pkFileHomeworkSeq},
			#{className},
			#{classDt},
			#{registId}, 
			SYSDATE()
  		)
	</insert>

	<select id="selectClasses" parameterType="project.momento.classes.dto.ClassesDto" resultType="project.momento.classes.dto.ClassesDto">
		SELECT *
		FROM CLASS
		WHERE PK_SUBJECT_SEQ = #{pkSubjectSeq}
		AND CLASS_DT = #{classDt}
	</select>
	
	<select id="getClassList" parameterType="int" resultType="project.momento.classes.dto.ClassesDto">
		SELECT *
		FROM CLASS
		WHERE PK_SUBJECT_SEQ = #{pkSubjectSeq}
		ORDER BY CLASS_DT
	</select>
	
	<update id="updateClasses" parameterType="project.momento.classes.dto.ClassesDto">
		UPDATE CLASS
		SET PK_FILE_CLASS_SEQ = #{pkFileClassSeq},
			PK_FILE_HOMEWORK_SEQ = #{pkFileHomeworkSeq},
			CLASS_NAME = #{className},
			UPDATE_ID = #{registId},
			UPDATE_DT = SYSDATE()
		WHERE PK_SUBJECT_SEQ = #{pkSubjectSeq}
		AND CLASS_DT = #{classDt}
	</update>
	
	<delete id="deleteClass" parameterType="project.momento.classes.dto.ClassesDto">
		DELETE FROM CLASS
		WHERE PK_CLASS_SEQ = #{pkClassSeq}
	</delete>

</mapper>