<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.momento.education.mapper.EducationMapper">
	<!-- xml파일을 사용할 mapper가 있는 경로 -->
	<!-- Heidisql연결후 입력 저장-->
	<insert id="insertEducation" parameterType="project.momento.education.dto.EducationDto" useGeneratedKeys="true" keyProperty="returnId">
		INSERT INTO EDUCATION (
        PK_MANAGER_SEQ,
        EDUCATION_NAME,
        SUB_START_DT,
        SUB_END_DT,
        EDUCATION_TEST,
        EDUCATION_TEST_DT,
        REGIST_ID,
        REGIST_DT
    ) VALUES (
        #{pkManagerSeq},
        #{educationName},
        #{subStartDt},
        #{subEndDt},
        #{educationTest},
        #{educationTestDt},
        #{registId},
        SYSDATE()
    )
		<selectKey keyProperty="returnId" resultType="java.lang.Integer" order="AFTER">
        SELECT LAST_INSERT_ID() AS returnId
    	</selectKey>
	</insert>
	<insert id="insertEducationStud" parameterType="project.momento.education.dto.EducationDto">
    INSERT INTO EDUCATION_STUD (
        PK_EDUCATION_SEQ,
        PK_USER_SEQ,
        REGIST_ID,
        REGIST_DT
    )
    VALUES (
        #{pkEducationSeq},
        #{pkUserSeq},
        #{registId},
        SYSDATE()
    )
</insert>
	<insert id="insertSubject" parameterType="project.momento.education.dto.EducationDto">
	    INSERT INTO SUBJECT (
	        PK_EDUCATION_SEQ,
	        PK_MANAGER_SEQ,
	        SUBJECT_NAME,
	        SUB_START_DT,
	        SUB_END_DT,
	        REGIST_ID,
	        REGIST_DT
	    )
	    VALUES (
	        #{pkEducationSeq},
	        #{pkManagerSeq},
	        #{subjectName},
	        #{subStartDt},
	        #{subEndDt},
	        #{registId},
	        SYSDATE()
	    )
	</insert>
	<select id="selectEducation" parameterType="project.momento.education.dto.EducationDto" resultType="project.momento.education.dto.EducationDto">
		<![CDATA[
		SELECT
		    A.PK_EDUCATION_SEQ       AS pkEducationSeq,
		    A.PK_MANAGER_SEQ         AS pkManagerSeq,
		    B.NAME                 AS name,
		    A.EDUCATION_NAME           AS educationName,
		    CASE A.EDUCATION_STATE
		        WHEN 'A' THEN '준비'
		        WHEN 'B' THEN '진행'
		        WHEN 'C' THEN '완료'
		        ELSE EDUCATION_STATE
		    END                    AS educationState,
		    CONCAT(DATE_FORMAT(A.SUB_START_DT, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(SUB_END_DT, '%Y-%m-%d')) AS educationDt,
		    DATE_FORMAT(A.SUB_START_DT, '%Y-%m-%d') AS subStartDt,
		    DATE_FORMAT(A.SUB_END_DT, '%Y-%m-%d') AS subEndDt,
		    A.REGIST_ID              AS registId,
		    DATE_FORMAT(A.REGIST_DT, '%Y-%m-%d') AS registDt,
		    A.UPDATE_ID              AS updateId,
		    A.UPDATE_DT              AS updateDt,
		    (SELECT GROUP_CONCAT(PK_USER_SEQ SEPARATOR ',') FROM EDUCATION_STUD SA WHERE SA.PK_EDUCATION_SEQ = #{pkEducationSeq}) AS pkUserSeqArray
		FROM EDUCATION A
		INNER JOIN MANAGER B ON A.PK_MANAGER_SEQ = B.PK_MANAGER_SEQ
		WHERE 1=1
		AND A.PK_EDUCATION_SEQ = #{pkEducationSeq}
		ORDER BY A.PK_EDUCATION_SEQ ASC
		
		]]>
	</select>
	<select id="selectEducationCount" parameterType="hashmap" resultType="int">
		SELECT
			COUNT(*)
		FROM EDUCATION A
		WHERE 1=1
		ORDER BY A.PK_EDUCATION_SEQ ASC
	</select>
	<select id="selectEducationList" parameterType="hashmap" resultType="project.momento.education.dto.EducationDto">
		SELECT
		    A.PK_EDUCATION_SEQ       AS pkEducationSeq,
		    A.PK_MANAGER_SEQ         AS pkManagerSeq,
		    B.NAME					 AS name,
		    A.EDUCATION_NAME         AS educationName,
		    CASE A.EDUCATION_STATE
		        WHEN 'A' THEN '준비'
		        WHEN 'B' THEN '진행'
		        WHEN 'C' THEN '완료'
		        ELSE A.EDUCATION_STATE
		    END 					AS educationState,
		    CONCAT(DATE_FORMAT(A.SUB_START_DT, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(A.SUB_END_DT, '%Y-%m-%d')) AS educationDt,
		    A.REGIST_ID              AS registId,
		    DATE_FORMAT(A.REGIST_DT, '%Y-%m-%d') AS registDt,
		    A.UPDATE_ID              AS updateId,
		    A.UPDATE_DT              AS updateDt
		FROM EDUCATION A
		INNER JOIN MANAGER B
		ON A.PK_MANAGER_SEQ = B.PK_MANAGER_SEQ
		WHERE 1=1
		ORDER BY A.PK_EDUCATION_SEQ ASC
		LIMIT #{pageStart}, #{perPageNum}
	</select>
	<select id="getEducationList" parameterType="int" resultType="project.momento.subject.dto.SubjectDto">
		<![CDATA[                 
		SELECT   
			C.PK_EDUCATION_SEQ AS pkEducationSeq,
			B.EDUCATION_NAME AS subjectState,
			C.SUBJECT_NAME AS subjectName,
			C.PK_SUBJECT_SEQ AS pkSubjectSeq
		FROM EDUCATION_STUD A
		JOIN EDUCATION B
		ON A.PK_EDUCATION_SEQ = B.PK_EDUCATION_SEQ
		JOIN SUBJECT C
		ON A.PK_EDUCATION_SEQ = C.PK_EDUCATION_SEQ
		WHERE A.PK_USER_SEQ = #{pkUserSeq}
		ORDER BY A.PK_EDUCATION_SEQ, C.SUB_START_DT
		]]>
	</select>
	<select id="getEducationListAll" resultType="project.momento.subject.dto.SubjectDto">
		<![CDATA[                 
			SELECT   
	         C.PK_EDUCATION_SEQ AS pkEducationSeq,
	         B.EDUCATION_NAME AS subjectState,
	         C.SUBJECT_NAME AS subjectName,
	         C.PK_SUBJECT_SEQ AS pkSubjectSeq
	      FROM EDUCATION B
	      JOIN SUBJECT C
	      ON B.PK_EDUCATION_SEQ = C.PK_EDUCATION_SEQ
	      ORDER BY C.PK_EDUCATION_SEQ, C.SUB_START_DT
		]]>
	</select>
	<select id="selectSubjectList" parameterType="project.momento.education.dto.EducationDto" resultType="project.momento.education.dto.EducationDto">
		SELECT
		    A.PK_SUBJECT_SEQ AS pkSubjectSeq,
		    A.PK_EDUCATION_SEQ AS pkEducationSeq,
		    (SELECT SB.EDUCATION_NAME FROM EDUCATION SB WHERE SB.PK_EDUCATION_SEQ = #{pkEducationSeq}) AS educationName,
		    A.PK_MANAGER_SEQ AS pkManagerSeq,
		    B.NAME AS name,
		    A.SUBJECT_NAME AS subjectName,
		    CASE A.SUBJECT_STATE
		        WHEN 'A' THEN '준비'
		        WHEN 'B' THEN '진행'
		        WHEN 'C' THEN '완료'
		        ELSE A.SUBJECT_STATE
		    END AS subjectState,
		    CONCAT(DATE_FORMAT(A.SUB_START_DT, '%Y-%m-%d'), ' ~ ', DATE_FORMAT(A.SUB_END_DT, '%Y-%m-%d')) AS subjectDt,
		    DATE_FORMAT(A.SUB_START_DT, '%Y-%m-%d') AS subStartDt,
		    DATE_FORMAT(A.SUB_END_DT, '%Y-%m-%d') AS subEndDt,
		    A.REGIST_ID AS registId,
		    DATE_FORMAT(A.REGIST_DT, '%Y-%m-%d') AS registDt,
		    A.UPDATE_ID AS updateId,
		    DATE_FORMAT(A.UPDATE_DT, '%Y-%m-%d') AS updateDt,
		    (SELECT GROUP_CONCAT(PK_USER_SEQ SEPARATOR ',') FROM EDUCATION_STUD SA WHERE SA.PK_EDUCATION_SEQ = #{pkEducationSeq}) AS pkUserSeqArray
		FROM SUBJECT A
		INNER JOIN MANAGER B ON A.PK_MANAGER_SEQ = B.PK_MANAGER_SEQ
		WHERE 1=1
		<if test="pkEducationSeq != 0">
		    AND A.PK_EDUCATION_SEQ = #{pkEducationSeq}
		</if>
		<if test="userDivn == 'lec'">
		    AND A.PK_MANAGER_SEQ = #{pkManagerSeq}
		</if>
		<if test="userDivn == 'std'">
		    AND A.PK_EDUCATION_SEQ IN (SELECT WA.PK_EDUCATION_SEQ FROM EDUCATION_STUD WA WHERE WA.PK_USER_SEQ IN (#{pkUserSeq}))
		</if>
		ORDER BY A.PK_SUBJECT_SEQ ASC
	</select>
	<select id="selectEducationStudList" parameterType="project.momento.education.dto.EducationDto" resultType="project.momento.education.dto.EducationDto">
		SELECT
		    A.PK_EDUCATION_STUD_SEQ 	AS pkEducationStudSeq,
		    A.PK_EDUCATION_SEQ 			AS pkEducationSeq,
		    B.EDUCATION_NAME			AS educationName,
		    A.PK_USER_SEQ 				AS pkUserSeq,
		    C.NAME						AS name,
		    C.PHONE						AS phone,
		    C.BIRTHDAY					AS birthday,
		    A.ATTEND_DIVN 				AS attendDivn,
		    A.ATTEND_DT 				AS attendDt,
		    A.EARLY_DIVN 				AS earlyDivn,
		    A.EARLY_DT 					AS earlyDt,
		    A.LATE_DIVN 				AS lateDivn,
		    A.LATE_DT 					AS lateDt,
		    A.RELAX_DIVN 				AS relaxDivn,
		    A.RELAX_DT 					AS relaxDt,
		    A.ABSENT_DIVN 				AS absentDivn,
		    A.ABSENT_DT 				AS absentDt,
		    A.OUT_DIVN 					AS outDivn,
		    A.OUT_DT 					AS outDt,
		    A.IN_DT						AS inDt,
		    A.REGIST_ID 				AS registId,
		    A.REGIST_DT 				AS registDt,
		    A.UPDATE_ID 				AS updateId,
		    A.UPDATE_DT 				AS updateDt
		FROM EDUCATION_STUD A
		INNER JOIN EDUCATION B
		ON A.PK_EDUCATION_SEQ = B.PK_EDUCATION_SEQ
		INNER JOIN USER C
		ON A.PK_USER_SEQ = C.PK_USER_SEQ
		WHERE 1=1
		<if test="userDivn == 'lec'">
		    AND A.PK_EDUCATION_SEQ IN (SELECT WA.PK_EDUCATION_SEQ FROM SUBJECT WA WHERE WA.PK_MANAGER_SEQ IN (#{pkManagerSeq}))
		</if>
		<if test="userDivn == 'std'">
		    AND A.PK_EDUCATION_SEQ IN (SELECT WA.PK_EDUCATION_SEQ FROM EDUCATION_STUD WA WHERE WA.PK_USER_SEQ IN (#{pkUserSeq}))
		</if>
	</select>
	<update id="updateEducation" parameterType="project.momento.education.dto.EducationDto">
		UPDATE EDUCATION
	  SET
	    PK_MANAGER_SEQ = #{pkManagerSeq},
	    EDUCATION_NAME = #{educationName},
	    SUB_START_DT = #{subStartDt},
	    SUB_END_DT = #{subEndDt},
	    UPDATE_ID = #{registId},
	    UPDATE_DT = NOW()
	  WHERE PK_EDUCATION_SEQ = #{pkEducationSeq}
	</update>
	<delete id="deleteEducation" parameterType="int">
		DELETE FROM EDUCATION
  		WHERE PK_EDUCATION_SEQ = #{pkEducationSeq}
	</delete>
	<delete id="deleteEducationStud" parameterType="int">
		DELETE FROM EDUCATION_STUD
  		WHERE PK_EDUCATION_SEQ = #{pkEducationSeq}
	</delete>
	<delete id="deleteSubject" parameterType="int">
		DELETE FROM SUBJECT
  		WHERE PK_EDUCATION_SEQ = #{pkEducationSeq}
	</delete>
</mapper>