<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.momento.file.mapper.FileMapper">
	<!-- xml파일을 사용할 mapper가 있는 경로 -->
	<!-- Heidisql연결후 입력 저장-->
	<insert id="insertFile" parameterType="project.momento.file.dto.FileDto" useGeneratedKeys="true" keyProperty="returnId">
		INSERT INTO FILE (
		    FILE_NM,
		    FILE_SIZE,
		    FILE_PATH,
		    FILE_ORIGINAL_PATH,
		    FILE_DOWN_CNT,
		    FILE_THUM_WID_SIZE,
		    FILE_THUM_HEI_SIZE,
		    FILE_EXTENSION,
		    REGIST_ID,
		    REGIST_DT
		  ) VALUES (
		    #{fileNm},
		    #{fileSize},
		    #{filePath},
		    #{fileOriginalPath},
		    #{fileDownCnt},
		    #{fileThumWidSize},
		    #{fileThumHeiSize},
		    #{fileExtension},
		    #{registId},
		    SYSDATE()
		  )
		<selectKey keyProperty="returnId" resultType="java.lang.Integer" order="AFTER">
        SELECT LAST_INSERT_ID() AS returnId
    	</selectKey>
	</insert>
	
	<select id="selectFile" parameterType="int" resultType="project.momento.file.dto.FileDto">
		<![CDATA[
			SELECT *
			FROM FILE
			WHERE PK_FILE_SEQ = #{pkFileSeq}
		]]>
	</select>
	
	<delete id="deleteFile" parameterType="project.momento.file.dto.FileDto">
		DELETE FROM FILE
		WHERE PK_FILE_SEQ = #{pkFileSeq}
	</delete>
</mapper>