<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.momento.notice.mapper.NoticeMapper">
	<!-- xml파일을 사용할 mapper가 있는 경로 -->
	<insert id="insertNotice" parameterType="project.momento.notice.dto.NoticeDto">
		INSERT INTO NOTICE(
			PK_EDUCATION_SEQ
			, TITLE
			, CONTENTS
			, REGIST_ID
			, REGIST_DT
			
		)VALUES(
			#{pkEducationSeq}
			,#{title}
			,#{contents}
			,#{registId}
			, SYSDATE()
		)
	</insert>
	
	<select id="getNoticeList" parameterType="int" resultType="project.momento.notice.dto.NoticeDto">
		<![CDATA[
			SELECT 
				PK_NOTICE_SEQ,
				PK_EDUCATION_SEQ,
				TITLE,
				CONTENTS,
				USE_YN,
				DEL_YN,
				REGIST_ID,
				DATE_FORMAT(REGIST_DT,'%Y-%m-%d') AS REGIST_DT,
				UPDATE_ID,
				UPDATE_DT
			FROM NOTICE
			WHERE PK_EDUCATION_SEQ = #{pkEducationSeq}
			OR PK_EDUCATION_SEQ = 0
			ORDER BY REGIST_DT DESC
			LIMIT 5
		]]>
	</select>
	
	<select id="selectNoticeListCount" parameterType="hashmap" resultType="int">
		<!--SELECT
			COUNT(*)
		FROM product A
		WHERE 1=1
		<if test='keyword != null and keyword != ""'>
			AND PROD_NAME LIKE CONCAT('%', #{keyword}, '%')
	    </if>
		<if test='prodType != null and prodType != ""'>
			AND PROD_TYPE = #{prodType}
	    </if>
		ORDER BY A.PK_PROD_SEQ ASC-->
	</select>
	
	<select id="selectNoticeList" parameterType="hashmap" resultType="project.momento.notice.dto.NoticeDto">
		<!--SELECT
			A.PK_RESULT_DETAIL_SEQ					AS pkResultDetailSeq
			, A.PK_PROD_SEQ							AS pkProdSeq
			, A.PK_RESULT_SEQ						AS pkResultSeq
			, A.PK_USER_SEQ							AS pkUserSeq
			, B.PROD_NAME							AS prodName
			, B.PROD_TYPE							AS prodType
			, B.PROD_KEYWORD						AS prodKeyword
			, B.PROD_PRICE							AS prodPrice
			, B.PROD_IMG							AS prodImg
			, B.REGIST_ID							AS registId
			, DATE_FORMAT(A.REGIST_DT,'%Y-%m-%d')	AS registDt
		FROM result_detail A
		INNER JOIN product B
		ON A.PK_PROD_SEQ = B.PK_PROD_SEQ
		WHERE 1=1
		AND A.PK_USER_SEQ = #{pkUserSeq}
		<if test='keyword != null and keyword != ""'>
			AND PROD_NAME LIKE CONCAT('%', #{keyword}, '%')
	    </if>
		<if test='prodType != null and prodType != ""'>
			AND PROD_TYPE = #{prodType}
	    </if>
		ORDER BY A.PK_PROD_SEQ ASC
		LIMIT #{pageStart}, #{perPageNum}-->
	</select>
</mapper>