<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.momento.qna.mapper.QnaMapper">
	<!-- xml파일을 사용할 mapper가 있는 경로 -->
	<insert id="insertQna" parameterType="project.momento.qna.dto.QnaDto">
		INSERT INTO ASK(
			PK_SUBJECT_SEQ
			, TITLE
			, CONTENTS
			, REGIST_ID
			, REGIST_DT
			
		)VALUES(
			#{pkSubjectSeq}
			,#{title}
			,#{contents}
			,#{registId}
			, SYSDATE()
		)
	</insert>
	
	<insert id="insertAskAns" parameterType="project.momento.qna.dto.QnaDto">
		INSERT INTO ASK_ANS(
			PK_ASK_SEQ
			, CONTENTS
			, REGIST_ID
			, REGIST_DT
			
		)VALUES(
			#{pkAskSeq}
			,#{contents}
			,#{registId}
			, SYSDATE()
		)
	</insert>
	
	<select id="getQnaCountForMng" parameterType="int" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM ASK
			WHERE PK_SUBJECT_SEQ = #{pkSubjectSeq}
		]]>
	</select>
	
	<select id="getQnaCountForUser" parameterType="int" resultType="int">
		<![CDATA[
			SELECT COUNT(*)
			FROM ASK
			WHERE PK_SUBJECT_SEQ = #{pkSubjectSeq}
			AND REGIST_ID = (
				SELECT USER_ID
				FROM USER
				WHERE PK_USER_SEQ = #{pkUserSeq})
		]]>
	</select>
	
	<select id="getQnaListForMng" parameterType="project.momento.subject.dto.SubjectDto" resultType="project.momento.qna.dto.QnaDto">
		<![CDATA[
			SELECT 
				A.PK_ASK_SEQ,
				A.PK_SUBJECT_SEQ,
				A.TITLE,
				A.CONTENTS,
				A.COUNT,
				A.REGIST_ID,
				DATE_FORMAT(A.REGIST_DT,'%Y-%m-%d') AS REGIST_DT,
				A.UPDATE_ID,
				A.UPDATE_DT
			FROM ASK A
			WHERE A.PK_SUBJECT_SEQ = #{pkSubjectSeq}
			ORDER BY A.REGIST_DT DESC
			LIMIT #{cri.pageStart}, #{cri.perPageNum}
		]]>
	</select>
	
	<select id="getQnaListForUser" parameterType="project.momento.subject.dto.SubjectDto" resultType="project.momento.qna.dto.QnaDto">
		<![CDATA[
			SELECT 
				A.PK_ASK_SEQ,
				A.PK_SUBJECT_SEQ,
				A.TITLE,
				A.CONTENTS,
				A.COUNT,
				A.REGIST_ID,
				DATE_FORMAT(A.REGIST_DT,'%Y-%m-%d') AS REGIST_DT,
				A.UPDATE_ID,
				A.UPDATE_DT
			FROM ASK A
			WHERE A.PK_SUBJECT_SEQ = #{pkSubjectSeq}
			AND A.REGIST_ID = (
				SELECT USER_ID
				FROM USER
				WHERE PK_USER_SEQ = #{pkUserSeq})
			ORDER BY A.REGIST_DT DESC
			LIMIT #{cri.pageStart}, #{cri.perPageNum}
		]]>
	</select>
	
	<select id="getAnswerListForMng" parameterType="project.momento.subject.dto.SubjectDto" resultType="project.momento.qna.dto.QnaDto">
		<![CDATA[
			SELECT
				A.PK_ASK_ANS_SEQ AS PK_ASK_ANS_SEQ,
				A.PK_ASK_SEQ AS PK_ASK_SEQ,
				A.CONTENTS AS CONTENTS,
				A.REGIST_ID AS REGIST_ID, 
				DATE_FORMAT(A.REGIST_DT,'%Y-%m-%d') AS REGIST_DT,
				A.UPDATE_ID AS UPDATE_ID,
				A.UPDATE_DT AS UPDATE_DT
			FROM ASK_ANS A
			JOIN ASK B
			ON A.PK_ASK_SEQ = B.PK_ASK_SEQ
			WHERE A.PK_ASK_SEQ IN
								(
									SELECT *
									FROM 
										(
											SELECT PK_ASK_SEQ
											FROM ASK
											WHERE PK_SUBJECT_SEQ=#{pkSubjectSeq}
											ORDER BY REGIST_DT DESC
											LIMIT #{cri.pageStart}, #{cri.perPageNum}
										) AS VAL
								)
			ORDER BY B.REGIST_DT DESC, A.REGIST_DT ASC, A.PK_ASK_ANS_SEQ ASC
		]]>
	</select>
	
	<select id="getAnswerListForUser" parameterType="project.momento.subject.dto.SubjectDto" resultType="project.momento.qna.dto.QnaDto">
		<![CDATA[
			SELECT
				A.PK_ASK_ANS_SEQ AS PK_ASK_ANS_SEQ,
				A.PK_ASK_SEQ AS PK_ASK_SEQ,
				A.CONTENTS AS CONTENTS,
				A.REGIST_ID AS REGIST_ID, 
				DATE_FORMAT(A.REGIST_DT,'%Y-%m-%d') AS REGIST_DT,
				A.UPDATE_ID AS UPDATE_ID,
				A.UPDATE_DT AS UPDATE_DT
			FROM ASK_ANS A
			JOIN ASK B
			ON A.PK_ASK_SEQ = B.PK_ASK_SEQ
			WHERE A.PK_ASK_SEQ IN
								(
									SELECT *
									FROM 
										(
											SELECT PK_ASK_SEQ
											FROM ASK
											WHERE PK_SUBJECT_SEQ=#{pkSubjectSeq}
											AND REGIST_ID = 
															(
																SELECT USER_ID
																FROM USER
																WHERE PK_USER_SEQ=#{pkUserSeq}
															)
											ORDER BY REGIST_DT DESC
											LIMIT #{cri.pageStart}, #{cri.perPageNum}
										) AS VAL
								)
			ORDER BY B.REGIST_DT DESC, A.REGIST_DT ASC, A.PK_ASK_ANS_SEQ ASC
		]]>
	</select>
	
	<select id="selectAsk" parameterType="String" resultType="project.momento.qna.dto.QnaDto">
		<![CDATA[
			SELECT *
			FROM ASK
			WHERE PK_ASK_SEQ = #{pkAskSeq}
		]]>
	</select>
	
	<update id="qnaCountUp" parameterType="String">
		<![CDATA[
			UPDATE ASK
			SET COUNT = COUNT+1
			WHERE PK_ASK_SEQ = #{pkAskSeq}
		]]>
	</update>
	
	<delete id="deleteAskAns" parameterType="String">
		<![CDATA[
			DELETE
			FROM ASK_ANS
			WHERE PK_ASK_ANS_SEQ = #{pkAskAnsSeq}
		]]>
	</delete>
</mapper>