<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="project.momento.question.mapper.QuestionMapper">
	<select id="selectQuestionlist" parameterType="project.momento.question.dto.QuestionDto">
		<![CDATA[ 
        	SELECT 
				PK_QUESTION_SEQ		AS pkQuestionSeq
				QUESTION_NAME		AS questionName,
            	LEVEL				AS level,
             	SCORE				AS score,
             	TYPE				AS type,
             	CONTENTS			AS contents,
             	CODE_FORMAT			AS codeFormat,
             	SOLUTION			AS solution,
             	CHANCE				AS chance,
             	CLASS_NAME			AS className,
             	INPUT				AS input,
             	OUTPUT				AS output,
             	USE_YN				AS useyYn,
             	DEL_YN				AS delYn,
             	REGIST_ID			AS registId,	
             	REGIST_DT			AS registDt,
             	UPDATE_ID			AS updateId,
             	UPDATE_DT			AS updateDt,
        	FROM 
        		QUESTION
        	LIMIT 64
        ]]>
	</select>
	<select id="selectQuestion" parameterType="project.momento.question.dto.QuestionDto" resultType="project.momento.question.dto.QuestionDto">
		SELECT  
			    B.PK_QUESTION_SEQ AS PkQuestionSeq,
			    B.QUESTION_NAME AS QuestionName,
			    B.LEVEL AS Level,
			    B.SCORE AS Score,
			    B.TYPE AS Type,
			    B.CONTENTS AS CONTENTS,
			    B.CODE_FORMAT AS CodeFormat,
			    B.SOLUTION AS Solution,
			    B.CHANCE AS Chance,
			    B.CLASS_NAME AS ClassName,
			    B.INPUT AS Input,
			    B.OUTPUT AS Output,
			    B.USE_YN AS UseYn,
			    B.DEL_YN AS DelYn,
			    B.REGIST_ID AS RegistId,
			    B.REGIST_DT AS RegistDt,
			    B.UPDATE_ID AS UpdateId,
			    B.UPDATE_DT AS UpdateDt
			FROM 
			    QUESTION B	
			WHERE 
			    B.PK_QUESTION_SEQ IN (SELECT WA.PK_QUESTION_SEQ FROM TEST_CASE WA)
			    AND B.LEVEL IN 
		<foreach item="item" index="index" collection="levels" open="(" separator="," close=")">
                #{item}
            </foreach>
		
			ORDER BY RAND() LIMIT #{probNum}
	</select>
</mapper>