<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.momento.room.mapper.RoomMapper">	<!-- xml파일을 사용할 mapper가 있는 경로 -->
<!-- INSERT문 -->
<!--
	<insert id="insertRoom" parameterType="project.momento.room.dto.RoomDto">
		<![CDATA[
			INSERT INTO ROOM
			(
				PK_ROOM_SEQ,
				ROOM_NO,
				ROOM_NAME,
				ROOM_PWD,
				ROOM_TYPE,
				ROOM_PLAY,
				ROOM_PLAYTIME,
				ROOM_NUMBER,
				TEAM_NUMBER,
				ROOM_LEVEL
				ROOM_ID,
				ROOM_TIME,
				UPDATE_DT
			) 
			VALUES
			(
				#{pkRoomSeq},
				#{roomNo},
				#{roomName},
				#{roomPwd},
				#{roomType},
				#{roomPlay},
				#{roomPlaytime},
				#{roomNumber},
				#{teamNumber},
				#{roomLevel},
				#{roomId},
				#{roomTime},
				#{updateDt}
				
			)
		]]>
	</insert>
-->
	<!-- namespace는 Mapper 인터페이스의 경로로 설정 -->
	
    <insert id="insertRoom" parameterType="project.momento.room.dto.RoomDto">
        INSERT INTO ROOM(
       			ROOM_NO
        		, ROOM_NAME
				, ROOM_PWD
				, ROOM_TYPE
				, ROOM_PLAY
				, ROOM_PLAYTIME
				, ROOM_NUMBER
				, ROOM_ID
				, ROOM_TIME
				, UPDATE_DT
				, TEAM_NUMBER
				, ROOM_LEVEL
        )
        VALUES (
        #{roomNo}
        , #{roomName}
        , #{roomPwd}
        , #{roomType}
        , #{roomPlay}
        , #{roomPlaytime}
        , #{roomNumber}
        , #{roomId}
        , #{roomTime}
        , #{roomUpdate}
        , #{teamNumber}
        , #{roomLevel}
        )
    </insert>

    <select id="getAllRooms" resultType="project.momento.room.dto.RoomDto">
        SELECT * FROM ROOM
    </select>

    <select id="getRoomByPkRoomSeq" parameterType="int" resultType="project.momento.room.dto.RoomDto">
        SELECT * FROM ROOM WHERE PK_ROOM_SEQ = #{pkRoomSeq}
    </select>

    <delete id="deleteRoomByPkRoomSeq" parameterType="int">
        DELETE FROM ROOM WHERE PK_ROOM_SEQ = #{pkRoomSeq}
    </delete>

</mapper>