<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.momento.sign.mapper.SignMapper">	<!-- xml파일을 사용할 mapper가 있는 경로 -->
<!-- Heidisql연결후 입력 저장-->
	<!-- INSERT문 -->
	<insert id="insertUser" parameterType="project.momento.sign.dto.SignDto">
		<![CDATA[
			INSERT INTO USER
			(	
				PK_USER_SEQ,
				USER_ID,
				PASSWORD,
				NAME,
				PHONE,
				BIRTHDAY,
				ADDRESS,
				DETAILED_ADDRESS,
				EMAIL,
				USER_DIVN,
				REGIST_DT
			)
			VALUES
			(	
				ifnull(#{pkUserSeq}, null),
				#{userId},
				#{password},
				#{name},
				#{phone},
				#{birthday},
				#{address},
				#{detailedAddress},
				#{email},
				#{userDivn},
				SYSDATE()
			)
			ON DUPLICATE KEY UPDATE
			USE_YN = IF(USE_YN != 'D' ,'Y', 'D')
		]]>
	</insert>
	
	<!-- 가입 전체수락 UPDATE --> <!-- permitall 로 전체 수락이 되었을경우 일괄 update -->
	<update id="signAlluser">
		UPDATE USER set USE_YN = 'Y' WHERE USE_YN = 'N'
	</update>
	
	<!-- 가입허가 SELECT문 -->		<!--USE_YN의 상태가 n인 데이터만 모아 리스트로 넘겨주기.-->
	<select id="waitList" resultType="project.momento.sign.dto.SignDto">
		select * from USER where USE_YN = 'N'
	</select>
	
	<!-- 아이디 중복 체크      parameterType: 중복된 id가 있는지 보내는 ,  resultType: 중복된 id가 있거나 없다는 걸 알려주는  -->
 	<select id="checkButton" parameterType="project.momento.sign.dto.SignDto" resultType="int" >
		SELECT COUNT(USER_ID) AS cnt FROM USER WHERE USER_ID=#{userId} AND USE_YN != 'D' <!-- FROM뒤에는 사용하는 table이름 -->
	</select>
	
	<!-- DELETE문 -->
	
</mapper>